[2019-09-09 18:26] kylemh commented on #768
`meet-ups` instead of MeetUps

[2019-09-15 00:34] hollomancer opened #779 "Add VET-TEC to code schools page"
# Feature request
Add VET-TEC as a category under Schools.

## Proposed solution
Currently, each code school card has an entry for the GI bill. Solution involves;
* An entry for both the GI bill and VET-TEC.
* A filter at the top of the page allowing filtering for VET-TEC as a category.

## Additional context
`isVetTecApproved` has been added as a boolean-typed field for the each code school in th

[2019-09-15 23:28] #768 closed

[2019-09-15 23:28] #769 closed

[2019-09-16 01:15] calincionca35 commented on #771
Wording suggestion for the displayed message:
"You were successful in creating your account! Please check your email for your invitation to our Slack channel!"

[2019-09-20 05:04] calincionca35 opened #787 "Link Podcast Card on About Us page to Podcast page"
# Feature request

Improve UX
## Proposed solution

Link Podcast Card on About Us page to Podcast page
## Potential alternative solutions

## Additional context

[2019-09-20 06:19] #787 closed

[2019-09-21 04:07] isa3bel commented on #726
Is this issue resolved?

[2019-09-22 01:19] kylemh commented on #726
@isa3bel nope!

[2019-09-24 16:15] isa3bel commented on #726
after opening the mobile version, there didn't seem to be a need to scroll, all items seem to be visible ending with Donate.

[2019-09-24 16:19] isa3bel commented on #727
I may try to tackle this!

[2019-09-24 20:18] kylemh commented on #726
@isa3bel look again - it just coincidentally looks clean, but items are missing.

[2019-09-24 22:05] #779 closed

[2019-09-28 02:26] calincionca35 opened #806 "Link Community Events Card on About Us page to Events page"
# Feature request

Link between Community Events Card on About Us page and Events page
## Proposed solution

Create link between Community Events Card on About Us page and Events page. This link would improve UX.
## Potential alternative solutions

## Additional context

[2019-09-29 00:14] #806 closed

[2019-10-01 08:56] #663 closed

[2019-10-01 09:07] kylemh commented on #14
We're going to move towards creating a component library where we won't need to police this as much.

[2019-10-01 09:07] #14 closed

[2019-10-01 13:23] kencollier3 commented on #345
This looks like a post that has gone dark. @aaron-suarez @kylemh would you like me to take a crack at it?

[2019-10-01 13:24] kencollier3 commented on #447
Ok so this also looks like it's gone stale. Want me to look at this too @kylemh ?

[2019-10-01 15:55] DEBSUBHRO commented on #345
![Mockup](https://user-images.githubusercontent.com/42496309/65978713-d4050380-e491-11e9-89ef-a6985e453f93.jpg)

I hope that you will find it somewhat useful.

[2019-10-01 16:13] aaron-suarez commented on #345
@kencollier3 PRs are accepted 😄 I have no vested interest in seeing this through, I made a comment on slack and someone suggested I make an official feature request so I did. If you can make it happen, I believe it would add value to the organization. Thanks for volunteering.

[2019-10-01 17:37] ksmacleod99 commented on #584
dibs.
Just point me in the right direction so I can start swinging, boss (@kylemh)

[2019-10-01 17:44] kylemh commented on #345
@kencollier3 I was thinking of taking this one on myself as a pet-project for Hacktoberfest

[2019-10-01 17:44] kylemh commented on #447
@kencollier3 this one needs to get done ASAP - feel free to snag, but we're not reserving things anymore ❤️

[2019-10-01 18:02] kylemh commented on #584
You've got a whole repo you're in charge of!

I'll be working on a component library for you.

Please use Emotion in the blog repo and go forth making a Gatsby app!

[2019-10-01 18:10] kencollier3 commented on #447
Fair enough.

[2019-10-01 19:35] gagandeepp commented on #448
assign this to me

[2019-10-01 19:41] kylemh commented on #448
We can’t assign non-members. Also, we don’t reserve issues anymore. There’s a PR open for this already! Make sure you use it as a guide.

[2019-10-01 19:55] prmsrswt commented on #727
I would like to take up this issue. I have looked into the resources @kevinkiklee and @kylemh provided. From what I have understood, we need at least `og:title`, `og:type`, `og:url`, `og:image`, `og:image:alt` and `og:description` meta tags, and the image should be `1.91:1` for best results. Is there anything else I am missing?

[2019-10-01 20:29] kylemh commented on #727
If you check out `components/head.js` you'll see that we have:

[code]

Looks like we could use `og:type` and `og:image:alt`. Thanks for the specific image ratio! I uploaded a correct one: https://operation-code-assets.s3.us-east-2.amazonaws.com/branding/og_meta_image.png

You can change the default prop for `ogImage` with the above.

https://operation-code-assets.s3.us-east-2.amazonaws.com/brandi

[2019-10-01 21:59] #727 closed

[2019-10-02 18:47] RanadeepPolavarapu commented on #521
I can tackle this.

[2019-10-02 19:13] kylemh commented on #521
what do u have in mind!?

[2019-10-03 07:19] #726 closed

[2019-10-04 05:21] #713 closed

[2019-10-05 02:27] brittanyjoiner15 commented on #447
I would love to help with this! But I’m quite a newbie and only familiar with HTML/CSS at the moment.

So I am assuming a it’s kinda like a mini nav bar structure?

I’ll take a look at storybook!

[2019-10-05 05:05] kylemh commented on #447
You know how you make a google search and page numbers show up below where each link goes to the next page? You’re just defining the UI for that.

If you’d like to setup some time, we could maybe meet next week to start off the work with paired programming. Just slack me.

[2019-10-05 15:42] brittanyjoiner15 commented on #447
Yeah let's do that - i'll slack you.

[2019-10-05 19:01] kylemh opened #840 "Ban future imports of enzyme using ESLin"
# Feature request
I want this code base to only use `@testing-library/react` going forward.

## Proposed Solution

Use [no-restricted-imports](https://eslint.org/docs/rules/no-restricted-imports) to ban ESLint for future usages. Add `// eslint-ignore-next-line no-restricted-imports` on all existing instances. Add a message indicating to devs they should use `@testing-library/react`

[2019-10-05 19:47] RanadeepPolavarapu commented on #840
I'll take this.

[2019-10-05 20:21] #840 closed

[2019-10-05 20:28] saf94 commented on #521
Hey guys, is anybody working on this? If not i'd love to pick this up, i've looked into it a bit and may have some ideas

[2019-10-05 20:38] RanadeepPolavarapu commented on #521
@saf94 I am currently looking into it.

[2019-10-05 20:46] kylemh commented on #521
No worries about reserving anything! If you wanna take a whack, take a whack.

[2019-10-05 22:05] #526 closed

[2019-10-06 00:40] hydrosquall commented on #523
Hi @kylemh , does Operation Code already have a Cloudinary account?

It looks like the following subtasks could come from this issue, based on the React-SDK docs for Cloudinary: https://cloudinary.com/documentation/react_integration

- a `cloudName` for the account which hosts cloudinary's pictures
- Something in the build step for this project which uploads the contents of the `/static/images` fo

[2019-10-06 01:01] hydrosquall commented on #582
Hi @kylemh, I'm interested in taking a pass at this. From looking at the comment, it looks like it's sufficient to generate an identifier based on concatenating IP Address with browser agent. Would that work for this project's purposes, or would you want additional types of metadata included as well?

[2019-10-06 01:04] hydrosquall commented on #582
*Edit- Actually, while the User Agent can be easily pulled with javascript, the IP address still needs to be returned from an additional HTTP request. Does it seem feasible to have the login endpoint return the IP address from which the login request was made? If this ends up being more involved / isn't something you're looking to have someone from the outside handle (since it potentially touches

[2019-10-06 03:34] #582 closed

[2019-10-06 03:40] kylemh commented on #523
No account yet because we haven’t heard back about non-profit pricing. Lemme bother again this week and come back to you.

[2019-10-06 14:03] ojaswa1942 opened #845 "Migrate to Hooks"
The code presently uses class components & lifecycle methods.
However, React 16.8.0 release introduces a more intuitive & functional approach towards development which is more likely to be used in the future.

## Steps to resolve the issue:
Replace Class and Class-based methods (state, lifecycle, PureComponent etc.) to functional approach (useState, useEffect, memo, etc.)

## Keep in mind:
https:/

[2019-10-06 14:05] ojaswa1942 commented on #845
We can do the migration in parts - per component basis.. rather than completely migrating all the components together. Anyway, I'd like to carry this forward.

[2019-10-06 15:35] manthonyg commented on #845
Here is a link to the docs

https://reactjs.org/docs/hooks-overview.html

[2019-10-06 16:15] kylemh opened #850 "Migrate off of enzyme to react testing-library"
# Feature request

Using react testing-library means our tests will be more centered around the DOM and I’ll have more confidence in their value. Also, our tests will be less likely to change.

## Proposed solution

- Uninstall all enzyme dependencies
- Redo all tests using enzyme with react testing-library.
- Remove the lint rule banning enzyme imports.

Note: this is a lot of work for a single P

[2019-10-06 16:33] kylemh commented on #845
I would personally love to see #850 done before this, but I see nothing wrong with somebody doing this work!

Similar to what I said in #850, I’ll consider somebody having contributed towards this PR if they convert 5 components.

[2019-10-06 16:45] #664 closed

[2019-10-06 16:49] pranshuchittora commented on #527
I have implemented a stepper from in my recent project. [click here to view](https://srmmun.in/register/photo)
What about implementing something like it ??

[2019-10-06 16:56] ojaswa1942 commented on #845
@kylemh great, I'll go ahead then

[2019-10-06 17:04] kylemh commented on #527
I'd prefer something close to what @IAMOTZ designed.

The only differences from his design I'd like to see:
- The progress bar itself is underneath the header (as opposed to above the button(s)).
- The text for the progress bar exists above the bar, centered horizontally.

[2019-10-06 17:10] kylemh commented on #766
I'll go ahead and close this.

I'll be making our component library using TypeScript FWIW!

[2019-10-06 17:10] #766 closed

[2019-10-06 17:17] #521 closed

[2019-10-06 17:39] kylemh opened #851 "Upgrading Cypress leads to a very flakey test"
# Bug Report
## What is the current behavior?
Our Cypress tests are a little flakey, but not prohibitively so. On #718, [tests simply timeout](https://circleci.com/gh/OperationCode/front-end/3174?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link), and we're not sure why.

@AllenAnthes any context you can provide in the comments, please do!

## What is the expected

[2019-10-07 06:32] bautistaaa commented on #851
I work with cypress pretty extensively.. I can take look

[2019-10-07 07:37] kylemh commented on #851
https://dashboard.cypress.io/#/projects/dbquo6/runs/2001/specs here is a failing spec. I've seen the failure above pretty rarely, and I've seen the other code school page error (the one about IntersectionObserver in the link). Both are the flakey ones that I'm okay with.

This Cypress upgrade leads to like 90% failures which sucks...

[2019-10-07 07:50] kylemh commented on #851
Also, looks like [other people have been experiencing the same issue](https://github.com/cypress-io/cypress/issues/5139).

Luckily, [it appears that a possible solution will be released shortly](https://github.com/cypress-io/cypress/issues/5139#issuecomment-537232858)!

[2019-10-07 12:59] chynh commented on #447
@kylemh is this issue still up for grabs or is it already been taken care of?

[2019-10-07 13:55] itaditya commented on #850
I'd love to work on it. Can you tell me which 5 tests are the most impactful and you would benefit the most by migrating to react-testing-library.

[2019-10-07 14:09] itaditya opened #854 "Make the form flow in a single direction."
# Bug Report
## What is the current behavior?
Currently the SignUp form is designed like this

<img width="748" alt="image" src="https://user-images.githubusercontent.com/15871340/66318405-dd321c80-e938-11e9-9fc9-0d5b6b364f24.png">

## What is the expected behavior?
The form should flow in one direction from top to bottom.

## Why is it bad?

It is a good UX practise to design the form with single

[2019-10-07 14:14] itaditya commented on #854
Even NNGroup, the world leader in Research based UX suggests one-column layout https://www.nngroup.com/articles/web-form-design/

<blockquote>
Present fields in a single column layout. Multiple columns interrupt the vertical momentum of moving down the form. Rather than requiring users to visually reorient themselves, keep them in the flow by sticking to a single column with a separate row for eac

[2019-10-07 16:06] kylemh commented on #854
I’ve messaged our designer this issue to confirm that it’s something we want to do!

[2019-10-07 16:09] kylemh commented on #447
A PR for it exists, so I’d look elsewhere.

[2019-10-07 16:10] kylemh commented on #850
I appreciate the gesture, but you can just pick 5 at random! The longest ones will be the least likely to get done by the community! If you feel so inclined, just tackle the biggest test files first.

[2019-10-08 03:15] rusye commented on #845
@ojaswa1942 are there any components that you are concentrating on?
@kylemh I'm not that good with tests but do you know of anyone else switching to hooks?

[2019-10-08 06:30] kylemh commented on #845
Well, if you’re not comfortable writing tests, I think trying a to handle a few from #850 is a great idea.

You already know the assertions and the tests already pass. You’ve just got to change the way that each test runs! Give it a shot.

[2019-10-08 08:18] DEBSUBHRO commented on #345
Sorry @kylemh

[2019-10-08 08:20] DEBSUBHRO commented on #771
Can I propose a mockup?

[2019-10-08 08:21] DEBSUBHRO commented on #80
Can I suggest a design/mock?

[2019-10-08 10:18] ojaswa1942 commented on #845
Going my way from simpler components such as buttons, and cards to more complicated components such as nav and forms.

[2019-10-08 16:01] kylemh commented on #80
Yes please. Think of it as a similar interface to the code schools page.

[2019-10-08 16:33] gagandeepp commented on #845
That sounds good I will be working on it as well

[2019-10-08 17:35] chynh commented on #845
Hey all, I am also interested in contributing to this issue. Currently working on a few simple components.

[2019-10-08 17:37] kylemh commented on #845
@gagandeepp @chynh @ojaswa1942 would you please just type out the names of the components you'll tackle here so we don't get overlap?

[2019-10-08 17:51] chynh commented on #845
@kylemh I can work on ZipRecruiterJobs, join, SocialGroupLogin, change_password, ChangePasswordForm.

[2019-10-08 18:08] ojaswa1942 commented on #845
I can work on FlatCard, SchoolCard, Nav, NavMobile, NavListItem.

[2019-10-08 22:08] kylemh opened #856 "Integrate Cypress test coverage and combine reports with it and Jest `lcov` report"
# Feature request
We have unit test coverage, but that doesn't account for the code run in `pages`, where as Cypress _does_. We've abused jest's config surrounding ignored folders/files from coverage report and it gives us an unfairly happy representation our test coverage.

I'd like to remove a lot of that abuse, but can't do so unless we're reporting our entire test coverage accurately.

## Prop

[2019-10-08 22:11] kylemh commented on #854
Feel free to tackle this. Note that you'll need to edit our form components such that the errors are showed to the right of the inputs. That'll be a bigger ask than one might think, as they're conditionally rendered and their content may span multiple lines.

[2019-10-08 22:37] joshwooding commented on #845
I can work on Button, CloseButton, Professional Details, Technology and Military Details.

[2019-10-08 22:43] kylemh commented on #845
@joshwooding, I would avoid the Multi-step form component and any Multi-Step Form's steps (you listed Professional Details, Technology, and Military Details).

I'll edit OP to indicate which ones are super duper hard.

[2019-10-08 23:11] joshwooding commented on #845
@kylemh Cool, I've updated the list above. Is it okay now?

[2019-10-08 23:44] kylemh commented on #845
💯

[2019-10-09 04:18] tusharpandey13 commented on #854
Hi! I would like to take on this issue @kylemh

[2019-10-09 04:31] kylemh commented on #854
Give it a shot!

[2019-10-09 06:40] vobango commented on #850
I would like to contribute to this aswell.
@itaditya have you chosen which tests to work on so we don't accidentally migrate the same ones.

[2019-10-09 07:09] itaditya commented on #850
Good point @vobango. I'll let you know by today. If you have started working on some test let me know as well, I won't pick those.

[2019-10-09 07:11] itaditya commented on #854
@kylemh I can add a prop which something like `errorAlign`. If it is explicitly set to `right` then I will align them to right otherwise they will come below only. This way all the other places where the Form Components are used won't be affected.

[2019-10-09 07:15] vobango commented on #850
Thanks! I will probably start working on this tomorrow so I'll give an update then.

[2019-10-09 07:19] kylemh commented on #850
Comment the names of the 5 suites you plan on migrating before tackling them so you don't step on anybodys' toes!

[2019-10-09 07:21] tusharpandey13 commented on #854
@itaditya according to that webpage, aren't ALL forms supposed to flow vertically only?

[2019-10-09 07:22] kylemh commented on #854
The problem there is you'd still want to define styles for when `errorAlign="right"` correctly.

If you're gonna do that work anyways, might as well just make them all have their error messages render on the right, since it will look a lot better.

[2019-10-09 07:33] #729 closed

[2019-10-09 09:36] itaditya commented on #854
@kylemh since I'm new to the project, I don't know how many places the Form is used and if it would be correct to align all errors to right. In case of a long form like say 13 fields, one study showed that it was better to have 2 column layout as otherwise the user finds the work exhausting.

I want to restrict the scope of the task to the registration page so that once that is done, we can one by

[2019-10-09 12:47] ojaswa1942 commented on #845
Hey, I'm not well-versed with testing yet and the tests for the Nav components fail after porting to hooks.
`ShallowWrapper::state() can only be called on class components`
It seems that the functions in tests used are only for class components. I tried finding an alternative but couldn't find a decent non-"react-testing-library" solution.
Please help out :(

[2019-10-09 15:54] kylemh commented on #854
No form has more than 9 fields. Just do a global search for Form

[2019-10-09 17:28] #447 closed

[2019-10-10 00:58] ojaswa1942 commented on #845
`When using state from hooks, your test must ignore implementation details like state in order to properly test it. You can still make sure the component passes the correct state into its children.` they say..
@kylemh  In that case, I can rewrite to not test the state variation, but the reaction of that state change?

[2019-10-10 01:08] kylemh commented on #845
Yep! That’s why I mentioned that #850 would be a good move to do first, but there exist SOME components that don’t test implementation details so it wasn’t a hard rule.

I’m almost home from work and I’ll rework that test for you 👍

[2019-10-10 01:47] rusye commented on #850
@kylemh Would the guys that are working on hooks be rewriting the tests at the same time?  So just curious if I should proceed with this.

https://github.com/OperationCode/front-end/issues/845#issuecomment-540273543

[2019-10-10 02:22] kylemh commented on #850
They aren't necessarily, but it'd be cool if they decided to! Great way to knock out 2 PRs at once.

[2019-10-10 02:27] rusye commented on #850
A lot of overlapping happening, I guess I'll have to monitor what goes on in both of the issues.

[2019-10-10 03:36] kylemh commented on #850
You can easily do any of these on their own.

You may or may not be able to do some from #845 without changing the tests.

[2019-10-10 03:40] kylemh commented on #845
@ojaswa1942 done 💃 with Nav and NavMobile https://github.com/OperationCode/front-end/pull/861

[2019-10-10 06:15] rusye commented on #850
@kylemh thank you for the example :)

[2019-10-10 10:20] vobango commented on #850
I chose **ErrorDisplay**, **Label**, **Modal**, **OutboundLink** and **YouTubeVideo** suites as they weren't mentioned in #845
If anyone has already started working on any of those, please let me know, I'll choose another suite.

[2019-10-10 17:40] kylemh opened #867 "Use existing or create custom lint rule for proptype definitions to exist above function declaration"
# Feature request
I **don't** want to see:

[code]

I want to see:

[code]

## Proposed solution
Create a custom lint rule to automate my above preferences.

## Potential alternative solutions
I couldn't find one, but if you can find an existing lint rule to do this, please do that!

[2019-10-10 17:42] kylemh commented on #845
Keep https://github.com/OperationCode/front-end/issues/867 in mind y'all!

[2019-10-10 19:46] itaditya commented on #854
Registration form is done

![operation-code-registration-form](https://user-images.githubusercontent.com/15871340/66601002-7cb70f80-ebc4-11e9-8ae6-b998c9e10be8.gif)

I have absolute positioned the error messages when on desktop so that there is no reflow in the form elements.

[2019-10-10 19:46] chynh commented on #850
I would like to work on **SocialLoginGroup.test.js**, **MilitaryDetails.test.js**, **MilitaryStatus.test.js**, **ProfessionalDetails.test.js**, **Technology.test.js**.

[2019-10-10 20:11] kylemh commented on #854
I look forward to the PR 🕺

[2019-10-10 21:43] itaditya commented on #854
Please review it here https://github.com/OperationCode/front-end/pull/868

[2019-10-10 21:56] itaditya commented on #850
I will work on **Badge.test.js, Button.test.js, FlatCard.test.js, SchoolCard.test.js, LinkButton.test.js**

[2019-10-10 22:00] #854 closed

[2019-10-10 22:02] itaditya commented on #850
Here's a better representation

|Test file   |Assigned|
|---|---|
|  ErrorDisplay |  @vobango |
|  Label | @vobango  |
|  Modal | @vobango  |
|  OutboundLink |  @vobango |
|  YouTubeVideo |  @vobango |
|  SocialLoginGroup | @chynh  |
|  MilitaryDetails | @chynh  |
|  MilitaryStatus |  @chynh |
|  ProfessionalDetails |  @chynh |
|  Technology | @chynh  |
|  Badge | @itaditya |
|  Button | @itaditya

[2019-10-10 22:12] kylemh commented on #850
I'll put that into OP on next update and maintain it

[2019-10-10 22:38] itaditya commented on #845
@kylemh can I work on a separate PR to migrate UpdateProfileForm to hooks as well as writing its tests with @testing-library/react? Would it be counted separately?

[2019-10-11 14:58] chrisgalvan commented on #714
is the idea of group them similar to this https://2019.jsconf.us/sponsors/?
I could work on something real quick, or if you have an idea/mock let me know.

[2019-10-11 18:54] kylemh commented on #850
Another note I added to OP, cuz it's hard to make a lint rule for it and I'm seeing many people do it.

When doing the conversion please follow the following pattern:
[code]

`wrapper` is a term usually referring to enzyme wrappers.

[2019-10-11 19:33] kylemh commented on #714
Yes, maybe even with titles designating and explaining the differences in group.

[2019-10-11 19:45] chrisgalvan commented on #714
what should the titles say? Paid Sponsors vs ''?

[2019-10-11 19:57] #527 closed

[2019-10-11 21:21] kylemh commented on #714
In-Kind Sponsors

[2019-10-11 21:24] kylemh commented on #714
So something like

## Paid Sponsors

These sponsors have donated cash to help keep the mission going here at Operation Code. They may or may not have also donated to our cause via others means.

---

## In-Kind Sponsors

The following organizations have helped Operation Code through services, products, advertisements, scholarships, or sponsorships. We thank them for their contributions.

[2019-10-12 03:43] LeviButcher commented on #850
I will convert **CloseButton, Select, NavListItem, ArticleGroup, and RegistrationForm**.

From what I can tell **UpdateProfileForm, PasswordResetForm, and LoginForm** are left.

[2019-10-12 05:22] kylemh commented on #850
@LeviButcher assigned 👍

[2019-10-12 10:55] kylemh commented on #850
I see Badge, Button, FlatCard, SchoolCard, ChangePasswordForm, MultiStepForm, Input, Label, Select, LinkButton, NavListItem, PasswordResetForm, RegistrationForm, UpdateProfileForm, YouTubeVideo all still using enzyme.

[2019-10-13 21:04] jasonappah opened #874 "Sponsor logos are stretched"
# Bug Report
## What is the current behavior?
Some of the logos are being stretched to 100x100 px. An example of this would be US Bank.

## What is the expected behavior?
The logos shouldn't be stretched and should appear at the correct aspect ratio.

## What steps did you take to get this behavior?
I opened the website up.

## Additional Info
### Operating System
macOS 10.14.6 (Build 18G95)

It l

[2019-10-13 21:05] jasonappah commented on #714
I'll give this one a shot!

[2019-10-13 21:12] kylemh commented on #874
Looks like US Bank is the one culprit. I'll just change the asset in s3.

Good catch!

[2019-10-13 21:12] #874 closed

[2019-10-13 21:25] jasonappah commented on #874
Thanks!

[2019-10-13 21:42] calincionca35 opened #875 "Create new LinkedIn and GitHub SVG"
# Feature request

Current LinkedIn and GitHub SVGs in the footer look different from the Facebook, Twitter, and Instagram SVGs.
## Proposed solution

Create new LinkedIn and GitHub SVGs for the footer using Adobe Illustrator that look like the Facebook, Twitter, and Instagram SVGs.
## Potential alternative solutions

## Additional context

[2019-10-13 22:35] kylemh opened #876 "Switch from `react-svg-loader` to `svgr`"
# Feature request
`react-svg-loader` may be the only issue preventing us from upgrading to the latest version of Storybook, and it routinely causes me issues in terms of using a very old version of `svgo`

## Proposed solution
Drop `react-svg-loader` integration from `.storybook/webpack.config.js` and `next.config.js`. Integrate `svgr` and ensure that our SVGO rules are obeyed (inside `common/conf

[2019-10-13 23:59] vickywane commented on #876
Hi , i'd like to work on this .

[2019-10-14 00:31] kylemh commented on #876
Closed in #877

[2019-10-14 00:31] #876 closed

[2019-10-14 00:37] #875 closed

[2019-10-14 04:15] LeviButcher commented on #850
Ah my bad. I didn't realize CloseButton and ArticleGroup had been done. I will replace those with PasswordResetForm and UpdateProfileForm.
I got 3 out of 5 and should be ready soon. :+1:

[2019-10-14 04:51] #448 closed

[2019-10-14 04:55] kylemh commented on #661
The Pagination and ResourceCard components exist now. All the components to create the mock exist, so we're unblocked 🎉

[2019-10-14 06:30] frontend210 commented on #845
Hi @kylemh  I am new guy to Operation projects, who want to contribute.

[2019-10-14 06:48] frontend210 commented on #850
Hi @kylemh I'd like to run into converting on Badge, Button, FlatCard, SchoolCard.
Can you please assigned them to me?

[2019-10-14 07:18] kylemh commented on #845
@itaditya sounds good to me!

[2019-10-14 07:22] kylemh commented on #845
Here are all that are left!

[Looks like Next.js actually enables functions as well as classes](https://github.com/zeit/next.js#fetching-data-and-component-lifecycle), so those are back on the menu.

![Screen Shot 2019-10-14 at 12 21 22 AM](https://user-images.githubusercontent.com/9523719/66734603-96e92b80-ee18-11e9-92e5-a9349cbe81d6.png)

[2019-10-14 07:24] kylemh commented on #850
@frontend210 all of those have been done already! You'll want to simply do a global search for `from 'enzyme';` in the code base to find spots that need a refactor!

[2019-10-14 10:46] #414 closed

[2019-10-15 02:32] LeviButcher commented on #845
I'll migrate over **LoginForm, RegistrationForm, PasswordResetForm, code_schools, and _error**

[2019-10-15 11:00] Nikhil-Vats commented on #714
@jasonappah Are you working on this? If not, I would like to contribute to this. @kylemh Can I start working?

[2019-10-15 20:15] JakobTeske commented on #845
I'll migrate  **Team**, **UpdateProfile**, **Podcast**, **PasswordReset** and **PasswordResetConfirm**

[2019-10-15 21:14] prmsrswt commented on #850
I would like to do some of these, I think no one is converting `ChangePasswordForm`, `Input`, `MultiStepForm`, `LinkButton` so I would like to take them on. Also @LeviButcher converted `LoginForm` in place of `UpdateProfileForm` in #879 so I guess `UpdateProfileForm` is still up for grabs.

[2019-10-15 23:10] kylemh commented on #850
@prmsrswt check out the OP table - some of those are taken

[2019-10-15 23:35] prmsrswt commented on #850
Oh, my bad. I actually converted `ChangePasswordForm` and `Input` tests :sweat_smile: so if anyone wants a reference they can take a look [at the diff here](https://github.com/OperationCode/front-end/compare/master...prmsrswt:react-testing-patch).

Should I convert `MultiStepForm` an `UpdateProfileForm` then?

[2019-10-16 02:04] calincionca35 opened #888 "Create OperationCode Sitemap"
# Feature request

OperationCode needs a Sitemap.
## Proposed solution

Create OperationCode Sitemap
## Potential alternative solutions

## Additional context

[2019-10-16 02:08] kylemh commented on #850
Those will be girthy - I'll count it as 5 for you 💃

[2019-10-16 16:40] kylemh commented on #888
I'm on this

[2019-10-16 18:44] kylemh commented on #845
Whoops

[2019-10-16 23:04] #714 closed

[2019-10-17 02:12] jasonappah commented on #714
I ended up getting stumped as to how to filter the in-kind vs paid sponsors on the page.

[2019-10-17 03:58] kylemh commented on #714
https://github.com/OperationCode/front-end/pull/889

Check out the way @chrisgalvan if you'd like to learn about one solution!

[2019-10-17 05:41] #614 closed

[2019-10-18 02:02] jasonappah commented on #714
Thanks! I'll take a look!

[2019-10-18 16:43] chynh commented on #856
Hey @kylemh, I've been playing around with this and I think I have something promising but I am not 100% sure since my experience in this topic is somewhat limited. Should I go ahead and make a PR or what would be the best way to go from here?

[2019-10-18 18:21] kylemh commented on #856
PR for sure!

[2019-10-19 18:01] shivam1192 opened #892 "Donate button UI improvement"
# Feature request

Donate button UI doesn't match with the UI of other button like as of Learn more, Donate now etc.
## Proposed solution

What we can do is, after hovering to Donate button, the boundary and text color is of blue and entire filling of the button is of white color.
## Potential alternative solutions

The UI after the changes become better and hence matches with the overall button t

[2019-10-19 18:17] kylemh commented on #892
It’s okay to have one-offs!

This would require a lot of design so I’m gonna close it. I appreciate you looking for things to contribute though.

[2019-10-19 18:17] #892 closed

[2019-10-21 21:46] #867 closed

[2019-10-24 23:42] ojaswa1942 commented on #845
Any updated list of available components?

[2019-10-25 23:18] kylemh commented on #888
Fixed

[2019-10-25 23:18] #888 closed

[2019-10-26 13:18] anusha5695 commented on #856
Hi Any updates on this?

[2019-10-27 01:30] C-Lion commented on #771
What format is preferred for the mockup? PDF? XML?

[2019-10-28 22:13] kylemh commented on #771
Just a screenshot here is fine. The PR itself is posted for work to be complete regarding development.

[2019-10-28 22:14] kylemh commented on #771
From @C-Lion:

https://user-images.githubusercontent.com/14170817/67628481-de3ad780-f86e-11e9-876f-cbf06beef533.png

[2019-10-28 22:15] kylemh commented on #856
It's being actively worked on in #893

[2019-10-29 03:07] C-Lion commented on #771
The issue labels are for a design/mock only. If you want the page built, it should indicate that in the issue description & indicate where it should be placed and probably use the correct labels so people know what you really want done.

[2019-10-29 03:55] kylemh commented on #771
The labels just indicate work that's required before the ticket is resolvable. If you hover over the label it will say: "The feature requires design input and/or mocks."

You can only resolve issues in this (and most repositories) with code, unless otherwise specified.

[2019-10-29 03:59] hydrosquall commented on #661
Duplicating some notes from my PR description, I think there are plenty of other subtasks for this page in case any others who would like to work on this too.

Be warned that you can only fetch data from the server side in getInitialProps because of the access control headers on resources api, efforts to use the API from the clientside will just get you console warnings. Not sure if the current AP

[2019-10-29 06:38] kylemh commented on #661
That's actually the point of `getInitialProps`. It forces fetching to occur on the server. This is ideal for the resources page so that we can dynamically generate valuable metadata to improve our SEO.

Although, perhaps you only meant to highlight that client fetching isn't possible at all. Paging @aaron-suarez in regards to that.

Agreed completely on the PR being perfect as is. I'm not even rea

[2019-10-29 15:11] aaron-suarez commented on #661
@hydrosquall What needs to happen on the API side to allow for client fetching (or do we even want that?)

@kylemh I looked briefly at the PR, it seems we're missing the Algolia search bar (and the people from Algolia would certainly like to remind you it needs to say "Powered By Algolia" somewhere on the page.

Also, it looks like there's no way to navigate to it on the top bar. Maybe that should

[2019-10-29 16:06] hydrosquall commented on #661
@kylemh thanks for taking a look! I'll do a style fix after work.

@aaron-suarez

My thought was to not add a navigation item until the page has some interaction capabilities. I was wondering how it's decided what links live in top vs bottom bar - for example, "history" is only in the footer but not the top bar.

I was thinking it would be good to prevent the page from being discoverable while it

[2019-10-29 19:21] aaron-suarez commented on #661
That's a good point. @kylemh we don't have a search bar component do we? Do we want to make an issue for that and get that PR in before we merge #918 ?

[2019-10-29 20:23] kylemh commented on #661
We have a text input which can easily be made into a search bar! This is just a first-pass at the page. We won't be able to filter items unless the API is queryable via the client though...

[2019-10-29 20:44] kylemh commented on #845
`UpdateProfileForm`, `withAuthSync`, `nextContextMock`, and `createPage/builders` is all that remains

[2019-10-29 21:28] aaron-suarez commented on #661
Is it a CORS issue?

[2019-10-29 21:47] kylemh commented on #661
Could be!

[2019-10-29 21:58] hydrosquall commented on #661
Yep, it’s CORS. (I mixed it up with the other 4 letter security acronym
earlier, CSRF)

On Tue, Oct 29, 2019 at 5:47 PM Kyle Holmberg <notifications@github.com>
wrote:

[2019-10-30 13:03] hydrosquall commented on #661
I suppose we could do away with client side data fetching if every click
loads the whole page again using query parameters

https://stackoverflow.com/questions/43862600/how-to-get-query-string-parameters-from-url-in-next-js

On Tue, Oct 29, 2019 at 5:58 PM Cameron Yick <cyick709@gmail.com> wrote:

[2019-10-31 02:14] aaron-suarez commented on #661
Though I do somewhat like the idea of searches being shareable via a link... probably not for the MVP, but something to think about

[2019-10-31 06:47] kylemh commented on #661
That will already be possible 👍

In terms of being RESTful, we'll be matching the browser URL up (query strings) to the filters being applied.

[2019-10-31 14:09] 3b3ziz commented on #845
I will migrate UpdateProfileForm.

[2019-11-01 01:00] chynh commented on #661
Hey all, just wondering if this issue is being taken care of. I have been working on this issue on my own and am close to putting together search bar and create resource component so let me know if additional help is needed.

[2019-11-01 17:15] kylemh commented on #661
Feel free to keep working! We can resolve merge conflicts later.

[2019-11-02 23:32] rusye commented on #845
I'll do `withAuthSync`

[2019-11-04 02:52] rusye commented on #845
Could anyone give me advice with `nextContextMock`?

I'm not exactly certain what I need to return to make it all work, here is what I have so far: `/* eslint-disable react/sort-comp */
import React from 'react';
import { any, object } from 'prop-types';
import MockedRouter from './nextRouterMock';

// https://github.com/zeit/next.js/issues/5205#issuecomment-422846339

MockNextContext.propTypes =

[2019-11-05 10:44] joelrivera1808 opened #929 "wtf"
# Bug Report
## What is the current behavior?
e.g. After logging in, my whole page is upside down!

## What is the expected behavior?
e.g. After logging in, my whole page should be right-side up.

## What steps did you take to get this behavior?
e.g. I logged in...

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

### Screenshots

[2019-11-05 10:44] #929 closed

[2019-11-12 00:12] #856 closed

[2019-11-13 00:22] kylemh opened #937 "Integrate Cypress Retry plugin in CI"
# Feature request
One way I've been resolving flaky CI is by simply manually re-running tests.

## Proposed solution
Put this: https://github.com/Bkucera/cypress-plugin-retries into our repo and enable it only for CI if possible and retry stuff 3 times.

[2019-11-18 22:14] kylemh opened #947 "Cannot register with apostrophies in name"
# Bug Report
## What is the current behavior?
Doing names like: N'golo or O'Hara are impossible due to incorrect validation of the name inputs.

## What is the expected behavior?
The name fields should have no validation.

## What steps did you take to get this behavior?
Noticed a Cypress test failing with randomly generated data

### Screenshots
![Screen Shot 2019-11-18 at 2 13 01 PM](https://use

[2019-11-19 18:20] cmgonzales commented on #947
Hi Kyle,

can I try this?

Thanks

[2019-11-19 20:55] kylemh commented on #947
Go ahead! Note: I've changed the expected behavior.

[2019-11-19 23:30] #937 closed

[2019-11-29 11:00] aasifkhan7 commented on #947
Hi,
Can I work on this issue?

[2019-11-29 11:20] aasifkhan7 commented on #947
I have generated a PR for the same:
https://github.com/OperationCode/front-end/pull/957

[2019-11-30 09:55] #947 closed

[2019-12-01 00:32] rusye commented on #845
@kylemh I don't have the time to deep dive into custom hooks at the moment so if you could delete my PR #930 so that it could be opened up to someone else it would be greatly appreciated.

[2019-12-01 01:43] kylemh commented on #845
No need! I'll close it if/when it gets resolved by anybody.

[2019-12-01 23:46] kylemh commented on #851
Closed in #960

[2019-12-01 23:46] #851 closed

[2019-12-03 02:20] #850 closed

[2019-12-03 03:02] #845 closed

[2019-12-03 03:03] kylemh commented on #845
Good work everybody! We ended up not touching `nextContextMock` and `withAuthSync` as they depend on Next.js specific things.

I'm gonna be working on distributing the Operation Code t-shirts ASAP from Hacktoberfest

[2020-01-12 15:22] cbituin commented on #771
Has there been any progress or any other mocks submitted on this?

[2020-01-12 16:18] cbituin commented on #345
Anyone make progress on this during HF?

[2020-01-12 17:40] calincionca35 opened #1019 "Dynamically update OC member count on OC website"
# Feature request

OC member count on OC website is a rough estimate because it is hard coded.
## Proposed solution

It would be nice to have a dynamic updating of current member count on OC website by retrieving this information from OC Slack API.
## Potential alternative solutions

## Additional context

[2020-01-12 18:46] kylemh commented on #345
I’ve been bouncing ideas off of designer friends. No solid moves yet. Hopefully soon.

[2020-01-12 18:51] kylemh commented on #771
Nope. You’re welcome to snag!

[2020-01-19 00:45] tristinDLC commented on #1019
I haven't looking into their current methodology, but the last I looked when doing something similar for another Slack team I belong to, you'd have to query `user.list` to get a total list of users and then count that list to return a total number of members. I don't think there is an actual attribute for just purely returning a member count. So we should probably use #general for the channel to q

[2020-01-21 02:50] cbituin commented on #345
A few example sites:
https://www.shopify.com/success-stories
https://www.salesforce.org/success-stories/
https://marketing.twitter.com/na/en/success-stories
https://www.codecademy.com/stories
https://teamtreehouse.com/stories

Seems like a common theme is some type of large banner/carousel at the top, with cards below. I suppose the estimated number of stories is also going to play a role in the s

[2020-01-21 09:40] kylemh commented on #345
I'm a fan of Team Treehouse's approach with a featured top story, a data visualization to quickly realize the scale of our impact, and then tons of expandable stories. I'm not sure a heat map of the world is the best way to visualize impact...

I'd love if we could do data collection on salaries before and after transitioning, so that we can visualize the monetary impact Operation Code has had on

[2020-01-22 02:09] cbituin commented on #345
![https://appdevelopermagazine.com/app-developer-salary-(infographic)/](https://user-images.githubusercontent.com/38743840/72859152-76870380-3c88-11ea-9752-e8c378064aef.png)

What about some type of infographic like this (maybe not so cartoon-like?) that highlights more than salary, and shows running totals? Some ideas:
- % of transition service members
- Branch representations
- Average age/ age

[2020-01-26 07:04] thecodestuff opened #1033 "In Join form, password validation message not displaying correctly"
When a user doesn't supply a password which include combination of lower case and uppercase letters , a validation message flashes beside password field .This message is rendering outside of assigned div due to its length . see below screenshot

![Screenshot from 2020-01-26 12-05-27](https://user-images.githubusercontent.com/35068786/73131788-49937180-4037-11ea-9b5f-ee2be97d409f.png)

To reproduce

[2020-01-26 07:46] kylemh commented on #1033
This issue is being handled by the original reporter.

[2020-01-26 11:53] thecodestuff commented on #1033
Thanks @kylemh  for assigning me this .

[2020-01-27 16:57] aaron-suarez commented on #345
Infographic is an interesting idea. I think it's awesome to have more personalized stories though. I'm not set on one format or the other.

[2020-01-27 17:50] kylemh commented on #345
I was thinking both! Everything we can do to help visitors visualize potential success.

[2020-01-30 23:22] kylemh opened #1045 "Adjust .browserslistrc to exclude Internet Explorer"
# Feature request
While not ideal visually, we've still done our best to support IE11.

We haven't had a single visitor using the Internet Explorer Browser in 3 months according to Google Analytics. Since it's so unpopular, we can stop supporting it entirely. **That requires changing the `.browserslistrc`.**

Aside from this change, this issue can serve as weak PSA that we are also allowed to use

[2020-01-31 20:46] cbituin commented on #345
Yes, I was definitely thinking along these lines with the graphic..

[2020-02-19 05:17] ivanmartinezmorales commented on #1045
Has anyone picked up this ticket? I'd like to pick it up.

[2020-02-19 05:20] ivanmartinezmorales commented on #1045
Actually, looks like someone picked up this ticket. https://github.com/OperationCode/front-end/commit/70c063d49d9c858ee07d2fd89aa8f90d6d8bec27

[2020-02-19 05:25] ivanmartinezmorales commented on #1045
Okay, I took a look at the deploy logs on Netlify and the storybook creation is failing with the following error:

`9:12:15 PM: ERR! Module build failed: BrowserslistError: Unknown browser IEMob`

Failure in Zeit was as follows ```

  | Browserslist: caniuse-lite is outdated. Please run next command `yarn upgrade`
-- | --```

[2020-02-20 09:13] kylemh commented on #1045
Sorry if you spent any time on this. The issue was resolved as you mentioned - just forgot to tie the PR to this issue.

Resolved in https://github.com/OperationCode/front-end/pull/1047

[2020-02-20 09:13] #1045 closed

[2020-02-23 21:50] kylemh commented on #1033
Closed in #1034

[2020-02-23 21:50] #1033 closed

[2020-02-23 22:38] kylemh opened #1052 "Integrate MDX and create blog"
# Feature request
I would like www.operationcode.org/blog/{article-name} to route to the appropriate blog entry stored in a root-level `~/blogArticles` folder (does not yet exist). `{article-name}` is a variable which will match with the article's `title` attribute.

[Here is an integration example which DOES NOT use dynamic routing.](https://github.com/messa/nextjs-mdx-blog-example/)

To be clear

[2020-02-29 16:26] hollomancer opened #1054 "Add link for VA's official VET-TEC providers"
# Feature request
From Tom Cal - right now, we don't provide any direct connection to the VA's list of VET-TEC providers.

## Proposed solution
Add a link for the VA's official list of Vet Tec providers, near / just below the "SCHOOLS ACCEPTING VET TEC"  button filter.

https://www.benefits.va.gov/GIBILL/FGIB/VetTecTrainingProviders.asp

note from Conrad - There are a few different ways we can ref

[2020-02-29 16:32] hollomancer opened #1055 "Add VET-TEC field to code schools submission form"
# Feature request
From Tom Cal;

In the form for submitting information about code schools at https://api.operationcode.org/forms/codeschool ,
I suggest the following changes:
-- Add a field for "Vet Tec eligible?" (Yes/No)
-- Change "VA Accredited?" to "GI Bill eligible?" (Yes/No)

[2020-02-29 16:40] kylemh commented on #1054
<img width="582" alt="Screen Shot 2020-02-29 at 11 40 02 AM" src="https://user-images.githubusercontent.com/9523719/75611405-3f5a0c80-5ae8-11ea-8563-07f881265c3c.png">

Must have missed this!

[2020-02-29 16:40] #1054 closed

[2020-02-29 16:44] kylemh commented on #1055
Discussed on Slack

[2020-02-29 16:44] #1055 closed

[2020-03-03 21:58] ivanmartinezmorales commented on #1019
When you're talking about the number of members, are you referring to the number of members on the `/who_we_serve` page? I see what you're saying about the value being hard coded. It would be nice to have this value become a dynamic value over having it hard coded.

And while I agree the Slack API would be a great avenue to pursue this solution, I think that requires implementing `state` into our

[2020-03-03 22:02] ivanmartinezmorales commented on #1019
Also on the subject of fetching data: would a more sustainable solution moving forward be implementing a store? Or could we expose an endpoint in the op-code backend service? I might be getting far too ahead of myself here.

[2020-03-03 22:28] kylemh commented on #1019
We could expose an endpoint from OC back-end, but we're trying to tie it to our Slack instance instead. Did you read @tristinDLC's post?

[2020-03-04 03:43] ivanmartinezmorales commented on #1019
I did. I understand what he’s saying, as far as wiring into the component, how would you prefer we go about it? Where would we make the request to the Slack API? In `who_we_serve.js`? Or do we have an instance of a redux store somewhere? Also does OC already have a provisioned Slack API key?

Don’t mean to overcomplicate things, I would just like to enumerate the potential solutions and which solu

[2020-03-07 19:12] kylemh commented on #1019
Yeah, making that call either on the client or in getInitialProps (server render lifecycle for Next.js) should work. Are you on Slack? DM me and I’ll send a token to use and also put it into CI. Please ensure you don’t check it in 🙏

[2020-03-08 02:35] ivanmartinezmorales commented on #1019
Sweet, I'll ping you on Slack. I'll triple check that I leave it out!

[2020-03-08 02:55] kylemh opened #1071 "create-component script doesn't create correctly named CSS file"
# Bug Report
## What is the current behavior?
Running `yarn create-component AnyComponent` yields a new folder in the `components` folder, but the CSS file is titled `AnyComponent.css`.

## What is the expected behavior?
It should be titled `AnyComponent.module.css`.

[2020-03-08 18:44] ivanmartinezmorales commented on #1019
Morning everyone, I went ahead and implemented that method in my fork. Let me know your thoughts/comments/suggestions: [here](https://github.com/ivanmartinezmorales/front-end/blob/31eb398ec6feb8b83dbb96c2faeebc2b9ea20db0/pages/who_we_serve.js#L144-L163)

[2020-03-09 00:32] ivanmartinezmorales commented on #1071
I can take a look at this issue. 💯

[2020-03-09 00:38] AranzaBonanza commented on #1071
Apologies for being late, I'd like to take it if possible.

[2020-03-09 01:45] #1019 closed

[2020-03-10 08:27] #1071 closed

[2020-03-15 00:29] cbituin commented on #345
Throwing this idea out there or else I'll forget to bring it up - Certain success stories could be linked to a podcast episode if they did one?

[2020-03-15 19:06] kylemh commented on #345
Great idea.

[2020-03-31 21:28] Lianis-Operations opened #1078 "Update OC Web Based Learning Scholarship Policy"
As a user, after I login at `/login`, I will be redirected to `/profile` page. If I checked the "Want To Receive Scholarship Info" box during registration, I should see a LinkButton which opens [this link](https://drive.google.com/file/d/1s4PsrUzs2MU4itCA44x1VBzX7Gd77H8n/view?usp=sharing) in a new tab.

Notes for devs:
- API Documentation is here: https://api.operationcode.org/docs/
- You'll want

[2020-04-07 23:19] datphotogurl opened #1091 "Add conversion events for donations and registrations"
# Feature request

## Proposed solution
Please leverage the following scripts in the `head` portion of `pages/_document.js` as seen [on Stack Overflow](https://stackoverflow.com/questions/60179994/setup-properly-google-tag-manager-on-nextjs-with-datalayer). The environment variable is available to you in `common/config/environment.js`

[2020-04-09 20:12] markchernov commented on #1078
@Lianis-Operations Can you post a link to scholarship policy location on https://operationcode.org/?

[2020-04-09 23:36] Lianis-Operations commented on #1078
Hi! No, I can’t do that unfortunately.

[2020-04-10 14:57] markchernov commented on #1078
I was't able to find scholarship policy text in the code to update.

[2020-04-10 22:56] Lianis-Operations commented on #1078
Oh I see what you mean. I posted the link when I submitted the request.

It is:
https://drive.google.com/file/d/1s4PsrUzs2MU4itCA44x1VBzX7Gd77H8n/view

If you have additional questions, please let me know.

Thank you so much for your help!

Lianis

On Fri, Apr 10, 2020 at 4:57 PM Mark Chernov <notifications@github.com>
wrote:

--
Lianis Solla
Operations Manager | Operation Code
* Phone *+34.643.05

[2020-04-10 23:18] markchernov commented on #1078
Lianis, thanks for quick response. I do see the updated policy in google drive, but I could not find current policy neither in source code nor on operationcode.org website. Just need a pointer to where to apply this update. Thanks, Mark

[2020-04-11 03:38] kylemh commented on #1078
@Lianis-Operations @markchernov

Sorry for any confusion. We dont render the scholarship information anywhere on the website.

There is a flag that we pass to the back-end during a user's registration. Perhaps this dictates whether or not we send some link/text to the new user via email?

@AllenAnthes does this sound correct? Can we change the info in the back-end repo or is it a static doc on s3

[2020-04-11 19:10] AllenAnthes commented on #1078
Currently I'm not sure we're doing _anything_ other than just setting the `wants_scholarship_info` field on the user's profile.  It doesn't look it it's being used anywhere else.

[2020-04-11 19:27] kylemh commented on #1078
Is that flag sent to the client as part of any GET request’s response? If so we could use it to render this info.

[2020-04-11 19:44] AllenAnthes commented on #1078
Looks like all of the current user's profile fields get serialized for the `/auth/user` endpoint.

[2020-04-11 21:22] kylemh commented on #1078
Cool. Sounds like we can conditionally render a LinkButton on the /profile page which just links to that word doc. Not an ideal user experience, but it accomplishes what we need for now.

Does that sound okay @markchernov ? You should see that flag via the response on login.

[2020-04-11 22:57] markchernov commented on #1078
So after I login at https://operationcode.org/login, I will be redirected to /profile page and if I see wants_scholarship_info  field on the response object, I should display LinkButton that opens up https://drive.google.com/file/d/1s4PsrUzs2MU4itCA44x1VBzX7Gd77H8n/view in a new tab?

[2020-04-12 02:36] kylemh commented on #1078
Yes :) perfect

Also, it'll be a new API request function which uses the endpoint described above. Should just resolve successfully if a token exists on the request - no params needed.

[2020-04-20 07:13] kylemh commented on #1091
Blocked until #1096 is in.

[2020-04-20 22:22] kylemh commented on #1091
Merged and unblocked.

[2020-04-27 04:44] #1091 closed

[2020-05-06 00:48] #1052 closed

[2020-05-06 01:12] kylemh opened #1114 "Make all blog articles render their content nicely"
# Feature request
Blogs are rendered with one fragment and are using the Container element which is flex row

## Proposed solution
https://github.com/OperationCode/front-end/blob/master/pages/blog/%5Barticle%5D.js#L49

Just wrap Article in a flex column container where everything is left-aligned.

Test that things look pretty at `/blog/hello-world`

[2020-05-06 01:24] kylemh opened #1115 "Create blog index page"
# Feature request
We need a page in `/pages/blog/index.js` that acts as a system of listing the available blogs and rendering that list as pretty links that display meta data.

## Proposed solution
The page should use SSG like the [dynamic blog routes file](https://github.com/OperationCode/front-end/blob/main/pages/blog/%5Barticle%5D.js) to get a list of the articles and pass the array as a prop.

[2020-05-06 01:35] kylemh opened #1116 "Add linting for MDX files"
# Feature request
We now have a way for authors to platform article, but it _is_ still brone to mistakes since `mdx` is technically a programming language. To automate review and to give developers a way to quickly triage issues in blogs, we should us elinting

## Proposed solution
For now, let's only integrate https://github.com/mdx-js/eslint-mdx (use the recommended ruleset) and https://github.c

[2020-05-06 01:41] kylemh commented on #1116
https://github.com/mdx-js/eslint-mdx/issues/147

Apparently we may run into issues in dealing with frontmatter (blog meta content).

If you do please, immediately let me know and open your pull request as-is so we can provide a reproduction to the `eslint-mdx` issue.

[2020-05-06 02:00] kylemh opened #1117 "Integrate Google Captcha to prevent bogus form entries"
# Feature request
With #1095 in, I can see more user-facing forms beyond registration on the horizon. I'd rather not wait until they exist to create a system for preventing bot swarms on our site.

## Proposed solution
Integrate Google Captcha with [this library](https://github.com/dozoisch/react-google-recaptcha) (the instructions provided by this library are top-notch 👏 )

For now, let's just im

[2020-05-06 21:29] Too-Far commented on #1117
I'll work on this unless anyone else is dying to do it

[2020-05-07 02:13] kelsyvghn commented on #1114
can I take this as my very first issue? Is there a deadline for it to be completed as well?

[2020-05-07 05:17] kylemh commented on #1114
We would love for you to contribute! No deadline, but also we don’t allow issue claiming. If you do it, you do it!

[2020-05-07 05:28] kelsyvghn commented on #1114
Ok great!

[2020-05-08 01:35] kelsyvghn commented on #1114
I made a PR

[2020-05-08 02:20] #1114 closed

[2020-05-08 19:39] danyalasif commented on #1117
@Too-Far Are you working on this? I can take a shot at this for a first issue. :)

[2020-05-08 19:40] Too-Far commented on #1117
I am, I got hung up on something but I think I figured it out.

[2020-05-24 04:20] mikerod-sd opened #1124 "Redesign Join page"
# Feature request

Add wording on https://operationcode.org/join that explains why we collect demographic information

Also add wording on next page after submit (or whatever page is returned after final submit) that outlines how to join slack (i.e. "Thanks for submitting your information, please be on the lookout for an email which will have a link to join our slack")

## Proposed solution

See a

[2020-05-24 10:44] Too-Far commented on #1124
I can tackle this if you guys want! I should be able to do it Tuesday night if not sooner.

[2020-05-28 15:25] jeffsnff opened #1125 "Flush out OpCode user profile page and easy access to slack after signup"
# Feature request

Display the users information after signup / login on users profile page so the user will be able to see what exactly they have entered and can decided to update profile accordingly. As well as add a link onto profile page to either...

  1. Request a new slack invite ( in case said user lost theirs )
or
  2. Link to the page [Find Your Community](https://slack.com/get-started#/

[2020-05-28 15:25] jeffsnff commented on #1125
I would like to take this up myself as well.

[2020-05-30 17:03] ksmacleod99 commented on #1115
@kylemh it appears #1114 has been resolved. Do we still need the ‘Status: Blocked’ label?

[2020-05-30 17:06] ksmacleod99 commented on #402
@kylemh is there a specific issue this is blocked by?

[2020-05-30 20:24] kylemh commented on #1115
No, good shout!

[2020-05-30 20:25] kylemh commented on #402
There's no back-end endpoints for events. We have the ability to make a UI based off of events on all our Meetups, but no way of easily getting that data.

[2020-06-07 22:31] chynh commented on #397
I took a shot at this and was able to migrate to storybook 5.1.11. I know someone was already working on this but seemed like it has not been touched for months. Is it okay if I make a PR?

[2020-06-08 01:26] kylemh commented on #397
@chynh that would be huge. I was about to dive into this myself but was waiting for v6 to release.

Feel free to open the PR at will.

[2020-06-15 06:21] #397 closed

[2020-06-19 22:07] kylemh commented on #661
Resolved in #1100

[2020-06-19 22:07] #661 closed

[2020-06-19 22:10] kylemh commented on #523
I doubt this will ever get done since they won't respond to my non-profit requests 😭

[2020-06-19 22:10] #523 closed

[2020-06-22 18:09] aaron-suarez opened #1136 "Resources page needs "Powered By Algolia""
# Bug Report
## What is the current behavior?
Currently, the page at https://operationcode.org/resources doesn't display a little note "Powered By Algolia". In order to continue using their service for free under their Open Source/Non Profit plan, we need to have this.

## What is the expected behavior?
The user should be able to see "Powered by Algolia" near the search bar

## What steps did you

[2020-06-22 18:40] kylemh commented on #1136
Let's put it here:

<img width="1254" alt="1rem underneath the input bar, but aligned to the right border" src="https://user-images.githubusercontent.com/9523719/85323623-30271200-b47d-11ea-9fe4-6ac4401bc8a1.png">

[2020-06-22 22:50] #1136 closed

[2020-06-22 23:28] aaron-suarez commented on #1136
Thanks, y'all! The Algolia people like it!

[2020-06-23 12:50] ksmacleod99 commented on #1125
@jeffsnff are you working on this? You claimed it, it’s yours :)

[2020-06-23 13:04] jeffsnff commented on #1125
I am actually! Thank you.

[2020-06-27 19:56] ksmacleod99 opened #1141 "Duplicate current registration form and move it to a new, public route"
# Feature request
We want to create a user survey that looks a lot like registration in the information it gathers. It will eventually be accessed via a slash command on Slack.

## Proposed solution
- Duplicate current registration form
- move it to a new, public route called “survey”

## Additional context
Related to operationcode-pybot issue #184 and backend issue #347

[2020-06-27 19:59] ksmacleod99 opened #1142 "Create new form on front-end to trigger user connection process"
# Feature request
Create a new form to trigger user connection process between Slack and OC profiles

## Proposed solution
Create a new form to trigger user connection process between Slack and OC profiles

## Additional context
Related to backend issue #346

[2020-06-27 19:59] ksmacleod99 commented on #1142
@kylemh in your mind, will this need a design?

[2020-06-27 22:23] kylemh commented on #1142
No. The form should have 4 inputs in two groupings.

Your OperationCode.org email and your Slack email

[2020-06-27 23:31] JohnGoure opened #1143 "Text disappears when hovering over link on the About Us page."
# Bug Report
## What is the current behavior?
Using the Chrome 83 browser navigate to the About Us page, scroll down to the WHAT WE DO section and hover your mouse the We have a podcast link. The text for the WHAT WE DO section disappears.

## What is the expected behavior?
The text in the WHAT WE DO section, in the About us page, should remain and a tool tip should be provided.

## What steps did

[2020-06-30 19:12] jeffsnff opened #1145 "Users can register with just an empty space for a name"
# Bug Report
## What is the current behavior?
When signing up for Operation Code, you can sign up without entering any characters but a space. ( I currently did this so my first and last name come back as " " << blank space )

## What is the expected behavior?
You should have to type in an actual name example John Doe.

## What steps did you take to get this behavior?
In the first and last name in

[2020-06-30 19:15] jeffsnff opened #1146 "PII is stored in browser cookies"
# Bug Report
## What is the current behavior?
Once logged in, a user's first name, last name, and zip code are being tracked in the browser cookie storage.

## What is the expected behavior?
Instead, wherever we need this info we should make an API request using the `getUserPromise` method. We only need to store the token in the cookie (for now - this, too, is changed eventually).

## What steps d

[2020-06-30 19:17] jeffsnff opened #1147 "Update more fields of a users profile"
# Feature request
Currently, when a user goes to update their profile, they can not change, zip code, first name or last name. A user should be able to change these since people get married, divorced, change names, as well as move.

## Proposed solution
Add a few more text inputs that will allow a user to input a name / address change.

[2020-07-06 02:13] aaron-suarez opened #1159 "Languages and Category components do not populate when navigating to the page"
# Bug Report
## What is the current behavior?
When navigating to https://operationcode.org/resources/1?category=minorities directly, there is nothing populated in the "Category" dropdown. Luckily, it still filters for the correct category, but it does not show in the component and this isn't ideal because there's also nothing telling you what the current filters are (and perhaps the real solution

[2020-07-06 02:45] aaron-suarez opened #1160 "Resources page doesn't always show resources even when they exist"
# Bug Report
## What is the current behavior?
Sometimes when there are indeed resources available, the page shows "This search yielded no results. Try searching for something else." Example: https://operationcode.org/resources/1?q=devhints

## What is the expected behavior?
When there are resources available, the page should show those resources

## What steps did you take to get this behavior?
Go

[2020-07-06 03:50] manthonyg commented on #1160
When I recreate this it is actually showing the error for ANYTHING I use the search input to search.

[2020-07-07 05:20] manthonyg commented on #1160
So I looked through this and I found at least one of the problems:

In [#1140](https://github.com/OperationCode/front-end/pull/1140) I did a hotfix to make sure it was querying for `page 0` if using the search endpoint. What I missed is this line...

`if (fetchedResources.length === 0 || fetchedNumberOfPages === 0)`

...will throw an error because it assumes there were no resources returned whenev

[2020-07-07 12:57] aaron-suarez commented on #1160
You're right @manthonyg, for some reason the API is no longer returning `number_of_pages` and it should be. The only thing I can think of is that we recently bumped the algolia library to a newer version. Perhaps something changed with it and that broke. I'll dig in deeper today and find out for sure.

Side note, I suspected that our unit tests around `/search` weren't doing anything and I think t

[2020-07-07 13:05] aaron-suarez commented on #1160
@mike-lloyd03 we introduced this when we did https://github.com/OperationCode/resources_api/pull/340 because we missed the change from `pagination_details` to `details` on the search endpoint:

https://github.com/OperationCode/resources_api/blob/main/app/api/routes/search.py#L75

I knew that those unit tests for the search endpoint were faulty, this definitely should have been caught. @mike-lloyd0

[2020-07-07 13:21] mike-lloyd03 commented on #1160
I can take it. I should have some time tonight to take a look.

[2020-07-07 13:23] aaron-suarez commented on #1160
Ok great! Try to see about why the unit tests for `search` didn't catch it and fix that too. If you have any trouble or need anything hit me up on slack, I should be available tonight

[2020-07-08 16:48] aaron-suarez commented on #1160
Fixed in https://github.com/OperationCode/resources_api/pull/345 which has been deployed to production.

[2020-07-08 16:48] #1160 closed

[2020-07-11 02:24] chrismgonzalez commented on #1147
I think I could probably tackle this one!

[2020-07-11 11:01] jeffsnff commented on #1147
@chrismgonzalez Do it man! If you need any help, let me know in Slack, and I can explain it better if need be.

[2020-07-12 17:39] kylemh opened #1163 ""Profile" nav item has "Donate" styles sometimes"
# Bug Report
## What is the current behavior?
Sometimes the "Profile" item in the nav bar has a blue background, like the "Donate" item.

## What is the expected behavior?
The "Profile" item should never look like the "Donate" item.

## What steps did you take to get this behavior?
1. www.operationcode.org/login
2. login
3. notice that "Profile" is correct
4. reload
5. notice that "Profile" has st

[2020-07-13 06:06] kylemh opened #1165 "Ban default imports of lodash"
# Feature request
Leverage [`no-restricted-imports`](https://eslint.org/docs/rules/no-restricted-imports) rule in our ESLint config with the following setup:

[code]

[2020-07-15 05:16] #1165 closed

[2020-07-16 19:39] cbituin commented on #1143
Attempted to replicate issue to determine if it spans OS/Browser version. Replication unsuccessful.

Operating System
Windows 10 Pro

Browser
Version 84.0.4147.89 (Official Build) (64-bit)

[2020-07-16 21:41] kylemh commented on #1143
I may have accidentally fixed it. @JohnGoure can you confirm?

[2020-07-17 02:06] #1125 closed

[2020-07-17 03:54] thecodestuff commented on #1163
Hi Kylemh
I can reproduce this issue , I like to work on this .

[2020-07-17 04:55] kylemh commented on #1163
@thecodestuff go for it!

[2020-07-20 04:23] #1159 closed

[2020-07-25 06:32] kylemh opened #1171 "Convert stylesheets for page files to `styled-jsx`"
# Feature request
All of this work stems from this issue: https://github.com/vercel/next.js/issues/15284
It's technically feature work, but also a workaround to resolve bugs.

- I want to ban CSS imports in files under the `pages` folder (except `_app.js`).
- Convert the existing stylesheets to use `styled-jsx` instead
- Ensure that none of the style regressions exist any longer (I'll check for th

[2020-07-25 06:33] kylemh commented on #1147
Closed in #1161

[2020-07-25 06:33] #1147 closed

[2020-07-27 07:51] #1171 closed

[2020-07-28 02:11] sairina opened #1175 "Update OC Challenge Page Directions"
# Bug Report
## What is the current behavior?
Directions after step 2 on the [OC Challenge Page](https://www.operationcode.org/challenge) (forking the repo) are out of step with the current codebase.

## What is the expected behavior?
One should be able to complete the task easily by following the directions fully, e.g. the `/static` folder lives in another directory.

## Additional Info
### Opera

[2020-07-28 02:18] sairina opened #1176 "OC Challenge Page: Make scrollable list for names added to page"
# Feature request
There are currently 50 names displayed on the [OC Challenge page](https://www.operationcode.org/challenge), but it would be beneficial if we had a scrollable list.

## Proposed solution
Make the current list of names on the page scrollable.

## Potential alternative solutions
Have columns, but they would still need to be scrollable.

[2020-07-28 06:04] #1175 closed

[2020-07-30 19:15] justin-reeves commented on #1145
Is this being worked on yet? I would like to tackle it if not.

[2020-07-30 19:30] kylemh commented on #1145
go for it

[2020-07-30 19:30] justin-reeves commented on #1176
Would like to try and tackle this today if no one else is already working on it!

[2020-07-30 19:41] datphotogurl commented on #1124
Adding continued functionality requests to the https://operationcode.org/join page:

1. Add checkbox and new window expansion for "I have read the Operation Code's _**Code of Conduct**_ and agree to abide by it during my time as a member."
2. Add checkbox and new window expansion of rules "I agree to adhere to _**Slack's Community Guidelines**_"

Screenshot of La Techqueria's Join page is attached

[2020-07-30 19:56] kylemh commented on #1124
No back-end needed. We'll just do front-end validation regarding these checks since they're not legal in nature.

[2020-07-30 19:57] kylemh commented on #1124
@datphotogurl can we get links to the two policies? I'd consider this ready to be worked on if we have those links (assuming we'll copy... their copy)

[2020-07-30 20:08] kylemh commented on #1176
@sairina were all the names not visible to you? The list doesn't appear to be truncated.

[2020-07-30 20:43] datphotogurl commented on #1124
Hi @kylemh, I was walking through this issue with Lianis as an exercise, but yes, I can add the two sets of content. Currently, the Code of Conduct is being updated by the Board and Mods.

The link for the Code of Conduct: https://github.com/OperationCode/operationcode_docs/blob/master/community/code_of_conduct.md

We do not currently have a repo for a Slack Community Guideline but I can write up

[2020-07-30 21:25] kylemh commented on #1124
I would just make a new markdown file in that same repo!

[2020-07-30 22:19] sairina commented on #1176
Hey @kylemh, it was a feature @aaron-suarez pointed out that could be improved for the future! I think currently, it's correct, but as more names are added, it may be nice to allow for scrolling instead of a long list.

[2020-07-30 22:45] justin-reeves commented on #1176
Will be working on this today to perform actions discussed in [Slack](https://operation-code.slack.com/archives/C04FASBU9/p1596141056203700) with @kylemh .

Plan is to create flexible columns to display a number of names per column with as many columns as can fit into max-width of the section.

[2020-07-31 23:11] #1145 closed

[2020-07-31 23:30] #1176 closed

[2020-08-03 06:32] jmayergit commented on #1146
On a separate note, how will this eventually be changed?

Thank you

[2020-08-03 07:17] kylemh commented on #1146
@jmayergit we're currently in the process of throwing away our authentication system and instead solely leveraging Slack OAuth as a means for people to authenticate. We'll be leveraging Auth0 as a 3rd party service and our authentication will be HTTP only.

[2020-08-20 16:17] kylemh commented on #1124
@datphotogurl can we get agreed upon content for this?

[2020-08-20 20:20] datphotogurl commented on #1124
Yes, I need to work on it on the weekend as my weekday schedule is ramped
up now.

*Cynthia S. Kao,*
Founder and Lead Producer,
*Rebirth Media LLC*
+1(202)716-5860
https://ckaojohnson.wix.com/rebirthmedia

* <https://www.facebook.com/RebirthMediaLLC>
<https://instagram.com/datphotogurl/> <https://twitter.com/datphotogurl>*

*Notice of Confidentiality:The information transmitted is intended only fo

[2020-08-27 16:13] aaron-suarez opened #1197 "Resources Page: prompt user to log in when upvoting/downvoting and submitting or editing a resource"
# Feature request

The Resources page has an upvote/downvote feature. This only works when the user is logged in. The user should be prompted to log in or sign up when clicking it if they are not already logged in/signed up.

## Proposed solution

Please create a modal popup that has a login form to enter your username and password, as well as a link to the /join page in case they don't have an ac

[2020-08-27 16:18] aaron-suarez opened #1198 "Resources page: form to upload a new resource"
# Feature request

The API allows an authenticated user to upload a new resource or edit an existing one. This functionality should be available on the /resources page as well.

## Proposed solution

There should be a button that says "Add a new resource" or perhaps just "New Resource". When you click the button, if you're not logged in, you should get the same modal described in #1197. If you are

[2020-08-27 16:43] kylemh commented on #1198
@aaron-suarez I know that Laura made us a modal for this, and spent a brief moment of time looking for it on Slack search. That would be valuable to put here.

[2020-08-28 04:40] aaron-suarez commented on #1198
Per slack discussion, we couldn't find the good mockup from Laura. But here is a really basic drawing that I did in about 5 minutes which has the relevant fields and basic shape of what the form might look like:

<img width="653" alt="Screen Shot 2020-01-27 at 2 38 32 PM" src="https://user-images.githubusercontent.com/2008701/91521965-a3eefc00-e8be-11ea-8361-d93428824c9c.png">

[2020-08-30 15:27] TallanGroberg commented on #1198
Hello, If no one is working on this I will start working on this issue.

[2020-08-30 18:06] datphotogurl commented on #1197
I'm working on design needs on this issue today.

[2020-08-30 18:10] aaron-suarez commented on #1198
@TallanGroberg please wait until we have #1197 complete. We need a way to prompt the user to log in before we provide the form to submit a resource

[2020-08-30 18:59] datphotogurl commented on #1197
![Login_PopUp](https://user-images.githubusercontent.com/51416206/91667279-5c8c8980-ead1-11ea-8f24-8da50c87ba6f.png)

[2020-08-30 19:10] aaron-suarez commented on #1197
Looks great! Thanks for this @datphotogurl

[2020-08-30 21:54] datphotogurl opened #1199 "Login/Join button separate from the drop down under "Who We Serve""
**Feature Request**
Remove "Login" an "Join" which currently is a drop down in the top nav bar under "Who We Serve". This is not highly visible and users do not know to go to "Who We Serve" to find this information.

**Proposed Solution**
Place "Join" as it's own tab on the top nav or Login/Join as links beside an Avatar logo where members can upload a profile photo to indicate when they're logged

[2020-08-30 22:05] datphotogurl opened #1200 "Create a Resources Tab on Top Nav"
**Feature Request**
Currently, the Resources page (https://www.operationcode.org/resources/1) is not public, and hard to find on the site unless someone searches on a search engine or knows the direct URL.

**Proposed Solution**
Proposed solution is to make "Resources" as it's own tab on the top nav.

**Potential Alternative Solutions**
Move "Resources" as a drop-down under "About Us" but this is

[2020-08-30 22:27] datphotogurl commented on #1198
![Upload Resource Modal](https://user-images.githubusercontent.com/51416206/91670761-61ac0180-eaee-11ea-99c4-b2daccd87535.png)

For exports of each individual graphic element needed, please contact me.

[2020-08-30 22:33] datphotogurl commented on #1200
![Upload Resource-Login-Join Link](https://user-images.githubusercontent.com/51416206/91670841-442b6780-eaef-11ea-8cb3-9b6b7275d6a0.png)

Suggested mock-up

[2020-08-31 00:09] TallanGroberg commented on #1198
Ok, I'll start working on this.

Should I get ahold of you on slack?

[2020-08-31 00:15] aaron-suarez commented on #1198
Yeah we can chat on slack or on here, it's up to you. I'm usually faster to respond on Slack, but I'll see it on GitHub as well

[2020-08-31 01:34] datphotogurl commented on #1198
@TallanGroberg if you need any of the graphic buttons/icons, hit me up on Slack (@CynK) and I'll send to you.

[2020-08-31 20:18] calincionca35 opened #1201 "Add OC YouTube channel to OC Social Media"
# Feature request

OC YouTube channel is not currently featured in the OC Social Media links
## Proposed solution

Add OC YouTube channel to OC Social Media links
## Potential alternative solutions

## Additional context

[2020-08-31 21:12] #1201 closed

[2020-09-02 18:52] TallanGroberg commented on #1198
I'm making good progress on this issue, I just have to figure out how to verify if a user is logged on or not.

[2020-09-02 22:52] aaron-suarez commented on #1198
@TallanGroberg If you want, we can create an endpoint on the API that just simply checks if you have valid credentials with your request. It would return a 401 if you're not logged in, but a 200 if you are logged in, without making any changes to resources on the server. Right now, that type of endpoint doesn't exist.

For security reasons (XSS/CSRF mitigation), there is no way to view the cookie

[2020-09-02 22:58] TallanGroberg commented on #1198
I think making an endpoint to check for would be the best idea. Maybe there is a better idea but that will get the job done.

[2020-09-02 23:00] cynk commented on #1198
Hello- can you all remove me from this thread? I think you have the wrong
cynk.

On Wed, Sep 2, 2020 at 3:58 PM Tallan Groberg <notifications@github.com>
wrote:

[2020-09-02 23:02] kylemh commented on #1198
Actually, the auth token and some other data is stored via cookies. We already do an `isLoggedIn` check in the Nav Bar (to conditionally render the `"Log Out"` option.

As Aaron noted, this isn't the safest practice, but I'm okay with you continuing knowing that once we resolve this vulnerability, it's still totally valid to reference a boolean cookie in the hopes of... eagerly assumptive logged i

[2020-09-02 23:34] datphotogurl commented on #1198
Sorry for the confusion all, I’m listed as @datphotogurl on Github since my Slack username was already taken.

Sent from a tiny keyboard device

[2020-09-03 20:53] LindaCBeall commented on #345
@kencollier3, @jgmuchiri, @cbituin, @DEBSUBHRO is anyone still working on this?

[2020-09-03 21:09] LindaCBeall commented on #80
@dmarchante can this be unblocked?

[2020-09-03 21:52] kylemh commented on #345
@LindaCBeall no. We're looking for some flashy final designs before we work on this.

[2020-09-03 21:52] kylemh commented on #80
It's unfortunately still blocked by both a need for design as well as a need for data - it may or may not require back-end work.

[2020-09-05 00:12] AdiG06 opened #1204 "Color for the Vercel Logo"
# Feature request

In the corporate sponsors section of the OC website, when we hover over the sponsors, all of the sponsors' logos gain color from the grey it was, except Vercel. The logo starts off as black, and does not have a transition to its true color.
## Proposed solution

Instead of the logo starting off black, I propose we have the logo start off grey, so when it is hovered over, it can

[2020-09-05 00:20] kylemh commented on #1204
Some of these are so thin, that if we start it off gray, then we'll have an inaccessible UI, as our color contrast ratio wont be WAI compliant.

I like your eye for polish though! Keep a look out for more stuff like this.

[2020-09-05 00:20] #1204 closed

[2020-09-05 01:56] aaron-suarez opened #1205 "Add SlackView of #job-board to /jobs"
# Feature request

[SlackView](https://slackview.app/) gives a public view of your slack channel to put on your webpage. According to their marketing page:

Since our [jobs page](https://operationcode.org/jobs) is kind of basic right now with an indeed job feed that offers no real value (not to mention an outdated "featured job" that's impossible to keep up to date), we need to do something differ

[2020-09-10 17:00] LindaCBeall commented on #1143
@JohnGoure: Did the bug get resolved, can we close it?

[2020-09-10 17:13] LindaCBeall commented on #1117
@kylemh, close this out or is more work needed?

[2020-09-10 17:17] kylemh commented on #1117
🤔  I think we can close this. It'd be nice to have rn, but when we move to using Slack OAuth, we wont have a form.

[2020-09-10 17:17] #1117 closed

[2020-09-10 17:21] LindaCBeall commented on #1078
@markchernov are you still working on this?

[2020-09-10 21:28] markchernov commented on #1078
Have not had chance

[2020-09-10 22:15] kylemh commented on #1078
Improved OP with instructions for anybody wanting to tackle this.

[2020-09-11 21:13] Lianis-Operations opened #1211 "Add the Secure Code Warrior logo to the front page."
# Feature request
To add Secure Code Warrior logo to the front page to ensure all our corporate partners/sponsors are placed on our public site.

## Proposed solution
Update the front page with the logo.

![scw_col_white_v_R_1000px](https://user-images.githubusercontent.com/51661129/92973323-3d540b80-f484-11ea-85dd-d202fc751cd9.png)

[2020-09-12 04:08] #1199 closed

[2020-09-13 19:09] ajpgross commented on #1146
Any progress?
I'm still familiarizing myself with the stack but, I might also recommend cleaning up the /auth endpoints that return a user object, as those props are contained in the JWT.

[2020-09-14 01:07] kylemh commented on #1146
You'd have to do that in the back-end repo and wouldn't be long-lived given our above plans to leverage Slack as our means of authentication. That doesn't sound like a bad idea though! Just maybe not the best considering the circumstances. Your call!

[2020-09-14 03:53] ajpgross commented on #1146
Got it, thanks for the extra info. Agreed that it's not worth the effort, given the planned auth overhaul

[2020-09-15 04:05] #1146 closed

[2020-09-17 18:15] LindaCBeall commented on #1205
I think this is a great idea! But it does show user's names, maybe privacy/security concerns?  I tested it on another workspace, I didn't see an option to make postings anonymous but maybe there's a way?
<img width="681" alt="Screen Shot 2020-09-17 at 11 10 50 AM" src="https://user-images.githubusercontent.com/37910748/93511076-0f812380-f8d7-11ea-8114-4dfdb094dda6.png">

[2020-09-17 18:20] aaron-suarez commented on #1205
There are a few channels where people tend to post personal information or personal stories, but of all of them, I would think that #job-board would be the least likely. So if the only concern is their name, people should probably change their name to a different handle if they want to keep people from knowing it. Anyone can join our slack team, so it's not really a "private" space anyway.

That b

[2020-09-17 18:45] kylemh commented on #1205
We could also have a bot DM people when they post or join in #job-board to let them know they're sacrificing privacy when they post an opportunity?

[2020-09-17 19:04] LindaCBeall commented on #1205
I like both. Sometimes people join, post, and then leave the channel - they will definitely see the message that way.

[2020-09-18 03:51] LindaCBeall commented on #345
Most of the examples just show name/pic and then link to a full page story.  Are we wanting to do that or just a small blurb on a card?
https://xd.adobe.com/view/92115c03-2be8-40b5-afa8-968c3d62dcb8-c742/
Page 2 has any notes, you can leave comments on it.

[2020-09-18 08:15] kylemh commented on #345
Something like this is a great start.

Basically, my whole life, I've wanted to do a ["scrollytell"](https://webflow.com/blog/scrollytelling-guide). I think if we can capture a few key personal stories, statistics on members by branch + spouse, number of people placed in a role, statistics on specific roles, and chapter locations (and member numbers). I think we can convey the sense of scale and p

[2020-09-18 17:19] LindaCBeall commented on #345
I like the scrollytell idea, did you want to add below for a "why we do what we do" section like this: https://bold-silence-7717.animaapp.io

I can pull up unemployment stats from HOH, DOL, etc.  Who is the POC for OC internal info (how many members employed, etc)?

[2020-09-18 17:29] kylemh commented on #345
💯  love it - let's make a Slack channel so we can be more real-time / dynamic with feedback

[2020-09-20 22:36] kylemh commented on #1200
@LindaCBeall I think we should come up with a decision on what the top nav should look like. We dont need any designs, just an ordering of nav items and which ones have sub items.

I would suggest:

- **About Us** with **Contact Us**, **FAQ**, and **Podcast**
- **Who We Serve** with **Resources**, **Code Schools**, and **Events**
- **Get Involved** with **Sponsorship** and **Leadership Circle**
-

[2020-09-21 01:45] datphotogurl commented on #1200
Adding @hollomancer here. So from a UX perspective, and some of the content is a little old/not updated like "Leadership Circle" - David R mentioned this probably needs to be renamed and updated, along with many other sections, including the Volunteer section way down on the FAQ page.  We can probably discuss this further in our
Product Meeting. Regarding the Top Nav:

1. First Tab **About Us**: i

[2020-09-21 05:31] kylemh commented on #1200
Sounds like there multiple issues we should make from this. The most important one would be how we put Who We Serve into the About page.

[2020-09-24 21:00] calincionca35 opened #1220 "Update OC Membership Count"
# Bug Report
## What is the current behavior?
Outdated OC membership count

## What is the expected behavior?
Updated OC membership count

## What steps did you take to get this behavior?
Updated OC membership count

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

### Screenshots

[2020-09-24 21:21] #1220 closed

[2020-09-26 00:58] calincionca35 opened #1222 "Profile Page - Display Date Joined"
# Bug Report
## What is the current behavior?
On Profile Page Date Joined currently displays: "lid Date"

## What is the expected behavior?
Display Date Joined in MM-DD-YYYY format

## What steps did you take to get this behavior?
Used **date-fns** from https://date-fns.org/ to display date

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

### Screenshots

[2020-09-26 15:10] Matt-st opened #1224 "Duplicate typescript search item in languages field for resource search by language"
# Bug Report
## What is the current behavior?
The current behavior is that 2 items show up for the language "typescript" when searching by language.

## What is the expected behavior?
There should only be one option that shows up in the languages search field for "typescript".

## What steps did you take to get this behavior?
I went to this [page](https://operationcode.org/resources/1?languages=c%

[2020-09-26 15:36] Matt-st commented on #1224
After looking into it a bit more I believe that the list of languages which the UI is using for this search field are produced from the [resources api](https://github.com/OperationCode/resources_api) specifically here [languages.py](https://github.com/OperationCode/resources_api/blob/main/app/api/routes/languages.py).

I believe the solution is to clean up our database table that holds the languag

[2020-09-26 19:05] datphotogurl commented on #1211
Requesting a change to the original stated issue: please place the Secure Code Warrior logo to the following URL, under "Corporate Supporters": https://www.operationcode.org/sponsorship

[2020-09-28 03:49] AdiG06 opened #1225 "Add link to job in nav bar"
# Feature request

Right now, the only way to get to https://operationcode.org/jobs is to literally type it in, or scroll all the way down to the bottom of the page to find the link.
## Proposed solution

Can we add a link to the jobs page in the nav bar?
## Potential alternative solutions

Instead of it having its own link, maybe we can also put it under Get Involved or any other appropriate grou

[2020-09-28 15:50] kylemh commented on #1225
This is on purpose. It's not exactly as awesome page... If that changes with #1205 we can consider moving it!

[2020-09-28 15:50] #1225 closed

[2020-09-30 06:04] #1078 closed

[2020-09-30 06:04] #1222 closed

[2020-09-30 22:37] joshuadempsey commented on #771
Does this issue still need worked on? I'd be happy to try and help. New to GH but I'm a competent(ish) web-dev.

[2020-10-01 02:18] kylemh commented on #771
Shoot for the stars, Joshua! You can DM me on our Slack team if you need anything.

[2020-10-01 06:53] kylemh opened #1228 "Leverage cypress-testing-library in all Cypress tests"
# Feature request
We use a mixture of Cypress's 1st-class methods and [`cypress-testing-library`](https://github.com/testing-library/cypress-testing-library) methods to write our integration tests (located inside `./cypress/integration/`).

I'd like it if we ONLY used `cypress-testing-library` methods and if we never wait for requests to resolve (like [here](https://github.com/OperationCode/front-

[2020-10-01 06:55] kylemh commented on #1143
Yes, sorry!

[2020-10-01 06:55] #1143 closed

[2020-10-01 06:56] kylemh commented on #345
All of this discussion was very helpful. We're going to internalize this issue to staff, as it will be much more complex and dynamic than most issues. It doesn't seem fair or helpful to open source this work.

[2020-10-01 06:56] #345 closed

[2020-10-01 07:07] kylemh opened #1229 "Allow aliased path imports in Cypress files"
# Feature request
To import code from other source files in Cypress files, we must import them with relative paths.

## Proposed solution
- Make it so that one can use alias paths for imports in the `cypress` folder.
- Convert relative path imports and make them point to the relevant alias.

[2020-10-01 07:15] kylemh opened #1230 "Use Google's Lighthouse via a CI check"
# Feature request
Google's [Lighthouse](https://developers.google.com/web/tools/lighthouse) is a tool used by developers to get a simple measurement on a page's performance, accessibility score, and SEO rating. We should use it via some CI step (CircleCI, GitHub Actions, something else).

## Proposed solution
Leverage Lighthouse in this repository's continuous integration against the landing page

[2020-10-01 07:18] logesr commented on #1228
@kylemh I can take this up!

[2020-10-01 07:48] Ruchika30 commented on #1229
Can u pls explain a bit more @kylemh

[2020-10-01 08:10] kylemh opened #1232 "UpgradeBrowserOverlay and Modal stories are broken"
# Bug Report
## What is the current behavior?
The following stories are broken due to a run-time error related to `gtag` being undefined (which makes sense cuz we dont ship google analytics to our Storybook).

- [UpgradeBrowserOverlay](https://storybook.operationcode.org/?path=/story/upgradebrowseroverlay--default)
- [Modal](https://storybook.operationcode.org/?path=/story/modal--default)

## What

[2020-10-01 08:19] kylemh commented on #1228
Have at it!

[2020-10-01 08:20] kylemh commented on #1229
[Here's an article explaining path aliases](https://levelup.gitconnected.com/understand-and-configure-absolute-import-paths-in-javascript-5cde3be2630d). Let me know if this gives you enough context!

Essentially, path aliases are working in source code and in Jest code, but not in Cypress code.

[2020-10-01 08:24] kylemh opened #1233 "ImageCard story's `children` control changes causes story to break"
# Bug Report
## What is the current behavior?
When viewing [the ImageCard story](https://storybook.operationcode.org/?path=/story/cards-imagecard--default) and making changes to the `children` prop on the "Controls" addon, the story has a run-time error.

## What is the expected behavior?
Storybook users should be able to adjust the `children` prop via the "Control" with any string.

[2020-10-01 08:26] kylemh opened #1234 "Re-order addons in Storybook instance"
# Feature request
We use addons in our [Storybook instance](https://storybook.operationcode.org), but I want the "Controls" addon to show up first and start off as rendered (not the "Actions" addon).

[2020-10-01 09:11] #1234 closed

[2020-10-01 09:18] kylemh opened #1236 "Upgrade Formik to v2"
# Feature request
We're using `formik@1^`. I wanna use `formik@2^`.

## Proposed solution
- Upgrade `formik` to the latest version
- Convert implementations of formik to leverage `useFormik` hook instead of `connect()` or `<Formik>` render props.

[2020-10-01 09:21] kylemh opened #1237 "Dont close the multi-select dropdown after an option has been selected"
# Feature request
As a user, I get very frustrated needing to click the multiple option dropdown after I choose an option. I'd like if the dropdown stayed open until I hit the `esc` or `enter` key, tab away from the input, or until I click outside of the element.

## Proposed solution
Ensure that the [Select](https://github.com/OperationCode/front-end/blob/main/components/Form/Select/Select.js) co

[2020-10-01 09:21] sravan7 commented on #1236
@kylemh
I would like to work on it. Can you please assign it to me.

[2020-10-01 09:24] murattishkul commented on #1237
I'd like to work on this one, please kindly assign me to this issue)

[2020-10-01 09:25] sravan7 commented on #1237
@kylemh
I would like to work on it please assign it to me

[2020-10-01 09:27] vatsalsharma376 commented on #1163
Is this issue fixed? I am not able to reproduce it.

[2020-10-01 09:29] kylemh commented on #1237
There's no need for assignment! I'll merge the best/fastest PR between anybody that contributes, but you'll still get credit during Hacktoberfest even if I don't merge your PR. ❤️

[2020-10-01 09:29] kylemh commented on #1163
@vatsalsharma376 apologies -  you're right! I resolved this and forgot to close this.

[2020-10-01 09:29] #1163 closed

[2020-10-01 09:33] kylemh commented on #1236
We have a policy of not assigning issues to users not in our organization, to outwardly communicate that anybody is welcome to claim the issue. For context, we often dealt with people asking for assignment, but never returning. This accidental parking leads to extra maintenance work for maintainers.

Not to worry regarding Hacktoberfest though! I wont mark your fix as `spam` and GitHub cares about

[2020-10-01 10:01] Tomekmularczyk commented on #1233
@kylemh I believe it's because children are another component (<p>) and addon works only with a text. If I can find a fix, would you be fine with making children just a text in this story?

[2020-10-01 10:32] sravan7 commented on #1236
@kylemh
can please give me a sample `console.log`. I tried lot it is not coming up. Even I removed `eslint`.
It is very difficult for me to debug without `console.logs`

[2020-10-01 11:38] tranlehaiquan commented on #1232
@kylemh I created a pull to fix this. Please take a look, thank you :D.

[2020-10-01 16:46] #1233 closed

[2020-10-01 18:42] adithyaakrishna commented on #1115
@kylemh Can I work on this issue?

[2020-10-01 18:44] adithyaakrishna commented on #1200
@kylemh Can I work on this issue?

[2020-10-01 18:46] adithyaakrishna commented on #1211
@kylemh Can I work on this issue?

[2020-10-01 18:51] ksmacleod99 commented on #1124
Slack community guidelines: https://github.com/OperationCode/START_HERE/blob/master/community_guidelines.md
(thanks conrad!)

if I can get mocks, I will claim this.

if I can't get mocks, I will claim this and it will look fugly :)

[2020-10-01 19:02] kylemh commented on #1211
Unfortunately not! I can't give people s3 access.

[2020-10-01 19:02] kylemh commented on #1115
You can work on any issue that is devoid of an assignee.

[2020-10-01 19:03] kylemh commented on #1200
You can work on any issue that is devoid of an assignee. I am assigned to this one.

[2020-10-01 19:08] adithyaakrishna commented on #1211
@kylemh  Can I Upload it as a png through assets/img/sponsors? and once the s3 storage has the image and if I get the URL then I'll change it to that.
or if you can upload the image to s3 bucket and then send me the image link, that would be good too I guess 😶

[2020-10-01 19:12] adithyaakrishna commented on #1211
This would be my First PR towards Hacktoberfest and after searching for like hours got one thing which I know of😶

[2020-10-01 19:15] adithyaakrishna commented on #1211
For now, I've made the site to fetch the URL from the image added above by @Lianis-Operations
This is the SS of it,
![image](https://user-images.githubusercontent.com/23498248/94853136-8c201000-0448-11eb-8561-da57421add3b.png)

[2020-10-01 19:51] kylemh commented on #1211
Go for it! Just make sure the aspect ratio matches the others please.

[2020-10-01 19:57] kylemh commented on #1124
Go for it and make it extra ugly

[2020-10-01 20:04] adithyaakrishna commented on #1200
Okay 🚀

[2020-10-01 20:29] adithyaakrishna commented on #1211
Thanks a lot 🚀
Yes, The Image container is handling the aspect of the image. Its being fetched from the URL of the Image added above by @Lianis-Operations

[2020-10-01 20:29] lakshyabatman commented on #1236
Can you assign this issue to me?

[2020-10-01 20:32] kylemh commented on #1236
We have a policy of not assigning issues to users not in our organization, to outwardly communicate that anybody is welcome to claim the issue. For context, we often dealt with people asking for assignment, but never returning. This accidental parking leads to extra maintenance work for maintainers.

Not to worry regarding Hacktoberfest though! Assuming you face "competition", I will not mark your

[2020-10-01 20:35] lakshyabatman commented on #1236
I understand, thanks.

[2020-10-01 20:41] ksmacleod99 commented on #1124
oh hey did we want a reCaptcha like La Techqueria?

[2020-10-01 20:56] mikerod-sd commented on #1124
Do we have a problem with bots? If not I say don't implement one.

On Thu, Oct 1, 2020 at 1:42 PM K MacLeod <notifications@github.com> wrote:

[2020-10-01 20:56] #1211 closed

[2020-10-01 21:03] kylemh commented on #1124
We had a PR open for a captcha awhile ago, but yeah... i think we can assume nobody cares enough to bot us.

[2020-10-01 22:49] kylemh opened #1257 "Navigate user to branding page if they right click the logo in our navigation bar"
# Feature request
When a user right clicks on the logo in the navigation bar, I want them to be navigated to the `/branding` page. Like [Sentry does](https://sentry.io/welcome/)

[2020-10-01 23:03] cdterry87 commented on #1257
I would like to try this one, please :)

[2020-10-01 23:14] #1232 closed

[2020-10-01 23:26] kylemh commented on #1257
Go for it!

[2020-10-01 23:56] TheoGU commented on #1257
I did a pull request 👀

[2020-10-02 00:10] cdterry87 commented on #1257
@TheoGU no problem :)

[2020-10-02 02:13] #1257 closed

[2020-10-02 06:29] Tomekmularczyk commented on #1236
@lakshyabatman let me know in case you drop this, I would then like to take it

[2020-10-02 06:30] lakshyabatman commented on #1236
Yeah you can work on it. @Tomekmularczyk

[2020-10-02 06:34] sahil9001 commented on #1230
@kylemh I would like to work on this one! Can you please guide me?

[2020-10-02 06:45] #1229 closed

[2020-10-02 06:47] kylemh commented on #1230
Hey @sahil9001 I don't have much time to contribute this month myself, but I can try to schedule some time to work together on October 29th. This ticket may not be available, but others may be!

[2020-10-02 06:48] sahil9001 commented on #1230
Okay no problem, Thanks!

[2020-10-02 06:49] kylemh commented on #1230
Feel free to email me.

[2020-10-02 17:44] #1116 closed

[2020-10-03 03:30] BhuwanChandra commented on #1197
@aaron-suarez Is anyone working on this? I would like to work on this issue.

[2020-10-03 04:27] kylemh commented on #1197
go for it!

[2020-10-04 08:41] Beissner commented on #1142
What's the status on this issue? Are we waiting for backend issue #346 to be completed first?

[2020-10-04 08:53] Beissner commented on #1205
Is anyone currently working on this?

[2020-10-04 20:10] aaron-suarez commented on #1205
@LindaCBeall Do you want to get with @Beissner and coordinate who's working on this? Now would be a great time to get it done 😄

[2020-10-04 22:12] LindaCBeall commented on #1205
@Beissner, I'll DM you on slack :)

[2020-10-05 10:15] prokorpio commented on #1115
Hi @adithyaakrishna are you actively working on this?

[2020-10-05 13:37] adithyaakrishna commented on #1115
@prokorpio Hey, You can work on that. I'm currently held up with my project work.
I worked a lil bit on that but not enough to make a PR though😶

[2020-10-05 15:39] ksmacleod99 commented on #1124
Just going to wait on the formik upgrade PR to get merged :)

[2020-10-05 16:20] ksmacleod99 commented on #1124
@kylemh  would you rather see a new checkbox component, or just keep the checkbox local to the registration form?

[2020-10-05 16:24] kylemh commented on #1124
I guess we don't have a checkbox component. I think we can keep it simple by adding CSS to globalStyles to add styles to `input[type="checkbox"]`

[2020-10-05 16:53] kylemh commented on #1141
Closing because we won't be doing the OAuth work.

[2020-10-05 16:53] #1141 closed

[2020-10-05 16:53] kylemh commented on #1142
Closing because we won't be doing the OAuth work.

[2020-10-05 16:53] #1142 closed

[2020-10-05 17:20] BhuwanChandra commented on #1230
@sahil9001 @kylemh is anyone working on this issue? I would like to work on this one.

[2020-10-05 17:36] kylemh commented on #1230
Go for it!

[2020-10-06 00:28] kylemh opened #1269 "Conditionally render items in profile page"
# Feature request
- https://github.com/OperationCode/front-end/blob/main/pages/profile/index.js#L16 all of these items should be re-marked as "optional" (re: not `.isRequired()`).
- The corresponding elements these props are used to render should be then used to conditionally render the UI. For example:
[code]

[2020-10-06 00:56] fletcherrippon commented on #1269
Can I be assigned this issue? :)

[2020-10-06 01:15] kylemh commented on #1269
We have a policy of not assigning issues to users not in our organization, to outwardly communicate that anybody is welcome to claim the issue. For context, we often dealt with people asking for assignment, but never returning. This accidental parking leads to extra maintenance work for maintainers.

Not to worry regarding Hacktoberfest though! Assuming you face "competition", I will not mark your

[2020-10-06 01:53] fletcherrippon commented on #1269
Should all of the profile properties be rendered conditionally?
- firstName
- lastName
- branchOfService
- companyName
- companyRole
- createdAt,
- disciplines
- email
- employmentStatus
- isMentor
- militaryStatus
- programmingLanguages

even things like `firstName`, `lastName` and `email`?

[2020-10-06 02:14] kylemh commented on #1269
Good point. Things that are _required_ in our registration form should be expected to be returned in our response from the back-end.

[2020-10-06 02:36] fletcherrippon commented on #1269
Just sent a pull request to fix the issue.

[2020-10-06 03:09] prokorpio commented on #1115
Nice! Thanks @adithyaakrishna. I'll give this a shot.

[2020-10-06 05:23] #1228 closed

[2020-10-06 06:04] #1236 closed

[2020-10-06 06:39] kylemh opened #1272 "Convert Formik render prop usages to leverage `useFormik`"
# Feature request
We use Formik via the render prop pattern, but I'd like for us to only use hooks.

## Additional context
- Guide for migrating from v1 to v2: https://formik.org/docs/migrating-v2
- More context provided via [this code review comment](https://github.com/OperationCode/front-end/pull/1262#pullrequestreview-501312218)

[2020-10-06 08:06] #1237 closed

[2020-10-06 08:44] A-Scratchy commented on #1272
I'm happy to take this on if it's still up for grabs?

[2020-10-06 09:01] kylemh commented on #1272
go for it!

[2020-10-06 11:22] BhuwanChandra commented on #1230
@kylemh I have opened a PR for this issue.

[2020-10-06 18:55] kylemh opened #1277 "Footer links dont open when clicked on iOS mobile"
# Bug Report
## What is the current behavior?
Clicking any footer link does nothing.

## What is the expected behavior?
Clicking any footer link should navigate and scroll to the top of the navigated page.

## What steps did you take to get this behavior?
Used my iPhone and cried at the realization.

## Additional Info
### Operating System
iOS 14

### Browser
Chrome iOS (uses the same rendering en

[2020-10-06 19:31] rzhekova commented on #1277
I can give this one a try if that's ok

[2020-10-06 19:37] kylemh commented on #1277
Go for it

[2020-10-07 03:07] #1197 closed

[2020-10-07 03:09] kylemh commented on #1197
Up next @chynh wants to connect the upvote/downvote functionality. No issue will be made to protect against the Hacktoberfest swarm 😂

[2020-10-07 20:56] hollomancer commented on #1205
Agree re. privacy concerns. Can names and avatars be filtered?

[2020-10-07 21:13] LindaCBeall commented on #1124
I guess I just posted this mock on slack but not here, @datphotogurl did you have a chance to review this yet?
https://xd.adobe.com/view/4b138861-8af9-474d-87e4-ba8142b7f762-1e40/
<img width="716" alt="Screen Shot 2020-10-07 at 2 13 05 PM" src="https://user-images.githubusercontent.com/37910748/95388510-3d8acf80-08a7-11eb-90ec-3da8b0e8ec4f.png">

[2020-10-07 21:21] LindaCBeall commented on #771
@datphotogurl any comments on this?
https://xd.adobe.com/view/2d58a230-a8e8-4dc0-ad61-2cab6c69b002-780b/
<img width="1281" alt="Screen Shot 2020-10-07 at 2 20 48 PM" src="https://user-images.githubusercontent.com/37910748/95389236-63fd3a80-08a8-11eb-9442-fa1d2ea6580d.png">

[2020-10-07 21:38] calincionca35 commented on #771
For Step 3, I would like to suggest, suggesting that, if applicable, the new member consider adding links to GitHub and LinkedIn accounts.

[2020-10-07 22:07] rzhekova commented on #1277
Hey @kylemh I think I've found the culprit, I'll send a PR over to you in a bit

[2020-10-07 22:40] kylemh commented on #1124
@LindaCBeall I think the above can be added to a ticket to redesign the whole join page entirely. This issue is just to get people to accept the rules before they register at a bare minimum.

[2020-10-07 22:41] kylemh commented on #1205
Not within the iFrame.

I think the best route of action immediately would be to simply pin a message letting them know their job postings are not private, and - if they'd like them to be - to use the workflow.

Eventually, we could prevent messages from even being sent in the channel and ONLY allow posts via the workflow.

[2020-10-07 22:42] kylemh commented on #1277
Closed in https://github.com/OperationCode/front-end/pull/1280

[2020-10-07 22:42] #1277 closed

[2020-10-08 14:02] datphotogurl commented on #1124
@kylemh @LindaCBeall I think further discussion needs to be warranted for an entire new design of that page, and probably not something we can have done for Hacktoberfest. More ideas on this but prefer to discuss possibilities for the new design at Product Meeting. We previously discussed the need to have two checkboxes for language that states _I have read and acknowledge adherence to the Operati

[2020-10-08 14:33] datphotogurl commented on #771
@LindaCBeall I like the concept and all the components advising the new member of where to go next. We just need to polish up, simplify the interface for ease of legibility and ensure the mock-ups include a desktop view and mobile view. We also need a one-liner to let people know why our community connects on Slack. Lemme post that on OC-Tech for feedback and approval, then I will add here after a

[2020-10-08 14:49] LindaCBeall commented on #771
Ok, sounds good. No, the stuff to the right is just notes and an alternative to the "Other Resources to Check Out" accordion component if we want something more visual.

[2020-10-08 17:19] kylemh commented on #1124
Definitely; however, I'm also sure there's still work we can do now regarding the original post.

[2020-10-08 19:55] datphotogurl commented on #1124
Agree with you Kyle. I just realized there isn't actual verbiage when Mike opened the issue. Here's the language on that:
_The demographic information you provide us helps us understand our community needs, ensure diversity and provide specific resources to reach our mission. Thank you in advance for providing honest answers._

[2020-10-08 20:30] kylemh commented on #1124
@datphotogurl perfect. Any idea _where_ you want that rendered on `/join`?

[2020-10-08 20:35] datphotogurl commented on #1124
Right before the "submit button" in place of this wording currently on the page: The information we collect is to help us personalize your experience on our Slack community. We do not sell your information to anyone.

[2020-10-08 23:37] LindaCBeall commented on #1205
Can we just skip the 3rd party app all together and send to the website using the workflow/webhook?  We can pin a post encouraging people to use the workflow.

[2020-10-09 02:10] kylemh commented on #1205
That would be a lot of work with the Slack API, but it's possible.

[2020-10-09 20:43] aaron-suarez opened #1284 "Change `paid` to `free` in /resources"
# Feature request

There is a pending change in the Resources API to change `paid` to `free` because it makes more sense as to what it means. See https://github.com/OperationCode/resources_api/pull/379 When this change gets deployed, it will break /resources. We'd like to avoid that happening.

## Proposed solution

This will be a two part solution. First, we need to change `pages/resources/[page]

[2020-10-10 08:25] karmanya007 commented on #1284
So, where there is any thing related to paid, there should be a free one also?

[2020-10-10 08:59] aaron-suarez commented on #1284
`paid` is an attribute of a resource. Resources are either free or they are not. It's really just a simple change of the word. The tricky part, like I said, is making it backward compatible

[2020-10-10 10:11] karmanya007 commented on #1284
Could you give me something to go off on?

[2020-10-10 10:30] aaron-suarez commented on #1284
Have you seen the page at https://operationcode.org/resources ?

That's the page that we're editing here. Maybe if you see the resources you'll understand what I'm talking about

[2020-10-10 16:11] BhuwanChandra commented on #1284
@aaron-suarez can I work on this issue?

[2020-10-11 15:45] aaron-suarez commented on #1284
Sure @BhuwanChandra, go for it!

[2020-10-12 02:58] kylemh commented on #1115
Gonna reopen cuz it was gradual progress!

[2020-10-12 07:48] BhuwanChandra commented on #1284
@aaron-suarez Ok, I am working on it.
do I need to make two PRs for this issue as you mentioned above?

[2020-10-12 14:08] kylemh commented on #1284
I'm confused actually... @aaron-suarez I thought you said we wouldn't make it backwards compatible?

[2020-10-12 14:49] aaron-suarez commented on #1284
We had talked about both options, but I guess we thought different things about what we settled on 😅 . Either is fine with me. If we do break it, we'll want to deploy the related API change quickly, so let's wait to merge until I have some time to deploy right away.

We can just make it the one PR and break it, that's fine

[2020-10-12 14:58] kylemh commented on #1284
👍  @BhuwanChandra you may want to wait until a deploy occurs, but then do not worry about backwards compatibility. Simply replace references to "paid" as "free" in the aforementioned file(s).

[2020-10-12 19:11] markanthonyraymond opened #1290 "[Landing Page] Change the tagline"
Change the[ Landing Page tagline](https://operationcode.org/) currently listed as "Deploy The Future" to "Build The Future"

[2020-10-12 19:26] kylemh commented on #1290
Deploy The Future is desired.

[2020-10-12 19:40] aaron-suarez commented on #1284
@kylemh since we're going to break it anyway, should we go ahead and merge+deploy OperationCode/resources_api#379 now?

[2020-10-12 19:53] kylemh commented on #1284
yes

[2020-10-12 20:39] datphotogurl opened #1291 "Web Content Change: Who We Serve [Change 1]"
URL: https://operationcode.org/who_we_serve

**Change Requested**
Under the **Who We Serve** section: change wording in the paragraph to - _We work closely with military veterans, service members, and military spouses and dependents who are passionate about transitioning into the tech industry. On Slack and in-person meet-ups, we work with over 7,000+ members who are all working towards relevant c

[2020-10-12 20:43] datphotogurl opened #1292 "Web Content Change: Who We Serve [Change 2] linked to"
URL:https://operationcode.org/who_we_serve
**Related Issues**
#1291

**Change Requested**
In the photo highlight box: change the current wording to - _There are 12.1 million net jobs for tech employment in the U.S. alone, with an addition of 307,000 jobs in a year._

[2020-10-12 20:48] datphotogurl opened #1293 "Web Content Change: Who We Serve [Change 3]"
URL: https://operationcode.org/who_we_serve

**Related Issues**
#1291 #1292

**Change Requested**
Change wording under **Our Commitment to You** graphics to:

-  One-on-One Mentorship & Networking

- Coding Scholarships and Licenses

- Career Services and Professional Development

[2020-10-12 20:51] datphotogurl opened #1294 "Web Content Change: Who We Serve [Change 4]"
URL: https://operationcode.org/who_we_serve

**Related Issues**
#1291 #1292 #1293

**Requested Change**
Under the section **Join Our Thriving Community**, change paragraph to: _Are you ready to begin your journey towards a career in tech? Get the support you need by joining our members-only Slack community!_

[2020-10-12 20:54] datphotogurl opened #1295 "Web Page Unpublish: Leadership Circle"
URL: https://operationcode.org/leadership_circle

**Requested Change**
This program is currently inactive. OC Executive Leadership asks that we un-publish this page until the program is revamped and ready to go live.

[2020-10-12 20:59] datphotogurl opened #1296 "Web Content Change: Get Involved Page [Change 1]"
URL: https://operationcode.org/get_involved

**Requested Change**
In the **Make An Impact** section, change wording to:
_Help make an impact to transitioning service members, military veterans, military spouses and dependents! You can help in several ways: Donate to help provide scholarships and keep our daily operations afloat (add hyperlink in the word Donate), Volunteer (hyperlink to Who We Ser

[2020-10-12 21:03] datphotogurl opened #1297 "Web Content Change: Get Involved Page [Change 2]"
URL: https://operationcode.org/get_involved

**Related Issues**
#1296

**Requested Change**
Under the Empower Our Community section: change Subtitle to "Empower Our Community and Support Our Mission". Change paragraph wording to - Make a difference in the lives of our military community and help them reach their pursuits of a tech career.

[2020-10-12 21:07] datphotogurl opened #1298 "Web Content Change: Get Involved [Change 3]"
URL: https://operationcode.org/get_involved

**Related Issues**
#1296 #1297

**Requested Changes**

1. **Support Our Mission** section: delete this section as it is redundant

2. Under the **Join Our Community** section, change the wording in the paragraph to state: _Are you ready to begin your journey towards a career in tech? Get the support you need by joining our members-only Slack community!_

[2020-10-12 21:15] datphotogurl opened #1299 "Web Change: Podcast Page"
# Feature request

**Proposed Solution**
Change Conrad Holloman to Conrad Hollomon (currently misspelled), and fix length of each podcast card to match the length of the card next to it (is there a more aesthetic way to ensure content and card length is more pleasing to the eye? Please feel free to suggest).

**Potential Alternative Solutions (see comments)**

[2020-10-13 01:45] markanthonyraymond opened #1300 "[Landing Page] Change Sponsor Subsection Title"
- Change the wording on the [landing page](https://operationcode.org/) under the section "Corporate Sponsors?" to "Corporate Partners".

[2020-10-13 07:11] #1298 closed

[2020-10-13 07:31] #1300 closed

[2020-10-13 10:10] RollingThunderSagnik commented on #1299
Hi! Can you please assign this to me?

[2020-10-13 12:29] datphotogurl commented on #1299
Hi @RollingThunderSagnik I cannot assign since I'm not an admin on the OC Github but I believe @calincionca35 may be taking this on. You two can collaborate if you want to tackle the card length issue.

[2020-10-13 12:32] datphotogurl commented on #1299
Other proposed solutions for the participant card lengths:

[2020-10-13 12:52] datphotogurl commented on #1299
**Other proposed solutions for the participant card lengths:**
Have the card length fixed and prevent a max amount of characters?
Right now there are two columns for the podcast cards (bios for each participant). The length of each card doesn't match each other and is really jarring to see from a design perspective. We can tackle this several ways: either limit the number of words in a card so the

[2020-10-13 15:04] #1297 closed

[2020-10-13 15:59] #1296 closed

[2020-10-13 16:19] #1291 closed

[2020-10-13 17:21] #1292 closed

[2020-10-13 17:39] cbituin commented on #1299
@datphotogurl I believe all the content is loaded dynamically from the actual podcast's rss feed.

[2020-10-13 17:43] datphotogurl opened #1309 "Web Content Change: Landing Page"
URL: https://operationcode.org/
**Requested Change**
Please update the mission statement under the section **Our Mission** to state the following (Board approved):
We serve our veterans, service members, and their families, work alongside their journey through the tech industry, and help them thrive in their careers to code a better future.

[2020-10-13 17:53] cbituin commented on #1295
@datphotogurl @kylemh Do we want placeholder text? Or just taking out the route completely?

[2020-10-13 21:00] datphotogurl commented on #1295
@cbituin Leadership wants to remove this page completely since we will be revamping the program. Is there a way to unpublish and not delete code?

[2020-10-14 01:55] calincionca35 commented on #1294
This change has already been made via #1298

[2020-10-14 02:05] datphotogurl opened #1329 "Web Content Change: Landing Page [Success Stories] and New Feature Consideration"
URL: https://operationcode.org/

### **Requested Change**
Please update the Success Stories featured members with the following content:
**Ali Cipolla-Taylor, Talent Acquisition at Microsoft**
_"I finished MSTA the last week of February, and then COVID hit. Employment was not going to happen…to anyone. I kept making calls, working on my skills, and throwing myself out there, and I got a role as a

[2020-10-14 02:17] #1309 closed

[2020-10-14 02:36] #1290 closed

[2020-10-14 02:52] #1294 closed

[2020-10-14 16:50] kylemh commented on #1329
@calincionca35 has a PR incoming for this 👍

[2020-10-14 17:51] kylemh commented on #1329
@datphotogurl I think https://github.com/OperationCode/front-end/pull/1331 covers most of what you wanted. I'm going to paste the content you described as "the non-time-sensitive feature" in #345 so that we can close this one.

[2020-10-14 17:51] kylemh commented on #345
For my own posterity:

Non-time sensitive for this new feature, but meant to start a conversation about product needs. Landing Page Success Stories can ideally be linked to a new Success Stories page or the blog that @kylemh is currently working on. The Landing Page 3 Success Stories cards can be dynamic where a mouse hover can create a gallery change to new stories, or an arrow gallery scroll to

[2020-10-14 17:51] #1329 closed

[2020-10-14 21:58] #1299 closed

[2020-10-15 00:46] kylemh commented on #1269
Resolved in #1271

[2020-10-15 00:46] #1269 closed

[2020-10-15 03:35] BhuwanChandra commented on #1284
@aaron-suarez do I also need to make changes in UI as you mentioned in additional context?

[2020-10-15 15:21] #1295 closed

[2020-10-15 16:51] kylemh commented on #1284
No changes in the UI should be needed. We have a "resource cost" field that has a "paid" or "free" option. It's the VALUE those options represent that must change.

[2020-10-16 12:54] diverheart commented on #1200
Can I work on this issue?

[2020-10-16 16:26] kylemh commented on #1200
@diverheart You can work on any issue that is devoid of an assignee, but I am assigned to this one.

[2020-10-17 05:58] #1284 closed

[2020-10-17 14:53] thinkverse commented on #1115
Hi there, saw this was re-opened. Didn't see any UI for it, but read FreeCodeCamp news page was of interest. Would this UI be acceptable? I made a quick [mobile version] and a [desktop version], though desktop is just a scaled-up version of the mobile one.

[mobile version]: https://www.figma.com/file/RetePbr16IAc9VA8i67tjc/Mobile
[desktop version]: https://www.figma.com/file/cai87NO3nht52NpkRpjhF

[2020-10-18 03:04] kylemh commented on #1115
You can see that the routing logic is hooked up - https://www.operationcode.org/blog

We just need a UI now, so your designs are PERFECT. I think the only thing I'd recommend is putting each of your "article entries" into a Card component. Do you want to execute on this or did you want to leave a design?

[2020-10-18 11:02] thinkverse commented on #1115
I could get on that yeah. Forked it and took a look at the storybook, didn't find a card that fits currently.
Should I create a new `PostCard` or `BlogCard` component for this? 🤔&nbsp; Wouldn't want to create it unnecessarily.

[2020-10-18 17:21] kylemh commented on #1115
Is there a reason the UI you defined would work inside of our existing base Card component?

[2020-10-18 17:29] thinkverse commented on #1115
Well, a card component can be pretty versatile sometimes. So I looked to see if it could be done with an existing card component. But since the base card only takes one base parameter which is the node `children`.

I figured the best course of action would be to make a new `BlogCard` component instead. But then again, since it takes a node `BlogIndex` could have the element node built in the index

[2020-10-18 18:39] kylemh commented on #1115
That means that it can fit anything. You would just pass it a React Fragment or div to group the elements in your design.

[2020-10-23 16:03] #1272 closed

[2020-10-27 21:13] kylemh opened #1338 "Upgrade to Next.js 10"
# Feature request
`yarn add next@10 react@17 react-dom@17 react-test-renderer@17`

https://nextjs.org/blog/next-10

🤞 that Storybook still works

[2020-10-27 21:14] kylemh opened #1339 "Replace img usages with next/image"
# Feature request
See: https://nextjs.org/blog/next-10#built-in-image-component-and-automatic-image-optimization

Blocked by #1338

[2020-10-27 22:19] kylemh opened #1340 "Update Sentry integration"
# Feature request
Update Sentry deps and follow this blog article: https://leerob.io/blog/configuring-sentry-for-nextjs-apps

[2020-10-28 06:59] JipSterk commented on #1338
im willing to look in to this

[2020-10-28 07:31] JipSterk commented on #1339
if #1341 goes live i'm willing to implement this as well :)

[2020-10-30 14:51] jamessom commented on #1340
Hi @kylemh i would be work on this

[2020-10-30 19:00] kylemh commented on #1340
Go for it!

[2020-11-01 17:38] arunagri82 commented on #1340
improve the updates

[2020-11-01 23:50] kylemh commented on #1340
@arunagri82 what?

[2020-11-12 19:48] cbituin commented on #1115
@thinkverse Hows the progress? If you haven't had a chance, no worries. I will try to give it a go

[2020-11-28 02:31] datphotogurl opened #1357 "Branding Page Updates"
# Feature request
1. Currently, the https://operationcode.org/branding page is unlinked to the rest of the site. Please create a tab under "About Us" named "Branding Guide" where this page will be found.
2.The content also needs updating as the logos use the wrong HEX#s and are different than the set Branding Colors.
3.More clarification is also needed on when to use the various branding elements.

[2021-01-05 04:57] rufataliy commented on #1357
Is this issue still ongoing?

[2021-01-05 05:43] kylemh commented on #1357
A pull request is open and ongoing.

[2021-01-09 19:36] #1357 closed

[2021-02-07 03:14] #1198 closed

[2021-02-18 17:16] Lianis-Operations opened #1393 "Add GuideStar logo on the donate page"
# Feature request
- Add Guidestar logo to Donate page.
- Assess best location to put Guidestar logo in footer.
- The Seal should have an embedded URL to the guidestar.org site.
- URL: https://www.guidestar.org/
![guidestar-gold-seal-2021-rgb](https://user-images.githubusercontent.com/51661129/108640355-749a0000-7499-11eb-89af-4fdb6efaff97.gif)

[2021-02-21 21:39] hollomancer commented on #1393
@Lianis-Operations, can you add the Guidestar image and URL to this issue?

[2021-02-21 21:52] kylemh commented on #1393
She asked me, and I suggested she leave it to me so I can optimize/size/upload to S3.

[2021-02-21 22:09] Lianis-Operations commented on #1393
@hollomancer Done!
@kylemh It's the same image Cynthia sent via email.

[2021-02-22 17:34] calincionca35 commented on #1393
I would like to work on this issue.

[2021-02-25 14:55] hollomancer commented on #1393
Adding copy;

Thank you for reaching out and asking about Operation Code's fundraising efforts. At the current time, all donations have been going to support the following programs and initiatives:
Ongoing monthly operational costs such as our AWS server and SaaS for data hosting, project management and programming
3rd party Slack integration applications
Open source software on Github, including

[2021-02-25 14:56] hollomancer commented on #1393
From Cyn (actually, should this be a separate ticket?)

[2021-02-27 00:53] calincionca35 commented on #1115
Hi Conrad, are you still working on this issue?

[2021-02-27 00:55] cbituin commented on #1115
Nope it's all yours @calincionca35 👌

[2021-03-07 14:54] calincionca35 opened #1412 "Update History page"
# Feature request

Update OC's History page
## Proposed solution

Add OC's major milestones since 2017 to the History page
https://www.operationcode.org/history
## Potential alternative solutions

## Additional context

[2021-03-07 16:48] hollomancer commented on #1412
Biggest thing will be VET-TEC, new board members

[2021-03-07 17:13] calincionca35 commented on #1412
@hollomancer Would you also consider adding the GuideStar Gold Transparency Seal as a milestone?

[2021-03-12 04:51] #1115 closed

[2021-03-12 15:57] #1338 closed

[2021-03-12 16:41] datphotogurl commented on #1393
Yes @hollomancer please make the new content a separate ticket so @Lianis-Operations can close this out.

[2021-03-12 16:45] datphotogurl commented on #1230
@kylemh is this issue resolved and ready to close? @Lianis-Operations and I are cleaning up the repos with any outstanding items.

[2021-03-12 17:23] kylemh commented on #1230
No

[2021-03-16 18:11] Lianis-Operations opened #1414 "Add "Intro to Slack" video on join page"
# Feature request
Put https://youtu.be/m2JuAa6-ors on our website and link to it on the join page.

## Associated with # 274 and # 252 on operationcode-pybot

### Proposed solution

- Create a new page to house a Youtube video.
- The page should be titled: "Slack Guide" navigable via the `/slack_guide` path.
- It should use the Hero and Content components. [Component documentation here](https://st

[2021-03-16 18:14] kylemh commented on #1414
I feel like this should be included in the welcome email, and not the UI. Just a suggestion.

[2021-03-16 19:08] calincionca35 commented on #1414
I suggest adding it to the UI so that it would **always** be available to **everybody**.

[2021-03-16 19:23] calincionca35 commented on #1414
I suggest adding it to the UI so that it is **always** available to **everybody**.

[2021-03-16 19:46] calincionca35 commented on #1414
I am interested in working on this issue.

[2021-03-19 22:06] Lianis-Operations commented on #402
@kylemh would it be possible to integrate google calendar with the website?

[2021-03-19 22:09] LindaCBeall commented on #1124
@ksmacleod99 are you still interested in working on this?

[2021-03-19 23:32] kylemh commented on #402
I'm not sure there is a backend for this.

[2021-03-19 23:32] kylemh commented on #402
Certainly we could do that Lianis. Is that the only source we want to connect to?

[2021-03-20 00:12] ksmacleod99 commented on #1124
It's been so long I hardly remember this -- you or Kyle can un-assign me

[2021-03-20 01:49] calincionca35 commented on #1124
What would be the **current rephrasing of the _specifics_ of the original issue** that would take into consideration the changes discussed in the above conversation?

[2021-03-22 14:42] Lianis-Operations commented on #402
@kylemh I want to say yes since Slack is already connected. @hollomancer @datphotogurl what do you suggest?

[2021-03-22 16:12] calincionca35 commented on #1412
My PR #1417 creates the placeholders for the copy for this issue.

[2021-03-23 21:38] hollomancer commented on #1393
Okay. Creating a new ticket - @Lianis-Operations to close this.

[2021-03-23 21:40] hollomancer opened #1418 "Add copy to Donate page"
# Feature request
Right now, the Donate page goes straight to the payment form. We'd like to add some copy, to give users context as to why they're donating, the impact that it has, that sort of thing.

## Proposed copy
TODO:

## Additional context
This may need a designer or a copywriter to look at.

[2021-03-23 21:45] kylemh commented on #1418
Once you get the copy, I'm sure @calincionca35 could knock this out in no time.

[2021-03-24 12:00] #1393 closed

[2021-03-27 00:46] #1414 closed

[2021-03-28 16:47] calincionca35 opened #1420 "Slack Guide page FAQ content"
# Feature request

Provide FAQ content on Slack Guide page
## Proposed solution

Substitute FAQ placeholders w/ content on Slack Guide page
## Potential alternative solutions

## Additional context

[2021-03-28 16:59] calincionca35 opened #1421 "Create Slack Guide page FAQ section w/ placeholders"
# Feature request

Add FAQ section w/ placeholders to Slack Guide page
## Proposed solution

Create Slack Guide page FAQ section w/ placeholders
## Potential alternative solutions

## Additional context

[2021-03-28 22:27] datphotogurl commented on #1412
Here is the copy for the /history page. We will need to also create a tab under "About Us" in the head navigation (open another issue).

**### Operation Code’s History** 
**2011** - Operation Code's founder - retired U.S. Army Captain, David Molina, attended his first hackathon in New York City. After a weekend learning to code at [AngelHack](https://angelhack.com/), he was inspired to pursue soft

[2021-03-29 12:34] calincionca35 opened #1423 "Add History tab to top nav"
# Feature request

In issue #1412 @datphotogurl requested adding a History tab to top nav
## Proposed solution

Add History tab to top nav
## Potential alternative solutions

## Additional context

[2021-03-29 12:56] datphotogurl commented on #1423
Please place the /history page as a drop down under the "About Us" tab, on the first line item.

[2021-03-29 16:52] #1423 closed

[2021-03-29 20:00] aleforniadreamin commented on #1420
Attach is the copy/content for the Slack Guide Page. A lot of new members may be using Slack for the first time so if we could provide these common questions/answers under the Slack Intro video it could provide a lot of value.

[Operation Code Welcome Aboard.pdf](https://github.com/OperationCode/front-end/files/6224220/Operation.Code.Welcome.Aboard.pdf)

[2021-03-29 20:14] calincionca35 commented on #1420
Thank you @aleforniadreamin for sharing this document.

[2021-03-30 16:45] Lianis-Operations opened #1426 "Add verbiage to "Join" page stating why we collect demographic information"
# Feature request
Add wording on https://operationcode.org/join that explains why we collect demographic information

## Proposed solution
Right above the "submit" button replace "The information we collect is to help us personalize your experience on our Slack community. We do not sell your information to anyone." with **_The demographic information you provide, helps us understand our community

[2021-03-30 16:51] Lianis-Operations commented on #1124
Created separate ticket to add verbiage to "Join" page stating why we collect demographic information #1426

[2021-03-30 16:54] kylemh commented on #1124
@datphotogurl lemme know how you'd like the OP of this issue to look to better reflect the title.

[2021-03-30 19:46] #1426 closed

[2021-03-30 20:31] #1412 closed

[2021-04-02 17:07] #1205 closed

[2021-04-02 17:07] kylemh commented on #1205
Canned cuz of privacy issues

[2021-04-02 17:10] kylemh commented on #1421
Gonna close this since #1420 is the only mergeable work

[2021-04-02 17:10] #1421 closed

[2021-04-02 17:12] kylemh commented on #402
Gonna close this since we won't be making a UI regarding Meetup's API. Instead, we'll make a new ticket to create a UI outlining our Google Calendar.

[2021-04-02 17:12] #402 closed

[2021-04-02 17:27] kylemh commented on #1200
resolved

[2021-04-02 17:27] #1200 closed

[2021-04-02 17:28] kylemh commented on #80
This one is considered a lower priority. We want to recreate a new ticket around this concept once it's the priority.

[2021-04-02 17:28] #80 closed

[2021-04-03 19:32] calincionca35 opened #1428 "display login and services in mobile menu"
# Bug Report
## What is the current behavior?
Mobile menu does not display the login option and services links
## What is the expected behavior?
Display login option and services links in mobile menu
## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

### Screenshots

[2021-04-03 19:46] #1428 closed

[2021-04-09 21:51] datphotogurl commented on #1420
[Approved_Operation_Code_Welcome_Aboard .docx](https://github.com/OperationCode/front-end/files/6288674/Approved_Operation_Code_Welcome_Aboard.docx)

@calincionca35 Here is the updated and approved copy. I've placed the content in a Word doc for you to grab the screenshots and icons to place in the web format design. Thank you!

[2021-04-17 00:14] #1420 closed

[2021-04-18 18:23] calincionca35 opened #1432 "Slack Guide Page assets' width at small screen size"
# Bug Report
## What is the current behavior?
Slack Guide Page assets at small screen size are too wide

## What is the expected behavior?
Adjust Slack Guide Page assets' width at small screen size

## What steps did you take to get this behavior?
Wrote media query for small screen size

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

### Screenshots

[2021-04-18 20:17] #1432 closed

[2021-04-26 20:00] datphotogurl opened #1437 "Add Operation Code's Threadless store to our website"
**Feature request**
We have a Threadless shop for merchandise that needs larger exposure on our website.

**Proposed solution**
A proposed solution is to create a tab under "Services" on the top nav called "Merch Store" that will go to this link when clicked: https://operationcode.threadless.com/
<img width="1286" alt="Screen Shot 2021-04-26 at 3 56 09 PM" src="https://user-images.githubuserconten

[2021-04-26 20:20] kylemh commented on #1437
For whoever develops this:

The link's pathname can just be `/swag`

https://operationcode.org/swag

[2021-04-27 20:17] RoseKimball commented on #1437
Hi, I would like to work on this one.

[2021-04-27 20:55] kylemh commented on #1437
We don't reserve issues, but feel free to tackle it!

[2021-04-28 02:16] #1437 closed

[2021-05-11 20:13] #1418 closed

[2021-05-18 21:06] Lianis-Operations opened #1452 "Create Feedback Widget"
# Feature request

## Proposed solution

[2021-05-24 20:27] peter-donovan commented on #1452
I am more than happy to handle this issue.

[2021-05-24 20:28] kylemh commented on #1452
This is saved copy-pasta!

We have a policy of not assigning issues to users not in our organization, to outwardly communicate that anybody is welcome to claim the issue. For context, we often dealt with people asking for assignment, but never returning. This accidental parking leads to extra maintenance work for maintainers.

[2021-09-09 16:32] Lianis-Operations opened #1481 "Add checkbox to signup flow for users to acknowledge they have read and agree to CoC"
# Feature request
Add checkbox for the website to require that the Code of Conduct has been read and acknowledged.

## Proposed solution
Language next to checkbox:  "I have read and agree to Operation Code’s Code of Conduct.”

## Additional context
Link to CoC: https://github.com/OperationCode/operationcode_docs/blob/master/community/code_of_conduct.md

[2021-09-21 05:22] kylemh commented on #1481
PR open. Ideally, the integration tests fail because I didn't update them to account for the new checkbox. I'm gonna head to bed, and will update the tests at some point tomorrow and hear back from y'all on QA!

[2021-09-23 05:22] #1481 closed

[2021-09-23 18:03] datphotogurl opened #1485 "Update Sponsor Logo"
# Update O'Reilly Logo

![ORM_logo_rgb](https://user-images.githubusercontent.com/51416206/134560130-20a5796a-1265-4132-bbaa-70c2812ae87e.png)

[2021-09-23 18:13] kylemh commented on #1485
Need to get my AWS account reset so I can update the image in S3, but consider this in-progress

[2021-09-23 19:34] kylemh commented on #1485
Sorted!

![Screen Shot 2021-09-23 at 3 34 21 PM](https://user-images.githubusercontent.com/9523719/134572167-c1b7be16-5f29-4b1f-99e8-00b2df3fc43a.png)
![Screen Shot 2021-09-23 at 3 34 23 PM](https://user-images.githubusercontent.com/9523719/134572168-c91c1955-8651-435d-a916-dd04f987e893.png)

[2021-09-23 19:34] #1485 closed

[2021-09-23 19:43] datphotogurl commented on #1485
Thank you!

*Cynthia S. Kao,*
Founder and CEO,
*Reb**irth Media LLC*
+1(202)716-5860
https://ckaojohnson.wix.com/rebirthmedia

[image: https://www.instagram.com/datphotogurl/]
<https://www.instagram.com/datphotogurl/>

<https://www.linkedin.com/in/cynk/>

<https://twitter.com/datphotogurl>

*Thank you for supporting a Veteran-owned, minority-owned and woman-owned
small business!*

*Notice of Confi

[2021-10-16 22:21] kylemh opened #1509 "Replace Accordion Component with Radix UI's Accordion"
We have and use an Accordion component in many places.

While we had the best intentions, there are minor accessibility issues with the Accordion. For example, the accordion header is listed before the button. This would mean people that use assistive technology would need to hear about the potential accordion, go to the button to open it, and back up to re-hear the title before being able to navi

[2021-10-16 22:24] kylemh opened #1510 "Replace Modal Component with Radix UI's Dialog"
We have and use a Modal component in a few places.

No real issues with `react-modal` that I'm aware of, but I'd rather use Radix for most/all primitives.

This ticket is to replace our Modal component and re-implement a styled instance of [Radix UI's Dialog](https://www.radix-ui.com/docs/primitives/components/dialog) and update any stories and integration tests. Feel free to remove unit tests.

[2021-10-16 22:36] kylemh opened #1511 "Refactor "In The News" Section"
[At this location](https://operationcode.org/press#in-the-news-link), we list articles where Operation Code has been mentioned in the media. We had an issue where some groupings had way more articles than other groupings, so the UI could get messy (one column is short and the other is very long):

<img width="1276" alt="Screen Shot 2021-10-16 at 6 31 38 PM" src="https://user-images.githubuserconte

[2021-10-16 22:39] kylemh opened #1512 "Remove text-align: justify from everywhere"
# Feature request
This one is simple! Any usages of `text-align: justify` should be removed.

I was wrong to use this property. Consistent word spacing is way more important than column widths feeling balanced. I thought it was a solution to a problem; however, I now believe the problem was creating too many UI's with columns.

[2021-10-16 22:43] kylemh opened #1513 "Change max-width large pixel amounts to 70ch where relevant"
There are many elements that have large pixel amounts as values for a max-width property to make the content seem bordered, consistent, and collected. In many of those places, a value of `70ch` is better than `XXXpx`. For example, in `globalStyles.css` the max-width of the `p` tag is responsively set to different values with media queries. Instead, it should simply always be set to `max-width: 70c

[2021-10-16 22:57] kylemh opened #1514 "Change focus styles to be applied on focus-visible instead"
Focus rings should only be seen by keyboard navigating users! To make it so, we should add styles to  the `:focus-visible` pseudo-selector instead of `:focus`.

Unfortunately, Safari _**STILL**_ doesn't supports `:focus-visible` 😭. This means we need to add the feature with [backwards compatibility](https://www.tpgi.com/focus-visible-and-backwards-compatibility/) OR [polyfill](https://github.com/W

[2021-10-18 15:09] #1512 closed, assigned to nobody

[2021-10-22 17:15] kylemh opened #1521 "Chromatic Is Not Working"
# Bug Report
https://www.chromatic.com/

PRs should have Chromatic-related actions, but they don't. Chromatic reports that we haven't built anything with them for a year!

[2021-10-25 02:53] kylemh opened #1527 "Code Schools page has a small style bug"
# Bug Report
## What is the current behavior?
When visiting operationcode.org/code_schools and opening the US State dropdown, it can collide with badges on code school cards.

## What is the expected behavior?
The dropdown should always cover any UI below it.

### Screenshots
<img width="1004" alt="Screen Shot 2021-10-24 at 10 51 20 PM" src="https://user-images.githubusercontent.com/9523719/138627

[2021-10-30 08:51] dlim87 commented on #1527
That other post seems to have been deleted, so I took a stab at it: https://github.com/OperationCode/front-end/pull/1529

[2021-11-01 16:01] #1513 closed

[2021-11-01 16:15] #1527 closed

[2021-11-01 16:28] #1514 closed

[2021-12-07 18:48] Lianis-Operations opened #1553 "Replace Code school form submission link with Airtable link"
# Code school form submission link is not working https://api.operationcode.org/forms/codeschool

## The redirect not working and the submission is failing

## Temporarily replace the current link with Airtable link, on the website https://airtable.com/shrbNHoW1SamZSKOs

[2021-12-07 19:02] kylemh commented on #1553
https://github.com/OperationCode/front-end/commit/b6aba94aeda315f30d39904d686a398b95bbd5eb

[2021-12-07 19:02] #1553 closed

[2021-12-07 19:05] Lianis-Operations commented on #1553
Thank you @kylemh!

[2021-12-09 16:26] #1509 closed

[2022-03-19 18:35] florahon commented on #1510
Hi! May I work on this issue?

[2022-03-19 20:54] kylemh commented on #1510
Absolutely!

[2022-04-05 15:01] florahon commented on #1510
Hi - sorry it took me so long to get started on this! I had a quick question - is the goal to replace each instance of the Modal shared component with the Radix Dialog, or to replace the actual ReactModal within the shared component with a Dialog instance? (I was assuming the latter, but was running into some trouble since it seems kind of different implementation-wise, so just wanted to check.) T

[2022-04-07 13:52] Lianis-Operations opened #1590 "Multiple Website Updates"
# 1. Replace Executive Director's information (Conrad Hollomon) with Cynthia S. Kao
**Cynthia's bio**: Cynthia S. Kao started her career as a Licensed Clinical Social Worker specializing in ABA, speech, trauma and addictions therapy for the non-profit sector during her time as an active duty military spouse and as a U.S. Air Force Reservist. During her time in service, she was a combat journalist

[2022-04-07 14:52] Lianis-Operations opened #1591 "Add Corporate Supporters logo"
# Add Coursera and Team Treehouse logos under Corporate Supporters

## Coursera
![coursera-logo-full-rgb](https://user-images.githubusercontent.com/51661129/162227878-d976f8b7-c3bf-414f-991a-fabe3f53fb54.png)

## Treehouse
![treehouse-logo-duotone_treehouse-logo-combo-duotone-large (1)](https://user-images.githubusercontent.com/51661129/162228001-f18f28ee-e798-4bdf-aa3c-6f862c775c88.png)

[2022-04-10 19:43] florahon commented on #1510
Hi again! So I'm running into a weird issue where the "join" Cypress tests are failing on GitHub, but all the tests are passing locally. I don't think anything I modified in this PR relates to the account registration so I'm not really sure why it's failing - would you happen to have any tips? Thanks!

[2022-04-11 18:31] #1339 closed

[2022-04-20 04:18] #1590 closed

[2022-04-20 04:18] #1591 closed

[2022-04-22 15:20] #1510 closed

[2022-05-31 16:37] toadkicker opened #1608 "Improve fidelity of logo by using svg"
Using SVG logo would help it look better on high resolution monitors. It is currently blurry on 4k displays.

[2022-05-31 17:21] toadkicker opened #1609 "EPS path to logo is unauthorized"
# Bug Report
https://operation-code-assets.s3.us-east-2.amazonaws.com/Operation-Code-Logo.eps is not available for download. It is linked from https://operationcode.org/branding

[2022-05-31 17:36] kylemh commented on #1609
Fixed

[2022-05-31 17:36] #1609 closed

[2022-05-31 17:43] toadkicker opened #1610 "Limit width of page content to match width of nav bar"
For example, there is text well into the gutters of the branding page, and those gutters are not equal sizes.
<img width="1437" alt="Screen Shot 2022-05-31 at 10 41 36 AM" src="https://user-images.githubusercontent.com/523330/171248145-564136c0-91e3-4759-9413-caa476211140.png">

[2022-05-31 18:40] datphotogurl commented on #1608
Here's the SVG for whoever wants to update this ticket.
![OC-Logo](https://user-images.githubusercontent.com/51416206/171261570-d5b649c9-d2bc-455a-b78a-588a7d3cff94.svg)
!

[2022-05-31 19:04] kylemh commented on #1610
No, I'm not sure what's being said. There exist dozens of pages where the nav width isn't the guide for gutters. Content spans past that width on many instances.

[2022-05-31 19:09] toadkicker commented on #1610
I think that is a bug not a requirement

[2022-05-31 19:25] kylemh commented on #1610
What I'm saying is this specific UI spans past the nav, but it also does on many pages because it's not related.

That doesn't mean we can't fix the UI. It also doesn't mean we can't fix only THIS UI.

I only had context that you were reporting these issues as a helpful bypasser. If @datphotogurl wants this UI changed in some way, I'll do so!

[2022-05-31 19:39] datphotogurl commented on #1610
I believe Todd was just making helpful suggestions. If the CSS width spans on all of the pages, could we fix that for all the pages?

[2022-05-31 20:21] kylemh commented on #1610
edited title and OP and reopened issue

[2022-07-25 00:31] kylemh opened #1634 "Update to React 18"
Update `react`, `react-dom`, `react-test-renderer`, and `react-is` to their latest versions.

You'll also want to upgrade `@testing-library/react`.

Here's a PR where somebody made an attempt with it back in the React 18 beta days.

[2022-07-25 00:32] kylemh opened #1635 "Upgrade Cypress to v10"
There's a helpful migration guide too: https://docs.cypress.io/guides/references/migration-guide

[2022-07-28 20:18] datphotogurl opened #1636 "New Project Rebuild Page"
# Feature request
I'm requesting a new webpage named "Project Rebuild" to be featured under the "Services" tab

## Proposed solution
Here is a design mock-up for the proposed layout and content: [https://xd.adobe.com/view/ab53c6ae-9924-4e55-a93a-ee8f68cb6fb2-fe00/]([https://xd.adobe.com/view/ab53c6ae-9924-4e55-a93a-ee8f68cb6fb2-fe00/](https://github.com/OperationCode/front-end/issues/url))
![Proje

[2022-08-01 14:32] kylemh opened #1648 "Mergify Not Identifying Dependabot Correctly"
# Bug Report
[mergify.io](https://mergify.io) is not correctly identifying @dependabot
https://github.com/OperationCode/front-end/pull/1646/checks?check_run_id=7613030272

[2022-08-01 14:41] kylemh commented on #1648
https://github.com/OperationCode/front-end/commit/f7e03c85f755b7cabe16050421e9a7f5e0d10cfb

[2022-08-01 14:41] #1648 closed

[2022-08-01 18:13] #1635 closed

[2022-08-05 01:41] #1636 closed

[2022-08-16 01:02] #1634 closed

[2022-08-18 14:32] madebanjo commented on #1608
I will like to update the logo of the project with an svg logo. I hope it is still open to my contribution.

[2022-09-02 22:29] datphotogurl opened #1663 "Update Events Page"
# Feature request
Please unpublished the "events" page for now and remove the drop down tab option under services while we re-design this page, and MeetUp pro is deactivated.

## Proposed solution
1. Remove this URL from public access: [https://operationcode.org/events](url)
2. Remove "Events" as a drop down option under the "Services" tab

## Additional context
Our Meetup Pro account is now deact

[2022-09-08 16:54] #1663 closed

[2022-09-25 00:41] jflem1 commented on #1608
Is updating to an svg logo still available?

[2022-09-25 13:22] kylemh commented on #1608
Yes

[2022-10-01 20:18] #1608 closed

[2022-10-16 03:48] elite16op commented on #1610
is this issue still available to work on ?

[2022-10-16 14:05] kylemh commented on #1610
Yes, but I don't think it will be a simple issue - just a heads up!

[2022-10-21 22:26] datphotogurl opened #1686 "LinkedIn Link In Footer Needs Updating"
# Bug Report
## The LinkedIn Logo on the footer has a URL that needs updating.

## What is the expected behavior?
When you click on the LinkedIn Logo, the URL should go to [this:](https://www.linkedin.com/company/operationcode/) Old link is defunct since our organization has been updated to a non-profit and not a code school. Please update :)

[2022-10-21 23:27] kylemh commented on #1686
Fix live shortly!

[2022-10-21 23:27] #1686 closed

[2022-11-04 19:57] friendlymatthew commented on #1124
Hi is this issue available to work on?

[2022-11-04 20:30] kylemh commented on #1124
Hey @friendlymatthew yes. Just please be sure to read the entire conversation. This is a really small ticket and not at all a full redesign of the page!