[2018-07-16 07:21] kylemh opened #7 "Configure Jest for unit tests and snapshots"
# Feature
## Why is this feature being added?

- Required for unit tests
- Required for Storyshots

## What should your feature do?
- Configure Jest such that Storyshots and unit tests are readily available.

[2018-07-16 07:23] kylemh opened #8 "Make stories for Form components"
# Feature
## Why is this feature being added?
- Part of the requirements for this project's completion is that every reusable component have a Storybook "story" on par with the quality present in `common/components/Button/__stories__/Button.stories.js`

  - Please let me know if I need to define this further
&nbsp;
- Every Form component is lacking such a Story

## What will resolve this issue?
-

[2018-07-16 07:28] kylemh opened #9 "Integrate Hygen.io for scripted component creation"
# Feature
## Why is this feature being added?

- New components will be created in time
- Setup of components is prone to error in regards to our methodologies and best practices
- Hygen will provide automated content/file/folder generation when somebody wants to create a component within `common/components`

## What should your feature do?
- Use [Hygen](https://www.hygen.io/) to create a command

[2018-07-16 07:31] kylemh opened #10 "Integrate Cypress.io"
# Feature
## Blocked!
until #17 and #164 are accomplished, there will be too much churn to really justify the e2e tests that I'm hoping to create.

## Why is this feature being added?

[Cypress.io](https://cypress.io)
Because we want the best e2e and integration testing the industry has to offer 💪

## What should your feature do?
TBA

[2018-07-16 07:37] kylemh opened #11 "Integrate label system into this repository"
I brought over a few labels that I needed immediately, but figured anybody could be welcome to add them if they have free time.

Please put everything found [here](https://github.com/OperationCode/operationcode_frontend/labels) over into [here](https://github.com/OperationCode/front-end/labels)

[2018-07-16 07:38] kylemh opened #12 "Integrate Storyshots Addon"
# Feature
## Blocked!
This ticket is blocked by #7

## Why is this feature being added?

https://github.com/storybooks/storybook/tree/v3.4.8/addons/storyshots
- Automatically generated regression tests 😎

## What should your feature do?
- Register the addon
- Run the tests globally
- Create snapshot tests

[2018-07-16 07:41] kylemh opened #13 "Integrate CodeClimate"
# Feature
## Why is this feature being added?

- This will prevent human error in terms of merging code not up to our standard!
- Find micro-optimizations where possible

## What should your feature do?
Integrate CodeClimate into our PR system as an automated test.

**Defined as done**:
- I am unable to commit code that does not follow best practices according to CodeClimate and/or the repository

[2018-07-16 07:44] kylemh opened #14 "Create PR bot that reminds maintainers to check Story parity"
# Feature
## Why is this feature being added?

- This will prevent human error in terms of merging changes to `components` without checking pre-existing stories for any needed changes.

## What should your feature do?
Ensure that edits to components always match up with it's Story (if it exists).

**Defined as done**:
- I am unable to open a PR with code changed in `components/` without a bot comm

[2018-07-16 07:46] kylemh opened #15 "(Epic) Recreate every page"
## We need all our content back!
A box can be ticked when the page in question exists **with any aliases*** and has no visual or functional regression from the live version.

_example: alias-one | alias-two ==> `operationcode.org/alias-one` & `operationcode.org/alias-two`_

### The following unauthenticated pages:

(x means claimed)
- [ ] landing - [mock-up](https://invis.io/NTO3FK69UQS)
- [ ] get

[2018-07-16 07:57] kylemh opened #16 "Remove out-of-date information from README"
# Feature
## Why is this feature being added?

We don't want people being mislead. Only leave the absolute facts within the documentation.

I realize there's not much info here. The documentation is a bit on the back-burner for me since we're not really advertising this repo except internally. Ask questions in here or DM me on Slack if you'd like to help out.

**A prime example:** the readme inclu

[2018-07-16 08:13] kylemh opened #17 "(Epic) Create a NavBar"
# Feature
## Why is this feature being added?

- The live navbar is not very flexible and has a lot of ungraceful style breakage depending on the viewport.
- We can't list all public content in the nav because it would look very ugly (across 2 or 3 rows)
- We should be able to list 30+ links within the NavBar without it spanning two bars
  - To accomplish this, we will need a NavItem component tha

[2018-07-16 08:16] kylemh opened #18 "Document installation steps within README"
# Feature
## Why is this feature being added?
Installation steps are incorrect.

## What should your feature do?
Show the all the steps necessary to be able to install, run, and build the application and the Storybook instance.

[2018-07-28 09:21] kylemh opened #21 "Integrate Storybook Storyshots"

[2018-07-28 10:44] kylemh commented on #21
Dupe #12

[2018-07-28 10:44] #21 closed

[2018-07-28 10:45] #7 closed

[2018-07-28 10:45] #12 closed

[2018-07-29 02:52] chrismgonzalez commented on #11
I can tackle this one

[2018-07-29 03:06] kylemh commented on #11
Assigning myself as a placeholder

[2018-07-29 03:48] chrismgonzalez opened #23 "Storybook throws error related to casing in YouTubeVideo component in Windows 10"
# Bug Report
Error when starting up Storybook on Windows

## What is the current behavior?
Storybook is unable to render correctly due to an error in the YouTubeVideo component

## What is the expected behavior?
Correct rendering
## What steps did you take to get this behavior?
`yarn storybook`
## Additional Info
Kyle is working to resolve the issue before opening up to a broader contributor base.

[2018-07-29 04:02] chrismgonzalez opened #24 "Link to Github Workflow is broken/returns 404 error"
# Bug Report
Link to "Github Workflow" in Readme.MD returns a 404 error
## What is the current behavior?
Clicking on link returns 404
## What is the expected behavior?
Clicking on link leads user to the right content
## What steps did you take to get this behavior?

## Additional Info

### Operating System
Windows 10 64-bit
### Browser
Chrome 67
### Screenshots

[2018-07-29 04:02] chrismgonzalez commented on #24
I can copy/paste the workflow into the Readme from the current front end repo.

[2018-07-29 04:10] chrismgonzalez commented on #24
I can work on this one - I will port over what is in the current contributing.md to reflect the new dev workflow with new repo URL and new yarn storybook commands.

Give me the go ahead and I will tackle it.

[2018-07-29 04:42] kylemh commented on #24
Dupe #16 - I'll leave the issue open as a means of focusing sub-tasks.

[2018-07-29 19:22] #23 closed

[2018-07-29 19:22] chrismgonzalez commented on #23
Solved

[2018-07-29 19:42] chrismgonzalez commented on #11
Complete

[2018-07-29 19:42] #11 closed

[2018-07-29 20:31] chrismgonzalez commented on #16
I will tackle this one

[2018-07-29 21:37] kylemh commented on #9
I am finding this to be a lot of work and realizing it would just bloat any kind of README. I'm going to close the issue and rely on PR bots to keep reviewers appraised of style issues.

[2018-07-29 21:37] #9 closed

[2018-07-29 21:40] kylemh commented on #13
With the closing of #9 , I'm going to edit this ticket to be completable via the integration of Code Climate.

[2018-07-29 21:43] kylemh opened #25 "Integrate TravisCI"
# Feature
## Why is this feature being added?

- We need PRs to build a demo version of the site per pull request.
- We need builds and tests to run via continuous integration using some CI tool
- We have historically used TravisCI with no complaints

## What should your feature do?
- Travis should automatically run tests, build applications, and deploy demo environments on a per pull request and

[2018-07-29 22:26] greenkeeper[bot] opened #26 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-07-30 01:49] #25 closed

[2018-07-30 03:10] kylemh commented on #26
Closed in #30

[2018-07-30 03:10] #26 closed

[2018-07-30 03:52] #16 closed

[2018-07-30 03:53] kylemh opened #32 "Remove out-of-date information in CONTRIBUTING.md"
# Feature
## Beginner Friendly
No code changes! Only markdown changes 💃

## Why is this feature being added?

We don't want people being mislead. Only leave the absolute facts within the documentation.

I realize there's not much info here. The documentation is a bit on the back-burner for me since we're not really advertising this repo except internally. Ask questions in here or DM me on Slack if

[2018-07-30 03:54] chrismgonzalez commented on #32
You know I want this one.

[2018-07-30 03:56] chrismgonzalez commented on #24
This issue should be resolved once `CONTRIBUTING.md` is built out.

[2018-07-30 05:51] #13 closed

[2018-07-30 07:36] kylemh opened #38 "Get test coverage above 20%"
# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally

## What should your feature do?
Add unit tests that move coverage to 20% according to coveralls

[2018-07-30 17:47] #38 closed

[2018-07-30 18:16] kylemh opened #41 "Get test coverage to 30%"
# Beginner Friendly!
There are plenty of examples of unit tests with which you can nearly copy-paste 😄

You can check your progress locally via `yarn jest --coverage` and looking at the top row.

# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally. Currently at 26%. Let's move to 30%+ and I'll keep making tickets in 10% increments.

## What should you

[2018-07-31 00:01] chrismgonzalez commented on #41
I will add what I can.

[2018-07-31 09:47] kylemh opened #46 "Get Now PR Integration Working Without Docker"
# Improvement
## What's the problem?

I’m able to get it to work with the [advertised example Docker](https://github.com/zeit/now-static-build-starter) method, but when attempting to build via Travis, I end up with a [directory listing of all of the repo’s contents](https://front-end-irvblbvwig.now.sh/) statically hosted. 😵

It seems like if I have a `now.json`, as the GitHub integration requires,

[2018-08-01 02:46] chrismgonzalez commented on #32
This is what I have come up with so far with regards to the TOC outline.

## Table Of Contents
- [Quick-Start Guide](#quick-start-guide)
  - update upstream URL
      - update "Initial Install" section to include our recommended versions of node, git, and yarn
- [Technologies](#technologies)
  - Verify/update info about the new tech that we are using.
- [Getting Started (For Newbies)](#getting-sta

[2018-08-01 17:19] kylemh commented on #32
This is perfect.

Instead of adding testing as just a resource, we should describe some stuff under
`- Developing Operation Code Front-end`

[2018-08-02 17:24] kylemh commented on #46
Seems like, for now, this isn't possible:

<img width="1297" alt="screen shot 2018-08-02 at 10 24 42 am" src="https://user-images.githubusercontent.com/9523719/43600011-4a39e44c-963e-11e8-9495-a4b72d86bade.png">

Docker stays.

[2018-08-02 17:24] #46 closed

[2018-08-02 17:27] chrismgonzalez commented on #32
Glad you like it, I will go ahead and get on it.

[2018-08-04 03:12] kylemh opened #52 "Routing does not work in Next static preview on PR bot"
# Bug Report
## What is the current behavior?
When a Now PR bot gives a static link, there's no ability to route between pages

## What is the expected behavior?
A user demoing a static preview build should be able to see all routes.

## What steps did you take to get this behavior?
- Open https://front-end-lxyzyqvzsp.now.sh/ from #51 preview
- Click '404'
- Observe incorrect component displayed

[2018-08-27 01:11] #52 closed

[2018-08-27 02:20] kylemh opened #69 "Static PR app builds do not showcase our custom 404 component"
# Bug Report
## What is the current behavior?
When going to a non-existent route on a preview `now` link [(example)](https://front-end-egeipfjvdv.now.sh/sahjs) Next's default error component shows up.

## What is the expected behavior?
You should see our tank flipping gif on non-existent routes

## More Info
[I opened a PR](https://github.com/zeit/next.js/pull/5036) and this issues is blocked by a

[2018-08-27 03:21] kylemh opened #71 "Create prepush hooks for formatting, linting, and tests"
# Feature
## Why is this feature being added?

Because people will contribute bad code and we'd like to automate stuff before a pull request is opened.

## What should your feature do?
Use [husky](https://github.com/typicode/husky) to run `format`, `lint`, and `test` in that order within a pre-push hook.

[2018-08-27 04:19] #71 closed, assigned to kylemh

[2018-08-27 04:24] kylemh opened #73 "Recreate all icons as local SVGs because FontAwesome is in flux"
# Feature
## Why is this feature being added?

I've decided that we will not rely upon 3rd party icon sets. The 3rd party integrations include breaking changes often and we're stuck on a version that we cannot upgrade without dedicated lots of resource hours.

## What should your feature do?
- In this issue, document the location and a descriptive name for every unique icon on operationcode.org
-

[2018-08-27 04:27] kylemh opened #74 "Implement React SVG Loader in `next.config.js` and storybook webpack.config"
# Feature
## Why is this feature being added?

We will eventually be using SVGs for all of our icons (#73), and SVG loader makes it very easy to utilize SVGs within React.

## What should your feature do?
Edit `next.config.js` and `.storybook/webpack.config.js` to use [react-svg-loader](https://github.com/boopathi/react-svg-loader) such that SVG assets can simply be imported and leveraged as compo

[2018-08-27 04:31] kylemh commented on #73
I'll start:
# HOME PAGE
## Membership Section
![screen shot 2018-08-26 at 9 23 46 pm](https://user-images.githubusercontent.com/9523719/44640533-097a1c00-a977-11e8-9eb0-79ed611a331f.png)

(from left to right)
Three people grouped, road, checkered flag, briefcase

# FOOTER
(from left to right)
Facebook logo, GitHub logo, Twitter logo, LinkedIn logo, Pinterest logo

# MISCELLANEOUS
Double upwards ch

[2018-08-28 17:58] dmarchante opened #80 "Design: Page for /employers"
# Feature
Similar to a product demo, an employers demo will be a landing for companies, organizations and government agencies that want to know more about hiring our military veterans, spouses and military family members.

## Why is this feature being added?
This feature enables employers to quickly and seamlessly learn more about our organization and determine whether hiring one of our members ma

[2018-08-28 17:59] dmarchante commented on #80
This issue blocked by the need for parity.

[2018-08-28 20:48] kylemh commented on #15
As of this moment, per @dmarchante, many new pages have been put on hold pending redesign or deletion.

List of pages available for working:
faq, branding, history

[2018-08-29 18:04] PeterEckIII commented on #41
Jumping in on this issue

[2018-08-30 02:57] kylemh commented on #8
Gonna elect to phase these components out rather than draft documentation up for them.

[2018-08-30 02:57] #8 closed

[2018-08-30 03:32] kylemh commented on #24
Looks like this got closed by your work 👍

[2018-08-30 03:32] #24 closed

[2018-08-30 03:38] kylemh opened #90 "Recreate Footer component"
# Feature
## Why is this feature being added?

We need our footer back!

## What should your feature do?
- Recreate [this](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/footer/footer.js) component with the new repositories paradigms, code standards, and snapshot tests.
- Implement component here: https://github.com/OperationCode/front-end/blob/master/pages/_ap

[2018-08-30 05:31] #74 closed

[2018-08-30 21:13] #41 closed

[2018-08-30 21:15] kylemh opened #96 "Get test coverage to 40%"
# Beginner Friendly!
There are plenty of examples of unit tests with which you can nearly copy-paste 😄

You can check your progress locally via `yarn jest --coverage` and looking at the top row.

# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally. Currently at 31%. Let's move to 40%+ and I'll keep making tickets in 10% increments.

## What should you

[2018-08-30 21:15] kylemh commented on #96
@PeterEckIII is assigned to this

[2018-08-30 22:02] kylemh opened #97 "Switch from coveralls to another code coverage tool"
# Feature
## Why is this feature being added?

Coveralls seems to have an absurd delay in their GitHub Status API check as seen here:
https://github.com/lemurheavy/coveralls-public/issues/281#issuecomment-371420440

Unfortunately, this means that a PR could ruin test coverage, pass 5/6 of our status checks, but be mergeable because the 6th one has yet to even populate.

That's simply unacceptable.

[2018-08-31 18:44] #96 closed

[2018-08-31 18:44] kylemh opened #101 "Get test coverage up to 50%"
# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally. Currently at 42%. Let's move to 50%+ and I'll keep making tickets in 10% increments. You can check your progress locally via `yarn jest --coverage` and looking at the top row.

## What should your feature do?
Add unit tests that move coverage to 50% or higher according to coveralls

[2018-09-01 01:51] #97 closed

[2018-09-03 02:26] #90 closed

[2018-09-03 07:14] kylemh opened #109 "<OutboundLink> and <ScrollLink> Stories are broken"
more later, see https://operation-code-storybook.netlify.com/?knob-href=https%3A%2F%2Fwhitehouse.gov&knob-tabIndex=0&knob-children=White%20House%20Official%20Website&knob-analyticsEventLabel=White%20House%20Official%20Website&knob-hasIcon=true&selectedKind=Common%2FOutboundLink&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

see #108 (😭)

[2018-09-04 19:03] chrismgonzalez commented on #15
I will try to get some work done on the jobs page this week.

[2018-09-05 03:57] #73 closed

[2018-09-05 04:00] kylemh commented on #73
Lots of icons here:
https://operationcode.org/our_programs
https://operationcode.org/chapter_leader
https://operationcode.org/get-involved

[2018-09-05 23:21] kylemh opened #119 "Create branch-specific build process Travis file for Greenkeeper"
# Feature
## Why is this feature being added?

https://github.com/OperationCode/front-end/pull/118

I can't use `yarn --pure-lockfile` in CI with Greenkeeper involved, but it's the purest way to ensure the repository and CI environments have matching dependencies.

## What should your feature do?
Use `yarn --silent` should run for all branches that include "`greenkeeper/`" in the branch name and `

[2018-09-06 05:36] chrismgonzalez commented on #15
Got part of the jobs page setup.  The only thing that needs to be added is the logic behind the individual jobs being pulled in from a db.  I also added links to the nav so that we can see the history and jobs page.

[2018-09-09 19:53] wimo7083 commented on #14
Are you imaginging:
1. User creates a PR
2. Bot checks if files in `common/components` is changed.
3. Bot adds a message saying something telling them to verify that `common/components/$component/__stories__/*` has all the required documents?

[2018-09-09 20:35] kylemh commented on #14
Exactly. I'd specify required documents as API parity

[2018-09-11 01:41] wimo7083 commented on #14
So is this needed haha?

[2018-09-11 02:29] kylemh commented on #14
While the script you made is helpful, I don't know how to enforce its usage when new components are created. This issue acknowledges that it's probably tough to enforce good practices, so at least a reminder when a common component is changed for us to ensure that the Story has parity would be nice. It's one of many possible ways to instill good Storybook practices within the repository.

[2018-09-12 22:19] kylemh commented on #109
https://github.com/zeit/next.js/issues/1827#issuecomment-420735395

[2018-09-17 17:09] dmarchante commented on #15
https://invis.io/3CNY7XQYW94#/318818762_OC_Members_Landing_Page

[2018-09-17 17:10] dmarchante commented on #15
https://projects.invisionapp.com/d/#/console/15336699/318818763/preview

[2018-09-17 17:14] dmarchante commented on #15
Mock-Ups:
https://invis.io/NTO3FK69UQS - main page
https://invis.io/GRO3FKUEZMX - get involved
https://invis.io/NMO3FLFWQ43 - events

[2018-09-17 17:16] dmarchante commented on #15
Wireframes:
https://invis.io/5DO3FMBUBCZ - main landing
https://invis.io/7WO3FMN92BA - member landing
https://invis.io/FAO3FN1ERNK - get involved
https://invis.io/RJO3FNEQNY7 - events

[2018-09-19 19:12] kylemh commented on #69
https://github.com/zeit/next.js/releases/tag/7.0.0 is out 🎉

Unblocked and will be resolved via upgrade to Next@latest

[2018-09-20 19:22] greenkeeper[bot] opened #143 "An in-range update of jest-enzyme is breaking the build 🚨"
## The devDependency [jest-enzyme](https://github.com/FormidableLabs/enzyme-matchers) was updated from `6.0.5` to `6.1.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fjest-enzyme-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-enzyme is a dev

[2018-09-21 03:53] kylemh commented on #143
https://github.com/FormidableLabs/enzyme-matchers/issues/269

will be resolved tomorrow prolly

[2018-09-21 03:53] #143 closed

[2018-09-22 04:03] kylemh opened #150 "Leverage cross-env to inject environment variables safely for windows devs"
# Feature
## Why is this feature being added?

- Windows devs get an error when running any scripts that define environment variables inline, "NODE_ENV is not recognized as an internal or external command" for example.

## What should your feature do?
Use [cross-env](https://github.com/kentcdodds/cross-env) to inject environment variables in all scripts instead of inlining environment variable def

[2018-09-22 13:15] #150 closed

[2018-09-22 19:05] chrismgonzalez commented on #17
Is anyone currently working on this?  It would be great to have it up and working by Hacktoberfest.

[2018-09-22 19:22] chrismgonzalez opened #155 "Jest indicated that certain test suites are failing to run"
# Bug Report
## What is the current behavior?
Jest is throwing errors that test suites are failing to run in certain files.
## What is the expected behavior?
Jest should not throw errors in test.js files.

## What steps did you take to get this behavior?
Ran the test runner `yarn test`
## Additional Info
### Operating System
Windows 10 Pro Version 1803  OS build 17134.285
### Browser

### Screensh

[2018-09-22 19:53] kylemh commented on #17
It’s assigned to @jjhampton

[2018-09-22 21:09] jjhampton commented on #17
sorry, i've been lagging on this. i hope to get some work in tonight. @chrismgonzalez @kylemh

[2018-09-25 20:19] greenkeeper[bot] opened #156 "An in-range update of react-modal is breaking the build 🚨"
## The dependency [react-modal](https://github.com/reactjs/react-modal) was updated from `3.5.1` to `3.6.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-modal-3.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-modal is a direct dependency

[2018-09-27 07:51] nvwebd commented on #155
Hi guys / gals.

Just took a look at this and I'm finding it hard to follow the chain of though:

- what branch are you running this on?
- if you check the error stack it says that an err occurs in jest.setup.js and this state is not on master

Branch out from your state and push to a feature/??? branch so we can have a closer look.

Best.

[2018-09-27 17:54] greenkeeper[bot] opened #159 "An in-range update of babel-loader is breaking the build 🚨"
## The dependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.2` to `8.0.3`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fbabel-loader-8.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a direct dependen

[2018-09-27 18:04] kylemh commented on #155
I believe Chris encounters this on every branch. What do you mean by `state is not on master`?

[2018-09-27 18:55] kylemh commented on #159
🤷‍♂️ I got nothin on this one

[2018-09-27 21:30] nvwebd commented on #155
Hi. What I mean that the master branch doesn't have the same source code state as Chris has.

But after inspection I've noticed that the code is the same :)

The error line threw me off a bit.

I have Bootcamp on my mac and I'll switch to windows and check it out.

[2018-09-27 22:46] nvwebd commented on #159
Maybe this could help: https://github.com/zeit/next.js/issues/5231 ?

Seems something like this.

Build Log says:

`Module build failed (from ./node_modules/next/dist/build/webpack/loaders/next-babel-loader.js):
ReferenceError: Unknown helper getPrototypeOf`

and so forth. Seems a "next" config problem?

And I can normally build on this branch ... Locally at least. Docker image is another story: I

[2018-09-27 22:55] kylemh commented on #159
My babel config may be off now that babel 7 is being consumed by our biggest libraries.

Potentially may need something like this, but the Babel 7 way: https://github.com/zeit/next.js/issues/4291#issuecomment-398447718

[2018-09-27 22:56] kylemh commented on #155
Oh yeah! Column number 17, not line number 17 - right? Threw me off for a second.

[2018-09-30 18:15] #156 closed

[2018-10-01 07:19] kylemh opened #164 "Implement newly-designed landing page"
# Feature
## Why is this feature being added?

Our design team has come up with a beautiful redesign to simplify UX.

## What should your feature do?
Implement the newly-designed landing page via `pages/index.js`
Here is the mock-up: https://invis.io/NTO3FK69UQS

[2018-10-01 07:26] kylemh opened #165 "Implement newly-designed /get_involved page"
# Feature
## Why is this feature being added?

Our design team has come up with a beautiful redesign to simplify UX.

## What should your feature do?
Implement the newly-designed landing page via `pages/get_involved.js`
Here is the mock-up: https://invis.io/GRO3FKUEZMX

[2018-10-01 07:27] kylemh commented on #165
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:29] kylemh opened #166 "Create /events page"
# Feature
## Why is this feature being added?

Our design team has come up with a beautiful redesign to simplify UX.

## What should your feature do?
Implement the newly-designed landing page via `pages/events.js`
Here is the mock-up: https://invis.io/KSO12EFRU7E#/323662230_OC_Events_Landing_Page

## Temporary Note
This project requires back-end labor to finish (creating events surrounding our mee

[2018-10-01 07:29] kylemh commented on #166
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:34] kylemh opened #167 "Reimplement /chapter_leader page"
# Feature
## Why is this feature being added?

https://operationcode.org/chapter_leader exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the chapter_leader page via `pages/chapter_leader.js`
- [See live source code](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/chapterLeader/chapterLeader.js)
- Refactor as

[2018-10-01 07:35] kylemh commented on #167
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:36] kylemh opened #168 "Reimplement /contact page"
# Feature
## Why is this feature being added?

https://operationcode.org/contact exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the newly-designed landing page via `pages/contact.js`
- [See live source code.](https://github.com/OperationCode/operationcode_frontend/tree/master/src/scenes/home/contact) Feel free to copy-paste a lot.
- Refactor

[2018-10-01 07:36] kylemh commented on #168
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:37] kylemh opened #169 "Reimplement /branding page"
# Feature
## Why is this feature being added?

https://operationcode.org/branding exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the branding page via `pages/branding.js`
- [See live source code.](https://github.com/OperationCode/operationcode_frontend/tree/master/src/scenes/home/branding) Feel free to copy-paste a lot.
- Refactor as require

[2018-10-01 07:38] kylemh commented on #169
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:38] kylemh opened #170 "Reimplement /code_schools page"
# Feature
## Why is this feature being added?

https://operationcode.org/code_schools exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the code_schools page via `pages/code_schools.js`
- Emulate [this mock](https://projects.invisionapp.com/share/KSO12EFRU7E#/screens/323736695_OC_Coding_Schools_Landing_Page).
- [See live source code.](https://g

[2018-10-01 07:39] kylemh opened #171 "Reimplement /press page"
# Feature
## Why is this feature being added?

https://operationcode.org/press exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the page via `pages/press.js`
- [See live source code.](https://github.com/OperationCode/operationcode_frontend/tree/master/src/scenes/home/press) Feel free to copy-paste a lot.
- Refactor as required to match our new

[2018-10-01 07:40] kylemh opened #172 "Reimplement /challenge page"
# Feature
## Why is this feature being added?

https://operationcode.org/challenge exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the challenge page via `pages/challenge.js`
- [See live source code.](https://github.com/OperationCode/operationcode_frontend/tree/master/src/scenes/home/challenge) Feel free to copy-paste a lot.
- Refactor as req

[2018-10-01 07:40] kylemh commented on #172
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:40] kylemh commented on #170
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:42] kylemh commented on #171
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:42] kylemh opened #173 "Reimplement /team page"
# Feature
## Why is this feature being added?

https://operationcode.org/team exists and it needs to exist in the new code base as well.

## What should your feature do?
- Implement the team page via `pages/team.js`
- [See live source code.](https://github.com/OperationCode/operationcode_frontend/tree/master/src/scenes/home/team) Feel free to copy-paste a lot.
- Refactor as required to match our n

[2018-10-01 07:42] kylemh commented on #173
This is a request for a new or redesigned page.

- The page should be implemented by creating a file (or editing the file if it already exists) in the `pages` folder. The file name should match the route (ex: code_schools --> `pages/code_schools.js`).
- Please remember to leverage the `<OutboundLink>` component when dealing with external links (leaving our hostname - operationcode.org)
- Do your b

[2018-10-01 07:43] kylemh commented on #15
Closed in favor of separate issues 👍

[2018-10-01 07:43] #15 closed

[2018-10-01 08:26] kylemh opened #174 "Create login and registration flows"
# Feature
## What should your feature do?
- Create routes at `/login`, `/sign_up`, and `/join`.
- Create a modal-focused login flow
- Redesign and simplify current registration flow
- Add section for [data use info](https://github.com/OperationCode/operationcode_frontend/issues/983)
- Collaborate with @Wimsy113 and @lauraux to ensure design/product vision is being executed properly.
- Be aware of

[2018-10-01 08:35] kylemh opened #175 "Create /dashboard page"
# Feature
## Blocked
#174

## Why is this feature being added?

- We have features which require registration to take advantage of. A good way to display this sentiment is via a registered user dashboard.

## What should your feature do?
- Create a `/dashboard` route
- Welcomes the user by name
- Provides a way for a user to request a mentor
- Provides a way for a user to edit their profile

[2018-10-01 08:51] kylemh opened #176 "Add ability to rate code schools"
# Feature
## Blocked
#174
#175
#170

## Why is this feature being added?

We previously discussed adding alumni to the code schools page and ability for them to add code school reviews.

## What should your feature do?
- Allow registered users to validate their status as a particular code school alumni
- Allow those users to vote on said school's performance non-anonymously
- Implement UI that all

[2018-10-01 09:01] kylemh commented on #17
Note: https://invis.io/NTO3FK69UQS for redesign

[2018-10-01 09:15] kylemh opened #177 "Client-side routing is broken in local development"
# Bug Report
## Mitigation
To continue working, simply reload the route you navigate to.

## What is the current behavior?
When switching routes in local development via `next` `Link` components, following error is displayed:
![screen shot 2018-10-01 at 2 03 02 am](https://user-images.githubusercontent.com/9523719/46279522-2679b000-c51e-11e8-87b7-6175fdd9b0d8.png)

## What is the expected behavior

[2018-10-01 09:32] kylemh opened #179 "Custom fonts are not available in our Storybook"
# Bug Report
## What is the current behavior?
All text is Helvetica

## What is the expected behavior?
PF Din Display and Noto Serif should be in use

## More Information
See https://github.com/storybooks/storybook/issues/1070#issuecomment-304113117 for a quick win 💃

[2018-10-01 20:11] takethefake commented on #101
I’ll go for it!

[2018-10-01 20:12] kylemh commented on #101
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-01 21:31] takethefake commented on #101
#182

[2018-10-01 21:36] #179 closed

[2018-10-01 22:16] takethefake commented on #10
would be interested in doing this when the time is ready!

[2018-10-01 22:22] kylemh opened #183 "Get test coverage to 60%"
# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally. Currently at [![Test Coverage](https://api.codeclimate.com/v1/badges/5010b82ce5d8e319a597/test_coverage)](https://codeclimate.com/github/OperationCode/front-end/test_coverage). Let's move to 60%+ and I'll keep making tickets in 10% increments. You can check your progress locally via

[code]

and loo

[2018-10-01 22:29] takethefake commented on #183
see those lines covered

[2018-10-01 22:31] kylemh commented on #10
Once #164 and #17 are completed, I can get going on setting up Cypress configuration so that we can begin to add e2e testing per page 💃

Thanks for being ready to step up to the plate.

[2018-10-01 22:32] kylemh commented on #183
You're killin it! Just to note, if you resolve 3 issues in any of our repositories... We're gonna have to get you a t-shirt 😉

[2018-10-02 00:12] chrismgonzalez commented on #155
I'm going to run the tests on my mac and report back.

[2018-10-02 00:27] takethefake commented on #183
#184

[2018-10-02 00:33] chrismgonzalez commented on #155
Tests on my mac and PC are identical.  I think the root cause of the problem is with the Jest extension I have installed.

I'm OK with closing this issue for now.

[2018-10-02 00:39] kylemh commented on #155
Can you try again when using the version of node indicated in `.nvmrc`?

[2018-10-02 00:40] kylemh commented on #155
Check out https://github.com/coreybutler/nvm-windows

[2018-10-02 00:52] chrismgonzalez commented on #155
My node version is the same as the one in `.nvmrc`.  The Jest extension works fine in my MacOS machine.  Still pooping out on Windows.  However, when I run `yarn test` or `yarn jest --coverage` I get the same readout in the console.

[2018-10-02 01:05] kylemh commented on #155
Closing this. Hopefully it's isolated to the specific extension and some kind of incorrect config.

[2018-10-02 01:05] #155 closed

[2018-10-02 02:12] chrismgonzalez commented on #172
I got this one!

[2018-10-02 03:06] zacharyrgonzales commented on #17
I would love to work this! I just got finished the ui for a website with css grid. Can I be assigned to this and or work on this feature?

[2018-10-02 05:00] kylemh commented on #17
Hey @zacharyrgonzales - we appreciate your interest. This issue has a lot of secret context and it’s been assigned to a staff member of Operation Code. There are still plenty of other issues available!

[2018-10-02 06:08] zacharyrgonzales commented on #17
thanks.

On Tue, Oct 2, 2018, 12:00 AM Kyle Holmberg <notifications@github.com>
wrote:

[2018-10-02 10:00] popugang commented on #177
Same problem

[2018-10-02 17:52] dirtyredz commented on #171
My Pr should not close this issue, its only a copy of the live site. No new content has been added.

[2018-10-02 18:10] dmarchante commented on #14
assigning myself

[2018-10-02 18:36] kylemh commented on #183
Please note: between #184 #186 and #188 a lot of coverage has been added to various components. If you'd like to add tests, consider looking elsewhere like `cookie-utils`, the YoutubeVideo component, the ScrollButton component, and maybe even our `createComponent` script (you can remove the coverage ignore line on that one)

[2018-10-02 18:41] takethefake commented on #183
I will dig deeper in SocialLogin in the 70% Coverage Task :D

[2018-10-02 18:48] dirtyredz commented on #171
Do we have a new design template? So i can look into tweaking styles and more specifically where were looking at adding the above referenced media articles.
I don't want do a bunch of styling work if there is already a planned redesign available.

[2018-10-02 18:56] kylemh commented on #171
There's no mock to speak of here.

**Some of the style issues I noticed, if you'd like to tackle them:**
- Videos aren't centered horizontally
- Videos and Branding sections should have a `theme` prop value of "grayLight"
- Photos aren't within a flex container / centered horizontally
- The CivixX OutboundLink should have a `hasIcon` prop value of "false"

[2018-10-02 19:53] #183 closed

[2018-10-02 20:01] kylemh opened #190 "Get test coverage to 70%"
# Feature
## Why is this feature being added?

Trying to get test coverage up to 90% incrementally. Currently at [![Test Coverage](https://api.codeclimate.com/v1/badges/5010b82ce5d8e319a597/test_coverage)](https://codeclimate.com/github/OperationCode/front-end/test_coverage). Let's move to 70%+ and I'll keep making tickets in 10% increments. You can check your progress locally via

[code]

and loo

[2018-10-02 20:09] dirtyredz commented on #171
The horizontal centering doesn't look terribly off but notice it the most on lower device sizes. Ill see what can be done for those. The other issue look fairly straight forward.
Ill work on these tonight, Thanks

[2018-10-02 20:16] lgruelas commented on #190
I'm Interested

[2018-10-02 20:27] kylemh commented on #190
![Do it!](https://media0.giphy.com/media/yE3P1gj3qLMbe/giphy.gif)

[2018-10-02 21:11] dirtyredz commented on #171
I understand, i figured it was a matter of browser or device that was causing the distinct difference.
Your screenshot helps me identify what you were seeing, and I should have that fixed with my next pr.

[2018-10-02 21:35] kylemh commented on #171
Chrome@latest for what it's worth

[2018-10-02 21:44] chrismgonzalez commented on #190
I guess I should try and write some test at some point, too.  Everyone else is doing it.

[2018-10-02 21:59] takethefake commented on #190
i would start with more tests in `SocialLogin`

[2018-10-02 22:11] takethefake commented on #190
I would refactor the whole `SocialLogin` Area inclusive the dependant Classes (Google/Facebook) the `run` method is bad practice and all social components depend on it.

[2018-10-02 22:16] kylemh commented on #190
@takethefake in https://github.com/OperationCode/front-end/pull/184#issuecomment-426112661 I was trying to communicate that I think we can move forward in simply deleting the code. We're not using `react-router` anymore. Spending the time to create tests for an unimplemented component that will have tons of breaking changes seems like a waste of time.

The best way to up coverage would be to delet

[2018-10-03 00:13] takethefake commented on #190
bumped us up to over 80% last on the list is  `cookie-utils`

[2018-10-03 00:47] tigclaw commented on #165
Can I try tackling this one?

[2018-10-03 00:51] ksmacleod99 commented on #165
@tigclaw I assigned myself as a placeholder for you.
Let us know if you have questions!

[2018-10-03 01:06] #190 closed

[2018-10-03 07:14] dirtyredz commented on #171
This latest PR should close out this issue. A few merge conflicts need to get fixed but doesn't look like anything major.

[2018-10-03 07:28] dirtyredz opened #198 "Button component accessibility"
# Feature
Button component needs accessibility

## Why is this feature being added?
Accessibility is very important!

## What should your feature do?
Accept aria props.
Handle "onKeyPress" the same as "onClick"

[2018-10-03 07:56] kylemh commented on #198
I love that you care about accessibility. [As you can see](https://github.com/OperationCode/operationcode_frontend/issues/566), we have a lot to improve on the live site.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

Unless there's a clear need for ARIA attributes (we depart from semantic HTML), I think we can move past this.

Since we're not providing onKeyDown, hitting the `E

[2018-10-03 07:56] #198 closed

[2018-10-03 08:38] dirtyredz commented on #198
You can treat a button as a toggle to a screen read with the "aria-pressed" attribute.
Used specifically for situations like this (I think)
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role#Toggle_buttons

[2018-10-03 21:16] kylemh opened #200 "Integrate import sorting in eslint config"
# Feature
## Why is this feature being added?

I'd like imports to be sorted in a uniform manner, so that it doesn't become an aspect of code reviews.

## What should your feature do?
Use https://eslint.org/docs/rules/sort-imports and implement rules that would yield the following result:

[code]

with alphabetically sorted modules and imports.

After completion, please run `yarn format` and commi

[2018-10-03 21:18] kylemh commented on #171
Assigning myself as a placeholder for @dirtyredz

[2018-10-03 21:35] takethefake commented on #119
will do

[2018-10-03 22:17] kylemh commented on #119
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-03 22:30] chrislaughlin commented on #200
Happy to take this on

[2018-10-03 22:38] chrislaughlin commented on #200
PR: https://github.com/OperationCode/front-end/pull/202

[2018-10-03 22:47] kylemh commented on #200
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-03 22:54] cmgonzales commented on #173
Can I claim this

[2018-10-03 22:56] kylemh commented on #173
You sure can!

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-03 23:03] #171 closed

[2018-10-04 00:38] cmgonzales commented on #173
thanks

[2018-10-04 15:28] cmgonzales commented on #173
Hi Kyle,

is possible if i can see the team members json url

[2018-10-04 17:56] kylemh commented on #173
@cmgonzales you can see the API communication in the old application here: https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/team/team.js#L20

You'll find a file where you can define the endpoint in `common/constants/api.js`

There - under the list of gets - you should make a new function:

[code]

and import it within `pages/team.js`. You can see how to grab asyn

[2018-10-05 02:52] greenkeeper[bot] opened #205 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.5.0` to `1.6.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fmonorepo.enzyme-1.6.0).

This version is **covered** by your **current version range** and after updating it in

[2018-10-05 03:19] #205 closed

[2018-10-05 03:28] cmgonzales commented on #173
@kylemh i downloaded npm install --save next react react-dom then ran yarn dev it gave me an error. Im trying to see the webpage on the local host.

errors:
 error  in ./pages/_app.js

[2018-10-05 05:03] cmgonzales commented on #173
@kylemh I figured it out. I installed yarn and it worked

[2018-10-05 05:17] kylemh commented on #173
Do your best to avoid relative imports!

https://moduscreate.com/blog/es6-es2015-import-no-relative-path-webpack/

You can directly reference `static`, `common`, `components` and drill-down from there.

Also, good move to use yarn for our project 👍

[2018-10-05 05:22] kylemh opened #208 "Remove all React imports in /pages and prevent them in the future with lint rule"
# Feature
## Why is this feature being added?

- React is available implicitly in every file within the pages folder
- Removing React imports because it's an added line for no reason
- Preventing future imports with lint rule to prevent needing to police that specific import in the `/pages` folder.

## What should your feature do?
- Use https://eslint.org/docs/rules/no-restricted-imports in `/page

[2018-10-05 05:32] celinrayen commented on #208
I can take this.

[2018-10-05 05:39] WebDevRaj commented on #208
I am working on this.

[2018-10-05 05:40] celinrayen commented on #208
@WebDevRaj The work is completed now and PR is ready to ship. Sorry!

[2018-10-05 05:40] kylemh commented on #208
@WebDevRaj I apologize - y'all are too fast! Since @celinrayen asked first, I'm just gonna respect the queue.

I am assigning myself to this issue as a placeholder for @celinrayen 's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-05 06:24] kylemh opened #210 "Convert every promise to async/await"
# Feature
## Why is this feature being added?

- async/await seems to be more popular than promises
- async/await is subjectively preferred due to the perceived value of not dealing with scope/callback management that are fundamental to promises.
- A new lint configuration is coming in for test files which prevents the usage of Promises. This will line up test file linting with other JS file linti

[2018-10-05 07:09] kylemh commented on #210
I am assigning myself to this issue as a placeholder for @kanitsharma 's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-05 08:03] #210 closed

[2018-10-05 08:10] #200 closed

[2018-10-05 08:35] kylemh commented on #208
Resolved in #209

[2018-10-05 08:35] #208 closed

[2018-10-07 20:58] cmgonzales commented on #173
@kylemh I tried to call the api but i got this error:

 https://staging.api.operationcode.org/api/v1/team_members net::ERR_NAME_NOT_RESOLVED

[2018-10-07 21:09] cmgonzales commented on #173
nvm i forgot to add .json:
https://api.operationcode.org/api/v1/team_members.json

it worked now

[2018-10-07 21:28] kylemh commented on #173
It's curious that the API only works with `.json` in the suffix. I'd rather you adjust the common URLs if that is indeed required.

@wimo7083 is it required to have `.json` in the suffix of the request?

[2018-10-07 21:46] kylemh commented on #173
hmmm

https://api.operationcode.org/api/v1/team_members

seems to render JSON just fine.

[2018-10-07 22:17] cmgonzales commented on #173
sorry there a "staging" word in the api url when i import it. that was the issue.

https://staging.api.operationcode.org/api/v1/team_members net::ERR_NAME_NOT_RESOLVED

[2018-10-07 23:18] kylemh commented on #173
Ah yeah looks like staging data isnt quite there. Hard-code to prod locally so you can get it working, but when you make the PR please leave that change uncommitted 👍

[2018-10-07 23:40] kylemh opened #215 "Enable jest-prop-type-error and resolve any issues"
# Feature
## Why is this feature being added?

Ensures components are tested with all required props being passed.

## What should your feature do?
- Remove #TODO comment in jest.config.js
- Uncomment the `setupFiles` key to activate `jest-prop-type-error` library (erroring tests when a proptype warning rears its head.
- Resolve all errors stemming from uncommenting that line.

## Helpful Info
Not

[2018-10-07 23:55] kbondanza commented on #215
Hi Kyle,

would it be ok if I pick up this issue?

[2018-10-08 00:44] kylemh commented on #215
@kbondanza of course!

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-09 08:28] kylemh commented on #165
Closed in #214

[2018-10-09 08:28] #165 closed

[2018-10-10 00:48] kylemh opened #219 "Implement redesigned Footer"
# Feature
## Why is this feature being added?

✨ There's a new design coming to OperationCode.org and we have to implement it ✨

## What should your feature do?
- Please use the `<Button>` component as is. We'll redesign it later.
- Please use a simple unconnected input for the newsletter form. We'll implement it later.
- On tablet (below 769px screen width), content should shape vertically in thi

[2018-10-10 00:48] kylemh commented on #219
I am assigning myself to this issue as a placeholder for Angela's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-10 01:28] chrismgonzalez commented on #219
This is exciting!  I'm looking forward to contributing to other newly mocked pages.

[2018-10-10 02:10] cmgonzales commented on #173
I can not find the Abraham Lincoln, where can i get that?

[2018-10-10 03:05] kylemh commented on #173
@cmgonzales great question!

https://s3.amazonaws.com/operationcode-assets/heroBanners/lincoln.jpg

So, you can shape that URL with:

`import { s3 } from 'common/constants/urls';`

and then

[code]

[2018-10-10 22:28] chrisgalvan commented on #168
I can help with this!

[2018-10-10 22:29] chrisgalvan commented on #167
I can help with this!

[2018-10-10 23:36] kylemh commented on #168
@chrisgalvan please note this issue has been assigned to @JohnGoure

I'll put a comment here that I should've placed when I made the initial assignment. Please feel free to dive in on `/chapter_leaders`

---

This is issue is assigned to @JohnGoure

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-10 23:36] kylemh commented on #167
I am assigning myself to this issue as a placeholder for your work, @chrisgalvan. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-11 02:55] kylemh commented on #177
There is an advertised work-around that does not seem to work for us (importing an empty stylesheet). This isn't a helpful comment, but it does mean that we're not blocked on this issue...

Just that it's really hard. 😓

[2018-10-11 03:46] ariaaskarijob commented on #10
Would love to know when this is ready to contribute and collab!

[2018-10-11 19:15] kylemh opened #221 "Add husky to greenkeeper ignore"
# Feature
## Why is this feature being added?

I dont wanna deal with [this](https://github.com/OperationCode/front-end/pull/220) anymore.

## What should your feature do?
Add "greenkeeper" field to package.json and ignore husky

https://greenkeeper.io/docs.html#ignoring-dependencies

[2018-10-11 19:40] TomerPacific commented on #221
Hey @kylemh ,
I would like to handle this issue, if it isn't taken.

[2018-10-11 20:41] kylemh commented on #221
I am assigning myself to this issue as a placeholder for your work, @TomerPacific. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-12 06:29] TomerPacific commented on #221
@kylemh ,
I just want to make sure what I am doing is correct. In GreenKeeper's documentation, it is needed to install it to the repository in order for what you want to do to work. I am assuming you have already done that (it is not stated as something to do) and all is needed is to add a rule in the package.json file. Let me know if I am mistaken.

[2018-10-12 06:34] kylemh commented on #221
It is indeed installed.

You'll only be editing `package.json` to include the following:
[code]

[2018-10-12 06:43] TomerPacific commented on #221
@kylemh ,
that is what I have done already. Just wanted to make sure.
[PR](https://github.com/OperationCode/front-end/pull/222)

[2018-10-12 06:53] #221 closed

[2018-10-13 19:17] hollomancer opened #225 "Remove references to partnered schools"
# Feature
## Why is this feature being added?
We are no longer identifying specific code schools on our website as partners.

## What should your feature do?
Remove any reference to 'partners' on our code schools page.

[2018-10-13 19:19] hollomancer opened #226 "Add EIN to footer"
# Feature
## Why is this feature being added?
Organizations need our EIN in order to donate to us.
## What should your feature do?
Add our EIN to the footer. Text should be "Copyright 2018 Operation Code™. Operation Code is a 501(c)(3) nonprofit, EIN 47-4247572."

[2018-10-13 19:29] kylemh commented on #219
@tigclaw please note: https://github.com/OperationCode/front-end/issues/226

[2018-10-13 19:29] kylemh commented on #226
Closing to prevent multiple forking efforts. Referenced in #219

[2018-10-13 19:29] #226 closed

[2018-10-13 19:34] kylemh commented on #170
Please note: https://github.com/OperationCode/front-end/issues/225

[2018-10-13 19:35] kylemh commented on #225
Referenced in relevant issue. Closing this issue.

@hollomancer is this an emergency implementation? If so, I'll make it happen on the live site.

[2018-10-13 19:35] #225 closed

[2018-10-13 23:28] kylemh commented on #164
I am assigning myself to this issue as a placeholder for your @chrisgalvan's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-13 23:42] kylemh commented on #17
Unassigning this as @jjhampton is unavailable.

[2018-10-14 00:13] zacharyrgonzales commented on #17
Can i try this is? ive been using css grid and can nail this!

http://github.io/zacharyrgonzales/portfolio

On Sat, Oct 13, 2018, 6:42 PM Kyle Holmberg <notifications@github.com>
wrote:

[2018-10-14 00:16] zacharyrgonzales commented on #17
https://zacharyrgonzales.github.io/Portfolio *

On Sat, Oct 13, 2018, 7:13 PM Zachary Gonzales <zacharyrgonzales@gmail.com>
wrote:

[2018-10-14 01:01] kylemh commented on #17
I think you can accomplish this without Grid and hope you try using flexbox instead! I feel like it's easy for us to support IE11 and want to move to support it at some point in the future - Grid would make that a bit more difficult.

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will r

[2018-10-14 01:46] zacharyrgonzales commented on #17
Thank you!

On Sat, Oct 13, 2018, 8:01 PM Kyle Holmberg <notifications@github.com>
wrote:

[2018-10-14 19:15] #159 closed

[2018-10-14 20:57] kylemh commented on #69
Looks like I need to contribute to Next again to truly resolve the issue.

[2018-10-14 21:40] zacharyrgonzales commented on #17
Hey Kyle,

This is beyond my scope of understanding. I won't be able to complete the
Nav bar.

Thanks,
Zachary Gonzales
Linkedin <https://www.linkedin.com/in/zrg/>
Portfolio <https://zacharyrgonzales.github.io/Portfolio/>

On Sat, Oct 13, 2018 at 8:46 PM Zachary Gonzales <zacharyrgonzales@gmail.com>
wrote:

[2018-10-14 21:52] tigclaw commented on #219
Got it. Adding "Copyright 2018 Operation Code™. Operation Code is a 501(c)(3) nonprofit, EIN 47-4247572." instead of the "2018 Operation Code".  Since this is kind of long, it might be placed on its own separate line (vs the mockup design where it's on the same line as the legal links).

[2018-10-14 23:29] kylemh commented on #69
Please note: https://github.com/zeit/next.js/issues/5035#issuecomment-423633936

I'm unassigning myself from this issue, as anybody is welcome to contribute to Next.js

There's a lot of context provided, and it's a great opportunity to contribute to Next if you beat me to it!

[2018-10-14 23:34] kylemh opened #230 "Remove .vscode directory and contents from repo"
PR is already open for this issue ❌

[2018-10-14 23:48] #230 closed

[2018-10-15 18:59] #167 closed

[2018-10-16 01:01] lineberry30 commented on #166
I'd like to take on this issue @kylemh

[2018-10-16 02:45] cmgonzales commented on #173
@kylemh  question: i was looking at the old code and i found that
 import QuoteBanner from 'shared/components/quoteBanner/quoteBanner';

was imported. Is that the abraham lincoln banner?

[2018-10-16 04:48] kylemh commented on #166
I am assigning myself to this issue as a placeholder for your work, @lineberry30. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-16 04:49] kylemh commented on #173
You can use `components/_common_/HeroBanner` instead :)

[2018-10-16 18:49] kylemh commented on #219
@LauraUX @Wimsy113

Please note the content change request from product and advise on above.

[2018-10-17 05:46] kylemh commented on #173
No problem! You're killing it @cmgonzales

Hmu if you ever need help or have questions.

[2018-10-17 10:13] jhorner32 commented on #17
Would love to take a stab at this if @RaevLogic passes or decides not to work on it.

[2018-10-17 11:50] jhorner32 commented on #169
I'd like to take this one. Also, phenomenal documentation.

[2018-10-17 18:35] kylemh commented on #17
@jhorner32 I do believe @RaevLogic is working on it!

[2018-10-17 18:35] kylemh commented on #169
@jhorner32 hey thanks 🙇

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-17 18:37] kylemh commented on #168
@chrisgalvan John has asked me to unassign this work - it's all you bud!

If you resolve this issue and we merge your landing page PR in before Halloween - I'll have to send you a t-shirt!

[2018-10-17 18:37] kylemh commented on #168
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-17 18:41] kylemh commented on #169
Hey thanks @jhorner32 🙇

I've asked Kelly to relinquish it, as she's busy kicking ass with her new gig.

Note that she gave you a head-start here: https://github.com/OperationCode/front-end/tree/branding

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that p

[2018-10-17 22:19] sethbergman opened #232 "Favicon path issue"
# Bug Report
## What is the current behavior?
Favicon not rendering due to  `/` missing here:
https://github.com/OperationCode/front-end/blob/c109421080514e57621e81b338e1a874144e8ab1/components/head.js#L17
## What is the expected behavior?
Favicon renders as expected
## What steps did you take to get this behavior?
Build and start

[2018-10-17 22:47] kylemh commented on #232
![screen shot 2018-10-17 at 3 47 17 pm](https://user-images.githubusercontent.com/9523719/47120549-f3286800-d223-11e8-832e-6743b7eef739.png)
this doesn't appear to be an issue on prod

[2018-10-17 22:50] sethbergman commented on #232
That's because there are tons of references to the favicon in the `components/head.js` file.

[2018-10-17 22:54] kylemh commented on #232
I'm confused. There's a single reference to favicon. It's on line 30 of the file you mentioned.

[2018-10-17 22:58] sethbergman commented on #232
I think I'm the one that got confused here. You mentioned a favicon issue in slack, and I assumed that this was what you were referencing. My fault.

[2018-10-17 23:06] kylemh opened #235 "Webpack Bundle Analyzer does not work"
# Bug Report
## What is the current behavior?
Running `yarn analyze` runs a script with no errors:

[code]

## What is the expected behavior?
The script runs with no error and two urls should show for people to visualize the static and server build bundle analysis.

## What steps did you take to get this behavior?
Ran `yarn analyze` locally.

### Is This A Third-Party Issue?

I think there were br

[2018-10-17 23:10] #232 closed

[2018-10-18 20:31] jhorner32 commented on #169
Just to confirm @kylemh, you're going to work on this one?

[2018-10-18 23:28] kylemh commented on #169
@jhorner32 no, I was assigning myself as a placeholder for you to work.

GitHub doesn't allow me to assign issues to non-Organization members.

[2018-10-19 02:19] jhorner32 commented on #169
Understood - thanks for clarifying @kylemh!

[2018-10-19 15:48] sethbergman commented on #177
The custom server I've been working on has seemed to remedy this. I'll try to get the issue and PR in as soon as I can. Hopefully it will kill two birds with one stone. :bird: :bird: :gem:

[2018-10-19 17:31] kylemh commented on #177
Interesting 🤔

I'm worried about the implications there. Is HMR still viable?

I ended up spending some side time on this and found the following info:
https://github.com/zeit/next-plugins/issues/273
https://github.com/akiran/react-slick/issues/842#issuecomment-385378629

Summarized theory: Perhaps because we're messing with custom fonts, Mini-Extract-CSS plugin needs to be aware of those a lá fil

[2018-10-20 03:53] sethbergman commented on #177
I looked further into this and realized that I was running the build first, then `yarn start` which I modified to be `node server` in `package.json`. So looking back on this issue, I don't think it addresses the issue with HMR. The good news is that it works perfectly and doesn't have any routing issues. It loads much faster than `next start`, even if you run the build process first. There's a lot

[2018-10-20 04:18] sethbergman opened #237 "Create an automated project board"
# Feature
### Automated Project Board
## Why is this feature being added?
GitHub now has templates for automated project boards. I'm opening this issue to discuss the details. I have used the template *Automated Kanban with Reviews* and I recommend it for this project.

## What should your feature do?
Automate moving issues and pull requests based on their status. Reminds those assigned to PR revi

[2018-10-20 04:19] wimo7083 commented on #237
This is something we'd probably do across multiple projects, could you give us some images of what this would look like and what this would help us with?

Does this help with assigning individuals who aren't in our organization?

[2018-10-20 04:23] sethbergman opened #238 "Build a custom server"
# Feature
### Custom server
## Why is this feature being added?

The custom server will be needed for juicy SEO benefits.

As it stands, we cant just throw files into static and have it be immediately routable on the server.

With a custom server, we can add routes that point to static files for crawlers (example: robots.txt)

[This issue explains further.](https://github.com/zeit/next.js/issues/2

[2018-10-20 04:41] sethbergman commented on #237
I'm not sure about the last question, but the best way to test drive it is to add one to your own repository. Once you add the *Automated Kanban* or *Automated Kanban with Reviews*, there are some introductory cards that explain the possibilities better than I could.

[2018-10-20 05:50] kylemh commented on #177
Ah. To be clear, nothing is breaking with next start or any builds. The error above is found when you use yarn dev

Also, even though nothing breaks in prod, this issue does affect the website negatively - note that every page is SSR. Client side routing never takes over.

[2018-10-20 06:41] kylemh commented on #237
@dmarchante is thinking about Waffle.io
I know you use ZenHub locally

If we're really reaching the point where tracking issues is difficult, I'll prioritize it, but let's reserve the repository's issues page for issues with the actual codebase.

Bring up any organizational or managerial aspects in #oc-projects - it'll always be a good discussion. We're always adapting!

[2018-10-20 06:41] #237 closed

[2018-10-20 22:16] sethbergman commented on #237
Just to clarify, it doesn't change the way that issues and PR's. It's in the Projects tab. Here's some information about it. I personally don't have a preference whether it's implemented or not. It's just a common thing for agile teams to have. :smiley:
https://help.github.com/articles/about-automation-for-project-boards/#automation-options

[2018-10-22 15:49] wimo7083 opened #239 "Allow user to edit account from /profile"
# Modify User information
## Why is this feature being added?

We need to provide a way for users to modify their
## What should your feature do?

[controller file](https://github.com/OperationCode/operationcode_backend/blob/73a5861cf672a644879bc347023f7622c2c16900/app/controllers/api/v1/users_controller.rb#L25)

The apiary shows that the only things a user can currently modify are, which is how t

[2018-10-24 20:41] kylemh commented on #219
Closed in #229

[2018-10-24 20:41] #219 closed

[2018-10-24 20:42] kylemh commented on #172
I am assigning myself to this issue as a placeholder for members of Kalamazoo College. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-10-24 20:44] kylemh commented on #172
As an aside, I recently led a conglomerate of multiple people through the actual challenge and many ended up in the wrong spot. This leads me to believe that somewhere, the challenge instructions make a mistake. I would appreciate a run-through as if you are a user of the challenge page - make any changes you feel are necessary 👍

[2018-10-26 03:50] kaciej opened #240 "Change Link for V School"
# Feature
## Why is this feature being added?
V School has added a section of their website specifically for veterans.

## What should your feature do?
I just need the link for the code school, V School changed from https://vschool.io/contact/  to https://vschool.io/veterans/

[2018-10-26 19:19] RaevLogic commented on #240
I can take care of that.

[2018-10-27 04:18] GrootKo commented on #240
can i take this issue if it not done by @RaevLogic

[2018-10-27 04:43] josiahdahl commented on #235
@kylemh Please see #242 for the resolution. Your link to the `zeit/next` issue helped.

[2018-10-27 05:07] RaevLogic commented on #240
Sorry, I should have mentioned this earlier. This particular issue is actually a back-end problem, specifically one that admin needs to take care of. The correct person on the team has been notified of the issue.

[2018-10-27 15:36] wimo7083 commented on #240
This is taken care of . Had to use the admin dashboard.

[2018-10-27 15:36] #240 closed

[2018-10-27 15:36] wimo7083 commented on #240
![image](https://user-images.githubusercontent.com/10781353/47606042-d29ea180-d9cb-11e8-9849-357fa1a3c18e.png)

[2018-10-27 18:00] ssiddhantsharma commented on #238
@sethbergman Any details! This seems kinda vague so I don't know how to approach your issue.

[2018-10-28 00:39] Litodude opened #246 "Allow more options on 'Which describes you' during sign-in."
# Feature
More drop-down Options during New User sign-up

## Why is this feature being added?
To find out the military background of the individuals joining our organization, or lack there of.
## What should your feature do?
It should have these options:
1.Prior-Military / Veteran
2. Active-duty Military
3. Guard/Reserve Military
4. Mil-family/Mil-Spouse
5. Kickass Civilian

_Check all that apply_

[2018-10-28 02:19] sethbergman commented on #238
Sorry about that. I'll get the details up soon and get this moving. I've been working on another PR recently.

[2018-10-29 18:45] sethbergman opened #252 "Add meta tag to ErrorDisplay component"
# Feature for SEO

## Why is this feature being added?

Adds the following meta tag to `components/ErrorDispaly/ErrorDisplay.js` for SEO purposes:
[code]

Tells Google and other search engines not to index any dead links.

## What should your feature do?
Adds a rule for robots, specifically search engine crawlers to not index or follow any links to pages that don't have a status of 200.

[2018-10-29 18:59] kylemh commented on #252
You can use the Next.js `<Head />`  component for this 👍

[2018-10-31 18:12] kylemh opened #259 "Greenkeeper is not updating integrity hashes in yarn.lock"
# Bug Report
## What is the current behavior?
When greenkeeper opens a pull request to update a dependency, its lockfile diff includes the removal of all integrity hashes.

## What is the expected behavior?
When greenkeeper opens a pull request to update a dependency, only the minimum necessary changes to `package.json` and `yarn.lock` occur.

## What steps did you take to get this behavior?
[Noti

[2018-11-04 15:28] vyaspranjal33 opened #263 "add License section in readme"
# Feature
## Why is this feature being added?

## What should your feature do?

License section should be added in Readme file
---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Is This A Third-Party Issue?

[2018-11-04 19:49] #263 closed

[2018-11-06 02:05] cmgonzales commented on #173
Hi Kyle,

I need help. I cant seem to render the api to the page. I have

export default class team extends React.Component {

  constructor(props) {
    super(props);

    this.state = {
      boardMembers: [],
      staffMembers: "",
      staffMembers: ""
    };
  }

 async componentDidMount() {
    const {data} = await  getTeamMembersPromise();
   const json = await {data}.json();
    const bo

[2018-11-06 17:59] kylemh commented on #173
In the future, I recommend using triple back-ticks before and after a code blob like that so that we can see the syntax highlighting on GitHub.

The major issue is that we don't have a staging endpoint setup, so your network requests are all prolly failing. You can verify this by opening dev tools, going to the network tab, filtering by XHR, and seeing red text on the relevant API request.

Go to

[2018-11-06 23:15] cmgonzales commented on #173
kk will do

[2018-11-06 23:17] kylemh commented on #173
You're doing very good work. Keep at it! 💪

[2018-11-08 21:58] #215 closed

[2018-11-09 18:39] #164 closed

[2018-11-10 18:14] greenkeeper[bot] opened #268 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.15.1` to `1.15.2`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fprettier-1.15.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this

[2018-11-11 08:28] kylemh commented on #172
@chrismgonzalez  I'm gonna go ahead and open this issue back up for grabs. Life gets busy sometimes 🏃 - thanks for thinking of us though!

[2018-11-11 08:30] kylemh commented on #175
@dmarchante sounds like this aint no thang no mo

[2018-11-11 08:30] #175 closed

[2018-11-11 13:13] jhorner32 commented on #169
@kylemh that's exactly what happened. Sorry man...I'll be around to help on other issues in the future.

[2018-11-12 03:45] Litodude opened #269 "Create /donate page"
# Feature
Create operationcode.org/donate URL

## Why is this feature being added?
URL that's shorter and easier for us to advertise and link on marketing literature.

The current 'Donate' button on OC frontpage links to (https://secure.lglforms.com/form_engine/s/BRtP7QUKyHOyEYsZROsRew) The url is really long, and not appealing as a donate button.
## What should your feature do?
Instead of impleme

[2018-11-12 23:50] markchernov commented on #172
I can take a stab at it.

[2018-11-13 02:53] greenkeeper[bot] opened #275 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-test-renderer](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing bra

[2018-11-13 07:20] kylemh commented on #172
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-11-13 10:15] #252 closed

[2018-11-13 10:55] kylemh commented on #275
#277

[2018-11-13 10:55] #275 closed

[2018-11-13 23:06] sethbergman commented on #238
Thanks @kylemh I have been busy working at Dell. I made this issue before I started, and I'm going to open it up for other contributors. I apologise for the late response @dmarchante.

[2018-11-14 04:09] #172 closed

[2018-11-15 02:02] cmgonzales commented on #173
@kylemh,

When i do a PR, does it have to be perfect? Can i use a for loop to ileterate the object in the API

[2018-11-15 17:32] kylemh commented on #173
@cmgonzales you're going to want to use [.map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map)

See an example of how it's used in a JSX render here:
https://github.com/OperationCode/front-end/blob/master/pages/faq.js#L17

Your work does not need to exactly match the old code base, but I'd like the styling to be similar.

Judging by the new mocks, we're

[2018-11-17 02:05] markchernov commented on #169
I'd like to pick up this issue. Thanks, Mark

[2018-11-17 04:05] kylemh commented on #169
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-11-17 20:07] #169 closed

[2018-11-17 20:55] wimo7083 commented on #174
Also, please include me (for backend things) as we wish to hook certain actions up on a completed registration. Right now we don't have a singular event we can tie to this completed registration and this leads to not knowing exactly when a user is done.

Most likely this will include some minor BE work on changing the api, but I'll make sure that gets done.

[2018-11-17 21:14] wimo7083 commented on #238
Okay adding things to this since it's still unclear.

It looks like there are certain files we wish to be accessable at `/` route, some examples would be `robots.txt` or `favicon.ico` and `sitemap.xml`

we would like to place them in a single folder like `/static` or `/public` and just have them be sent in response to a request.

Doing this within next (which I think is our routing solution) is no

[2018-11-17 22:52] kylemh commented on #238
Updated comment

[2018-11-17 23:48] kylemh opened #284 "Connect brand font to style exports"
# Feature request
**Is your feature request related to a problem? Please describe.**
If we hard-code branding as a string and the branding changes, we've given room for a regression error to rear its head. By connecting our brand's font families to style exports, and the branding page's font section to style exports, we've ensured parity between our brand and our brand showcase.

**Describe the so

[2018-11-18 00:29] kylemh opened #285 "Parallelize linting and testing in our Travis build"
# Feature request
**Is your feature request related to a problem? Please describe.**
Testing and linting doesn't have to run sequently. We could see a small build-time decrease if we parallelized those steps.

**Describe the solution you'd like**
Use Travis build matrix or jobs to make linting and testing run in parallel.

[2018-11-18 00:30] kylemh commented on #119
Gonne reopen this issue as #201 silenced Greenkeeper and was reverted.

[2018-11-18 01:42] kylemh commented on #269
@TomerPacific I'd hold off until we get some more reqs.

In reality, I believe we plan on creating a `/donate` page.

@Litodude if you'd like a more shareable donate link, consider using `short.cm` (on our Slack that'd be `/shorted https://long-donate-url.com`

[2018-11-18 01:42] kylemh commented on #269
@dmarchante how copy

[2018-11-18 04:39] cmgonzales commented on #173
Got it. i’ll try to do the PR by tomorrow night.

[2018-11-18 07:02] kylemh commented on #173
No rush bud!

[2018-11-19 02:13] #284 closed

[2018-11-22 05:06] RaevLogic commented on #285
I'll work on this issue this week if that's cool with you Kyle.

[2018-11-22 19:52] markchernov commented on #170
I'd like to start working on this story. It looks like https://operationcodeapi.docs.apiary.io/#reference/0/codeschool-collection/list-all-codeschool-members?console=1   returns invalid json response. Validation result could be seen at https://jsonlint.com/

[2018-11-22 19:53] markchernov commented on #170
Is there a way to add additional schools of different types to that mock endpoint?

[2018-11-22 20:37] kylemh commented on #170
@markchernov are you on Slack?

We can chat about this issue in more detail there. I wouldn't be setting you up for success in letting you work on this issue just yet, as I don't have good enough reqs laid out.

We can chat through them and relay that info here, but this issue is a large amount of work.

[2018-11-22 21:59] kylemh opened #288 "Create Code School Card component"
# Feature request
**Is your feature request related to a problem? Please describe.**
We have new mocks for `/code_schools` which requires a redo of our Code Schools Card component.

**Describe the solution you'd like**
Emulate the code school card interface outlined in [this mock](https://projects.invisionapp.com/d/main#/console/15378934/323736695/preview)

**Additional context**
- Anywhere where

[2018-11-22 21:59] kylemh commented on #288
I am assigning myself to this issue as a placeholder for @markchernov's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-11-23 01:11] kylemh commented on #177
🤔 while connecting our CSS variables to fonts, I broke stuff, but noticed client-side routing began working again. I am wondering how closely tied our usage of `@font-face` is to this problem.

[2018-11-23 06:28] kylemh opened #290 "Implement non-blocking font loading"
# Feature request
**Is your feature request related to a problem? Please describe.**
We use @font-face which makes CSS part of the critical rendering path. We can improve our initial page load speed by address this problem.

**Describe the solution you'd like**
 [See this comment and thread for more details.](https://github.com/zeit/next.js/issues/512#issuecomment-322026199)

**Additional context*

[2018-11-23 06:40] kylemh opened #291 "Rename and abstract SuccessStory component to cover multiple use-cases"
# Feature request
**Is your feature request related to a problem? Please describe.**
There is a similarity between the following interfaces:
![screen shot 2018-11-22 at 10 32 09 pm](https://user-images.githubusercontent.com/9523719/48930604-851c3400-eea6-11e8-831f-65a2224fad30.png)
![screen shot 2018-11-22 at 10 31 47 pm](https://user-images.githubusercontent.com/9523719/48930605-851c3400-eea6-11e

[2018-11-23 06:45] kylemh opened #292 "Connect all media queries to CSS variable breakpoints"
# Feature request
**Is your feature request related to a problem? Please describe.**
There exist a large slew of hard-coded viewport checks within media queries around our stylesheets. Hard-coding isn't reuse. It's difficult to refactor, and prone to developer mistakes.

**Describe the solution you'd like**
Now that we have breakpoints defined via `common/styles/variables`, I'd like them leveraged

[2018-11-23 07:01] kylemh opened #293 "Use postcss-custom-properties to statically represent CSS3 variables on build-time"
# Feature request
**Is your feature request related to a problem? Please describe.**
CSS3 variables are great! We can avoid using a preprocessor while still doing enough to avoid hard-coding stuff in a CSS Module system. One problem is that CSS3 variables [don't have the best browser support](https://caniuse.com/#feat=css-variables).

**Describe the solution you'd like**
We can use [postcss-css-va

[2018-11-23 07:05] kylemh opened #294 "Document Section component usage within new design"
# Feature request
**Is your feature request related to a problem? Please describe.**
The current Section component constantly requires overrides to work within the new design. I don't have all the answers for this issue yet, but figured I'd open it up to a conversation.

See our redesign here: https://invis.io/KSO12EFRU7E

Note that sections can have one or two columns. I've pushed back on having

[2018-11-23 14:42] TomerPacific commented on #293
@kylemh ,
I'd like to help out with this issue. Anything else I should know besides what you have detailed?

[2018-11-23 14:44] TomerPacific commented on #291
@kylemh ,
I'd like to help out with this issue.

[2018-11-23 19:41] kylemh commented on #291
@TomerPacific I can only reserve one at a time, so lemme know if you'd like this one or the static extraction of CSS variables. I recommend joining us on Slack by registering at https://operationcode.org/join - you can easily quickly chat with me about anything in #oc-projects

[2018-11-23 19:41] kylemh commented on #293
See https://github.com/OperationCode/front-end/issues/291#issuecomment-441308899

[2018-11-24 00:20] kylemh opened #295 "Integrate PostCSS Media Variables"
# Feature request
**Is your feature request related to a problem? Please describe.**
The problems outlined in #292 are unsolvable without this PostCSS plugin.

**Describe the solution you'd like**
Integrate https://github.com/WolfgangKluge/postcss-media-variables and prove it works in a pull request with one example integrated.

**Additional context**
This blocks #292

`postcss.config.js` will nee

[2018-11-24 03:11] greenkeeper[bot] opened #296 "An in-range update of react-ga is breaking the build 🚨"
## The dependency [react-ga](https://github.com/react-ga/react-ga) was updated from `2.5.3` to `2.5.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-ga-2.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-ga is a direct dependency of this pr

[2018-11-24 04:36] kylemh commented on #296
Some research:
https://github.com/react-ga/react-ga/pull/276
https://github.com/react-ga/react-ga/issues/98
https://github.com/react-ga/react-ga/issues/272

https://github.com/purposeindustries/window-or-global

[2018-11-24 04:41] kylemh commented on #288
Good catch.

Let's simplify this:

Can you give me an array of every school name as it appears from the response after mapping them, splitting them at `' '`, and joining them with a `_`?

I'll put them into s3 that way.

[2018-11-24 12:11] markchernov commented on #288
Others are already good to go. The ones I listed above is how they are supposed be be named if you use school name and replace spaces with _

[2018-11-24 14:46] TomerPacific commented on #291
@kylemh ,
joined the slack channel and I'll take issue #293

[2018-11-24 19:51] kylemh commented on #288
so what's with the `+` that I see here: `deep_dive_java_+android+salesforce.jpg`

I would expect the filename to be `deep_dive_java_+_android_+_salesforce.jpg`

[2018-11-24 20:33] markchernov commented on #288
I think it was my typo here. name: "Deep Dive Java + Android + Salesforce", is deep_dive_java_+_android_+_salesforce.jpg

[2018-11-24 20:37] markchernov commented on #288
These comments won't show other 2 undescores before and after _android_ for some reason

[2018-11-24 21:44] kylemh commented on #288
Won't matter anyways on that one, as we've deleted the entry from the back-end 🎉

Go ahead and make the PR. I'll get to the filename changes soon.

[2018-11-24 22:52] markchernov commented on #288
Ok I'll open pr for this story. I did not do much but just reused your code and changed colors.

[2018-11-24 22:59] kylemh commented on #288
No rush if you wanna get after it more.

[2018-11-24 23:52] nryoung commented on #290
@kylemh I think I will get my toes wet by grabbing this one. Assigning to myself.

[2018-11-26 06:12] #17 closed

[2018-11-26 06:21] kylemh opened #303 "Create mobile navbar"
# Feature request
**Is your feature request related to a problem? Please describe.**
The desktop version of the navbar is done and dusted. We now need a simpler version of the navbar that renders for tablets and mobile devices (using the relevant Redux state variables to conditionally render based upon that fact).

This issue is somewhat sparse, as I gave @jmayergit instructions over the phone.

*

[2018-11-26 08:04] #296 closed

[2018-11-26 08:12] kylemh opened #306 "Redefine Section component"
# Feature request
**Is your feature request related to a problem? Please describe.**
Problem described in #294

**Describe the solution you'd like**
There exist two components to be made:
1) A re-imagining of our `<Section>` component
 - has a gutter (max-width)
 - has themes to define background color
 - takes background-image (and related props) [see HeroBanner, and make HeroBanner a consumer of

[2018-11-27 08:45] kylemh commented on #293
I am assigning myself to this issue as a placeholder for your work, @TomerPacific. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-11-27 21:13] mattbyrnes commented on #303
I'm picking up this issue.

[2018-11-27 21:57] kylemh commented on #303
As noted on Slack, this issue is assigned to @jmayergit  👍

[2018-11-28 07:05] kylemh commented on #173
I wish I had good news for you on this situation bud!

https://stackoverflow.com/questions/23344320/there-isnt-anything-to-compare-nothing-to-compare-branches-are-entirely-diffe

I'd recommend joining the #git channel on our Slack team to ask for some help!

[2018-11-29 18:56] AshTemp opened #309 "Change Partners to Sponsors"
# Bug Report
## What is the current behavior?
On the current home page sponsors are listed as partners.

## What is the expected behavior?
Page says sponsors instead.

## What steps did you take to get this behavior?
Opened the home page.
![image](https://user-images.githubusercontent.com/19790104/49244786-9a311f80-f3de-11e8-8c41-8bb1bf1bc168.png)

[2018-11-29 22:34] kylemh commented on #309
Just change [this](https://github.com/OperationCode/front-end/blob/master/pages/index.js#L115) to "Sponsors" 😁

[2018-11-29 23:23] ivanmartinezmorales commented on #309
Created pull request for this issue.

[2018-11-29 23:25] #309 closed

[2018-11-30 05:11] nryoung commented on #290
@kylemh I have been working on this, but I have a couple questions since I am pretty new to `@font-face`.

I have looked at the solution you have linked and I have implemented an HoC that is similar to what is detailed there.

Should I just be implementing this for google fonts, eg. `Encode Sans`, or should I do it for `DNI Condensed Bold` as well?

If I do have to do it for `DNI Condensed Bold` a

[2018-11-30 05:19] nryoung commented on #290
I was did some more reading and I am actually incorrect about this. I just need to make sure to add a `@font-face` for `Encode Sans` in the CSS as well, since I don't see one now.

It also looks like adding CSS class like I mentioned above is the recommended way of doing this.

[2018-12-01 21:09] #288 closed

[2018-12-01 21:48] markchernov commented on #170
Page Design at:
https://projects.invisionapp.com/share/KSO12EFRU7E#/screens/323736695_OC_Coding_Schools_Landing_Page

[2018-12-02 03:55] #290 closed

[2018-12-02 18:35] nryoung commented on #295
@kylemh if there are no objections, I will go ahead and snag this one.

[2018-12-04 00:16] markchernov commented on #170
@kylemh none of the Mooc schools are coming back from API now. Is the Mooc json shape is going to be the same as other schools? If yes, why even separate them to special section? I could just add filter to show Moocs

[2018-12-04 01:17] kylemh commented on #170
Great question

MOOCs are hard-coded for now

I think there's an `is_mooc` value that will come from the code schools - that may already be in, but just hardcode an array of objects representing `moocs`

[2018-12-08 23:57] #303 closed

[2018-12-09 04:38] kylemh opened #317 "Stow dropdown on mobile nav if route changes"
# Feature request
**Is your feature request related to a problem? Please describe.**
When on non-Desktop sized viewports, clicking the "hamburger button" renders a panel for navigation. When a link is clicked, the route changes, but it's barely noticeable.

**Describe the solution you'd like**
When a link is a clicked, I'd like to the panel of links to hide itself. This would indicate a clear tran

[2018-12-09 19:16] TomerPacific commented on #293
@kylemh , per my comment in slack, I think it is best to allow other people to take this issue. Sorry for wasting your time.

[2018-12-09 21:45] kylemh commented on #293
You haven't wasted anybody's time, @TomerPacific ❤️

Feel free to claim it, if you get back up and running.

[2018-12-12 01:49] tigclaw commented on #291
@kylemh If no one's working on this, can I give it a shot?

[2018-12-12 01:57] kylemh commented on #291
@markchernov was 👀ing at it, but not sure if he cares.

I'd give it a day for him to respond, if not - dive in.

[2018-12-12 02:07] markchernov commented on #291
Go ahead @tigclaw. I might use it for code_schools too. I have not had a chance to look at this story yet.

[2018-12-12 02:59] tigclaw commented on #291
Awesome, thanks!

[2018-12-12 03:36] kylemh commented on #291
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2018-12-17 19:00] kylemh commented on #259
Greenkeeper just ain't even working at all

[2018-12-21 00:19] wimo7083 opened #322 "Remove Green Banner Ad"
# Feature request
I'd like to have the green hulk banner ad removed from this application

**Additional context**
Website no longer requires it, we need parity with prod.

[2018-12-21 21:56] kylemh commented on #322
Closed in #323

[2018-12-21 21:56] #322 closed

[2018-12-22 01:16] #170 closed

[2018-12-30 10:39] babu-thomas commented on #293
@kylemh I would like to work on this if it's available

[2019-01-01 22:57] greenkeeper[bot] opened #328 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.0` to `7.12.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Feslint-plugin-react-7.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

es

[2019-01-03 11:20] greenkeeper[bot] opened #329 "An in-range update of autoprefixer is breaking the build 🚨"
## The dependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.4.3` to `9.4.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fautoprefixer-9.4.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a direct depend

[2019-01-04 14:02] greenkeeper[bot] opened #330 "An in-range update of babel-loader is breaking the build 🚨"
## The dependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.4` to `8.0.5`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fbabel-loader-8.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a direct dependen

[2019-01-06 00:56] cmgonzales commented on #173
@kylemh Happy new year sir. I was able to do a pull request. This project was a great learning experience

[2019-01-12 03:35] #295 closed

[2019-01-13 13:30] #317 closed

[2019-01-17 14:16] AmanAgarwal041 commented on #177
you can checkout a fix for the client side css fix https://github.com/AmanAgarwal041/next-css-fix

[2019-01-17 18:41] Litodude opened #335 "Update incorrect mailing address"
# Bug

https://operationcode.org/contact

This page currently has an old Washington St address we no longer use.
## Why is this bug being addressed?

For the delivery of physical packages, business documents and other ancillary paperwork that won't get lost.

## What needs to be done?
Please update the text to show:

Operation Code
818 SW Third Avenue, #221-1090,
Portland OR, 97204-2405

[2019-01-17 18:47] Litodude commented on #246
OP update with more info

[2019-01-17 19:17] greenkeeper[bot] opened #336 "An in-range update of react-youtube is breaking the build 🚨"
## The dependency [react-youtube](https://github.com/compedit/react-youtube) was updated from `7.8.0` to `7.9.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-youtube-7.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-youtube is a direct d

[2019-01-18 00:45] #335 closed

[2019-02-15 15:38] greenkeeper[bot] opened #339 "An in-range update of webpack is breaking the build 🚨"
## The dependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.3` to `4.29.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fwebpack-4.29.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a direct dependency of this proj

[2019-02-16 17:02] kylemh commented on #339
ItS a PaTcH vErSiOn

[2019-02-20 04:04] greenkeeper[bot] opened #343 "An in-range update of react-redux is breaking the build 🚨"
## The dependency [react-redux](https://github.com/reduxjs/react-redux) was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-redux-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-redux is a direct dependency

[2019-02-23 01:35] kylemh commented on #293
Assigning myself for @juliantrueflynn

[2019-02-23 01:38] kylemh commented on #292
I am assigning myself to this issue as a placeholder for @juliantrueflynn 's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-02-23 05:39] aaron-suarez opened #345 "Success Stories"
# Feature request

I think it would be pretty cool to have a page at https://operationcode.org/success_stories where we have a comprehensive list of every success story from operation code. People love talking about how OC helped them, and we want to share our stories.

**Describe the solution you'd like**

I'm not much of a designer, but essentially I would expect a list of stories. Some may have

[2019-02-23 23:28] kylemh commented on #345
This is a discussion thread. Please share ideas or examples of how you've seen this type of story told elsewhere on the web.

[2019-02-23 23:30] kylemh commented on #177
Waiting on Next to resolve this issue.

[2019-02-24 00:48] #306 closed

[2019-02-24 00:49] kylemh commented on #292
Misled you @juliantrueflynn

#334 is already open

[2019-02-24 01:08] kylemh opened #346 "Remove the need to import custom media queries per usage"
# Feature request
**Is your feature request related to a problem? Please describe.**
I really don't like that we need to do a relative import of the media-queries.css file within the `common/styles` folder. See discussion [here](https://github.com/OperationCode/front-end/pull/334).

**Describe the solution you'd like**
I'd prefer to have custom media queries all be loaded on first page load and no

[2019-02-24 01:10] #292 closed

[2019-02-24 01:14] kylemh opened #347 "Add "PostCSS Usage" section to CONTRIBUTING of repository"
# Feature request
**Is your feature request related to a problem? Please describe.**
It's always difficult to balance this repository in terms of being a safe haven for new developers to contribute, but also writing things in a maintainable and scalable fashion. Our CSS is rife with advanced features, mostly due to PostCSS plugins.

**Describe the solution you'd like**
I'd like to document all the

[2019-02-24 01:28] #177 closed

[2019-02-24 01:37] kylemh commented on #14
Re-opening issue for claiming!

[2019-02-24 03:21] #293 closed

[2019-02-24 04:32] #328 closed

[2019-02-24 04:32] #329 closed

[2019-02-24 04:32] #330 closed

[2019-02-24 04:32] #336 closed

[2019-02-24 04:32] #339 closed

[2019-02-24 04:32] #343 closed

[2019-02-24 04:46] kylemh opened #351 "Prevent error from mini-css-extract-plugin"
# Feature request
**Is your feature request related to a problem? Please describe.**
Sometimes this happens in dev/CI: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/250

Usually it leads to styles failing to entirely load properly on page changes in development. It's a shifty error which could lead to frustration as a dev.

New Post:
**Describe the solution you'd like**
Establi

[2019-02-24 04:48] kylemh commented on #166
Previously this issue pointed to the incorrect mock.

The old /events page has been removed and this issue has been re-opened with the correct mock linked.

[2019-02-24 04:53] kylemh commented on #166
Other Instructions:
- The square with the text: "4,000+ Members In 20 States!" and "Locations" button should instead be a part of the hero banner. So the HeroBanner's text will be:
[code]

- Please use https://github.com/FormidableLabs/nuka-carousel for the carousel
- Please use the FlatCard component for the 3 blue square border cards above "Want to become a sponsor?"
- Use any existing SVG Icon

[2019-02-24 20:29] kylemh commented on #259
I can't tell if this is a problem anymore.

[2019-02-25 02:01] juliantrueflynn commented on #166
Mock has a boxed container instead of full width. None of the other current pages seemed to have a boxed container. Does the Events page have a boxed container layout that differs from rest of site?

I am viewing the mock on a wide screen monitor, so that could be cause of this.

[2019-02-25 04:00] juliantrueflynn commented on #166
To your previous note on use placeholder icons, here's the ones that are missing currently:

- "Food for longer meetups" (Pizza/food icon)
- "Education materials" (Book icon)
- "Raise awareness" (Podium icon)

If it's easier on you I can download these from FontAwesome and put in `static/images/icons/FontAwesome`:

- "Food for longer meetups": https://fontawesome.com/icons/utensils?style=solid
- "

[2019-02-25 07:17] kylemh commented on #166
Go forward on using FA until we have the assets 👍

[2019-02-25 07:22] kylemh commented on #69
Resolved in #338

[2019-02-25 07:22] #69 closed

[2019-02-25 07:26] kylemh commented on #119
This issue is marked as "good first issue" because it doesn't require any context of the app, design, or contextual understanding of Operation Code. It will be a few lines of editing within `.travis.yml`.

[2019-02-26 02:24] juliantrueflynn commented on #166
@kylemh I have this done except for 1 issue. [Branch here](https://github.com/juliantrueflynn/front-end/tree/pr/events-page)

With the carousel the design has the carousel at full width of page. With the Nuka Carousel component this causes issues because it has the prop `slidesToShow`. Since this is responsive the number of slides showing is not a fixed number. If I make the carousel's width same

[2019-02-26 20:06] kylemh commented on #166
Let’s simply comment out this section until we have the events endpoints connected. I want to dive deeper into your issue, but don’t have much time and don’t want to block you.

[2019-02-28 10:44] greenkeeper[bot] opened #354 "An in-range update of webpack is breaking the build 🚨"
## The dependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.5` to `4.29.6`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fwebpack-4.29.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a direct dependency of this proj

[2019-03-01 01:28] #354 closed

[2019-03-01 01:47] juliantrueflynn opened #356 "Update FlatCard required props and Content and FlatCard props for image and link"
# Feature request

Currently, images are required for FlatCard component and validated with PropTypes but it's not always needed.

Content components sometimes use background images and there's no way to easily set background images. FlatCard components constantly use links but there's no way to easily append a link button.

**Describe the solution you'd like**

Remove the FlatCard requirement/val

[2019-03-01 22:21] kylemh commented on #351
Ugh... idek I've spent hours on this. It's not import ordering... I think I'll just close this and edit CONTRIBUTING to include a note that you may need to refresh a page in development

[2019-03-02 21:30] #356 closed

[2019-03-03 01:13] kylemh opened #360 "Resolve Jest config attribute deprecation warning"
# Bug Report
## What is the current behavior?
When running any test command, the following warning shows up:
[code]

## What is the expected behavior?
Run test without a warning

## What steps did you take to get this behavior?
Run `yarn test` (you can run `yarn test Badge` to make the command much faster)

## Additional Info
See [here](https://jestjs.io/docs/en/configuration.html#setupfilesaftere

[2019-03-05 03:12] greenkeeper[bot] opened #361 "An in-range update of autoprefixer is breaking the build 🚨"
## The dependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.4.9` to `9.4.10`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fautoprefixer-9.4.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a direct depe

[2019-03-06 11:10] #360 closed

[2019-03-08 02:22] #361 closed

[2019-03-09 10:16] #166 closed

[2019-03-09 11:07] kylemh commented on #238
@juliantrueflynn you'll wanna re-tackle this one. Please see https://github.com/OperationCode/front-end/pull/368

[2019-03-09 15:45] ksmacleod99 commented on #347
If you have time to help catch me up a little this afternoon, I can tackle this.

[2019-03-10 03:50] #238 closed

[2019-03-11 02:11] #351 closed

[2019-03-12 00:58] juliantrueflynn opened #375 "Create BadgeGroup component and refactor pages with mapped Badge"
# Feature request

A number of times in the UI there's a row of Badge components and flexbox styles added. This doesn't follow DRY principle, and this could be refactored to be less redundant with a BadgeGroup component.

**Describe the solution you'd like**

Create BadgeGroup component with flexbox styles and tests. Then refactor any places in UI to use new component.

[2019-03-12 23:47] kylemh commented on #10
Closed in #379

Will add more issues for e2e test specs later!

[2019-03-12 23:47] #10 closed

[2019-03-13 02:15] #346 closed

[2019-04-02 00:21] markchernov commented on #173
Is this one up for grabs? Seems like the last pull request was closed for some reason.

[2019-04-02 00:48] kylemh commented on #173
Unfortunately not. #344 should get in soon

[2019-04-02 01:01] greenkeeper[bot] opened #385 "An in-range update of next is breaking the build 🚨"
## The dependency [next](https://github.com/zeit/next.js) was updated from `8.0.3` to `8.0.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fnext-8.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

next is a direct dependency of this project, and **it i

[2019-04-02 06:07] kylemh opened #387 "Implement /who_we_serve page"
# Feature
## Why is this feature being added?

https://operationcode.org/who_we_serve is a planned route with a mock that needs to be implemented. It serves to inform site visitors who benefits most from the work Operation Code does.

## What should your feature do?
- Implement the `/who_we_server` page via a new file in the pages folder called `who_we_serve.js`
- Emulate [this mock](https://invis

[2019-04-02 06:08] kylemh commented on #387
I am assigning myself to this issue as a placeholder for Bachir Amadou's work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-04-02 06:12] kylemh opened #388 "Redesign Code School Card component"
# Feature request
#### Is your feature request related to a problem? Please describe.
The code school card component has received new mocks after more discussion. It's an important aspect of the most visited page on our site.

#### Describe the solution you'd like**
- Emulate the [mock](https://user-images.githubusercontent.com/9523719/55379897-51e05600-54d3-11e9-8048-15085bb0b5a7.png) **with one

[2019-04-02 06:15] kylemh opened #389 "Integrate Cypress into our CI/CD process"
I'm gonna skimp on details here since I'm in the middle of this issue.

[2019-04-02 06:19] kylemh opened #390 "Create e2e coverage using Cypress for /code_schools"
# Feature request
**Is your feature request related to a problem? Please describe.**
The Code Schools page is more complex as it relies upon http requests to work (for the most part).

**Describe the solution you'd like**
Use Cypress to create e2e test coverage thereby making our team more confident in deploys.

**What do these tests look like?**
- [x] Assert that when the user navigates to the pa

[2019-04-02 06:20] kylemh commented on #390
Blocked by #389

[2019-04-02 22:01] #385 closed

[2019-04-05 05:39] #389 closed

[2019-04-05 05:42] kylemh commented on #239
No longer blocked by UI, since login/registration is viable.

[2019-04-05 07:18] #347 closed

[2019-04-05 07:59] kylemh opened #394 "Master branch is failing to deploy"
# Bug Report
## What is the current behavior?
Master branch merges go smoothly until the deploy stage.

## What is the expected behavior?
After merging changes to master, they should run our CI/CD process until deployed to https://operation-code.now.sh/

## What steps did you take to get this behavior?
Checked out Travis to see that deployments are failing.

## Additional Info
- [The problem logge

[2019-04-06 04:35] szempled commented on #388
Hey I'm new and still working on my first PR. I have chosen this to my first issues.  Any guidance would be appreciated. Thanks

[2019-04-06 06:16] kylemh commented on #388
hi @szempled if you're familiar with React, JavaScript, HTML, and CSS, this issue should be no problem for you to tackle. Is there anything above that seems unclear?

The component(s) you'll be rewritting/editing are [here](https://github.com/OperationCode/front-end/tree/master/components/Cards/SchoolCard).

[2019-04-06 08:04] greenkeeper[bot] opened #396 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.11.2` to `1.12.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fmonorep

[2019-04-06 08:36] kylemh opened #397 "Migrate to newest version of Storybook"
# Feature request
**Is your feature request related to a problem? Please describe.**
#247 has been open for a long time.

**Describe the solution you'd like**
Bump Storybook and relevant add-ons to latest version and resolve any bugs that show up in `yarn storybook` and `yarn build-storybook`. Change whatever is needed to get it to work again!

[2019-04-07 21:16] #394 closed

[2019-04-07 21:17] kylemh commented on #396
Resolved in #400

[2019-04-07 21:17] #396 closed

[2019-04-07 22:05] hollomancer opened #402 "Reactivate code on /events when relevant API is documented"
# Feature request
Uncomment code on events page and integrate with services when events API documentation is up.

[2019-04-07 22:05] hollomancer opened #403 "Replace "mailto:" placeholder links with content"
# Feature request
Remove mailto: links where relevant, and replace with completed pages

[2019-04-07 22:17] kylemh commented on #402
Blocked by back-end @wimo7083

[2019-04-07 22:19] kylemh commented on #403
Actually... I think I can close this. Sorry for makin ya work. The `mailto:` buttons actually make sense permanently.

[2019-04-07 22:19] #403 closed

[2019-04-07 23:25] kylemh commented on #387
Resolved in #399

[2019-04-07 23:25] #387 closed

[2019-04-07 23:25] kylemh commented on #375
Resolved in #383

[2019-04-07 23:25] #375 closed

[2019-04-08 06:30] juliantrueflynn opened #412 "Improving FAQ boxes to more consistent responsive styling"
# Bug Report
## What is the current behavior?

* Width of the FAQ boxes are not consistent width (see attached image)
* FAQ box `p` tag widths are not full width
* FAQ box has unequal top and bottom margins (see attached screenshot)

## What is the expected behavior?

* Width of the FAQ boxes should be same width and responsive
* FAQ box `p` tag widths are not full width and max-width is set to 70

[2019-04-08 07:26] #412 closed

[2019-04-08 08:47] kylemh opened #414 "Update css-loader and next-css"
We like to keep deps updated!

CSS Loader v2 comes with a ton of benefits.

`next-css` is using css-loader v2 on an experimental release, and I've got it working [on this branch](https://github.com/OperationCode/front-end/tree/use-css-loader-v2).

[2019-04-08 08:48] kylemh commented on #414
Unfortunately, css-loader v2 REQUIRES Webpack 4 and Storybookv3 uses Webpack 3.

Merging my branch in would break Storybook.

We need to resolve #397 before resolving this issue.

[2019-04-08 08:52] kylemh commented on #388
I am assigning myself to this issue as a placeholder for @BachAmadou . Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two days, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-04-08 13:29] szempled commented on #388
Hey Guys,

Sorry for the delay, just back from the weekend. I signed for as many trial
lessons as I could for the tutorial for Git, is there anymore documentation
about how to fork a branch and check out software. I really want to get
rolling.  Also to answer your question about the languages. I have some
experience with javascript and I’m still very novice with HTML and CSS. I
do however have alo

[2019-04-08 22:42] kylemh commented on #388
@szempled I don't want to deter you from contributing. I love the drive. I'd say that accomplishing this issue in the timeframe we're seeking would be very difficult - I don't want you to have a negative OSS experience. I recommend instead focusing on going the the front-end web cert on freecodecamp.org and then maybe going through a React course on Egghead or Udemy!

[2019-04-09 01:05] szempled commented on #388
Hey Kyle,

Oh ok no problem.  I got confused because it had a "good first issue" I
didn't think it had such a tight deadline.  I went through a lot of the
front end web cert stuff a year ago to get a feel for web design, reading
through https://reactjs.org/tutorial/tutorial.html now doesn't seem to be
crazy.  My background is mainly embedded systems; however, I do want to
branch out from a profess

[2019-04-09 17:16] kylemh opened #421 "Change cookie path to domain once we deploy"
# Feature request
**Is your feature request related to a problem? Please describe.**
Change path from `operation-code.now.sh` to `operationcode.org` once we deploy. See https://github.com/OperationCode/front-end/pull/420 for more info.

[2019-04-09 21:07] kylemh commented on #388
Is your understanding of `good first issue` to be:

- good first issue to acquaint yourself with this repository
- good first issue to see how to contribute on GitHub
- good first issue for new developers

[2019-04-09 22:15] szempled commented on #388
Base assumption was good first issue was a little bit of all of the above.

On Tue, Apr 9, 2019 at 5:07 PM Kyle Holmberg <notifications@github.com>
wrote:

[2019-04-10 03:08] kylemh commented on #388
I honestly have no idea - I tried googling... I guess for this repository (and I'll update the README to prevent further confusion), I'm hoping it helps people who are familiar with our tooling feel comfortable to dive in to the repo.

Essentially, I've been using "good first issue" as a way of communicating: "if you know some of our tools (JavaScript, HTML, CSS), this is a great issue to start co

[2019-04-10 03:12] kylemh commented on #259
Seems to be working
Seems to update lockfiles
It looks like Greenkeeper only updates minors or majors (not patches).

[2019-04-10 03:12] #259 closed

[2019-04-13 08:02] greenkeeper[bot] opened #422 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.16.0` to `2.17.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Feslint-plugin-import-2.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-04-17 21:54] #422 closed

[2019-04-19 17:29] jack-robs opened #426 "Create /podcast page"
Per request by our podcast leader, BobP, get a link to the podcast page on the OC website.

Intent:
-increase traffic to OC podcast page
-highlight success stories of OC members interviewed
-expand and link our network of content offerings for OC
https://operationcode.libsyn.com/website

Future work:
-build podcast page organic to OC's FE

- [x] Create `/podcast` page with HTML @danielasannino
- [

[2019-04-19 18:37] kylemh commented on #426
Would love BobP's input on content.

Here are some examples for design to emulate:
https://changelog.com/podcast
https://syntax.fm/
https://frontendhappyhour.com/

[2019-04-20 08:39] kylemh opened #427 "Cookies are not being set properly"
# Bug Report
## What is the current behavior?
Logging in and registering yields a 200 from the server, but it seems like cookies aren't getting applied.

## What is the expected behavior?
If the server is working, we should be able to get a token applied to cookies and actually login/register.

[2019-04-21 18:01] jgmuchiri commented on #345
@kylemh @aaron-suarez I'm working on this. I have implemented the design I posted on Slack with JSON data source.

[2019-04-21 22:37] kylemh opened #430 "Integrate Sentry"
# Feature request
We want to know when our users see errors, and Sentry is a surefire way to get that.

**Describe the solution you'd like**
Integrate Sentry as described [here](https://github.com/zeit/next.js/tree/canary/examples/with-sentry).

[2019-04-21 22:45] kylemh opened #431 "Create "sad path" tests for existing login and registration Cypress tests"
# Feature request
We only test "happy path" for logging in and registering. I'd like to also maintain e2e coverage for the cases when the user isn't successful in doing either.

**Describe the solution you'd like**
**Login**
- Attempts to login with information that passes form validation, but is _not_ an actual user.
- Attempts to login with an invalid email
- Attempts to login with an invalid pa

[2019-04-21 22:49] kylemh opened #432 "Get unit test coverage to 90%"
# Feature request
There exists untested code and code where test coverage does not cover the whole file. We shouldn't strive for coverage for coverage-sake, but I would say that the missing spots make me less confident about the code.

**Describe the solution you'd like**
In a shell while in the repository...
- Run `yarn jest --coverage`
- Run `open coverage/lcov-report/index.html`
- Inspect our c

[2019-04-21 23:29] kylemh commented on #427
Resolved in #428

[2019-04-21 23:29] #427 closed

[2019-04-21 23:29] kylemh commented on #421
No longer necessary as of #428

[2019-04-21 23:29] #421 closed

[2019-04-21 23:37] kylemh opened #434 "Integrate LogRocket"
# Feature request
For similar reasons to #430 , but it keeps a small video of a clients interactions so we can see the replication path!

**Describe the solution you'd like**
[Integrate LogRocket with Sentry](https://docs.logrocket.com/docs/sentry)

Also see if we should be integrating the React and Redux middleware!

### Please Note:
You will need to sync up with me on Slack when working on this

[2019-04-21 23:37] kylemh commented on #434
Blocked by #430

[2019-04-21 23:54] kylemh opened #435 "Add visual regression tests using Cypress for static pages"
# Feature request
For pages that are _NOT_ `code_schools`, `login`, `join`, and `profile`, we can improve our shipping confidence with [visual regression tests](https://www.abhishek-tiwari.com/visual-regression/).

**Describe the solution you'd like**
Cypress will [eventually ship 1st class support](https://github.com/cypress-io/cypress/issues/495), but in the meantime, [solutions exist that lever

[2019-04-22 02:18] aaron-suarez commented on #345
This kind of looks like crappy marketing and general BS, but that being said, this is the same idea. A list of all the success stories for this site (paginated even, because they've had _that many_ successes) https://www.thesecret.tv/all-stories/

[2019-04-22 16:35] jgmuchiri commented on #345
@aaron-suarez Something similar to this

![oc-stories](https://user-images.githubusercontent.com/4142133/56511622-08e05800-64fb-11e9-9df8-e1ffea34327c.gif)

[2019-04-24 01:31] juliantrueflynn commented on #388
Notes from call with Kyle discussing this ticket and feature changes:

1. Locations (which are either "Multiple locations" or single location) will be in same in same row as "Campus Locations" like other sections in mock design.
2. If "Multiple locations", then display button with the text "See full list" that opens modal. Button should be styled to look like a link (i.e. underline, maybe blue if

[2019-04-24 03:04] juliantrueflynn opened #437 "Code Schools field not resetting to initial state after clearing"
# Bug Report
## What is the current behavior?

On the page `/code_schools` there's a select field that filters cards by US state. After selecting a state, if the user then clears the field, the results do not return to initial state (showing all cards).

Field uses `react-select`, and you can of course ask me here or in Slack if you have any questions.

## What is the expected behavior?

After cle

[2019-04-24 16:08] kylemh commented on #388
We spoke on the bottom topic on Slack 👍

[2019-04-24 22:49] tfquirk commented on #437
@juliantrueflynn @kylemh - I can work on creating a PR for this bug.

[2019-04-24 23:23] juliantrueflynn commented on #437
@tfquirk Okay, great. Let me know if you have any questions here or on Slack. We're hoping for quick turn around time on this, let me know if that's an issue.

[2019-04-24 23:41] #437 closed

[2019-04-25 19:26] KrDimitrov commented on #431
Im working on this. New to testing, but i feel like im making progress!

[2019-04-25 19:47] kylemh commented on #431
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

Check out our [hand-picked resources](https://github.com/OperationCode/front-end/blob/master/cypress/README.md) for learning Cypress!

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-04-25 21:37] KrDimitrov commented on #431
What is actually supposed to happen when the API is unreachable? With a 502 response the page doesn't display any error message. Maybe im not simulating an unreachable API correctly?

[2019-04-25 21:48] kylemh commented on #431
I'd love to see the code, but this is one big reason to add tests! Perhaps we're not error handling properly!

[2019-04-25 22:23] KrDimitrov commented on #431
I have pushed everything i've done today to my fork [Here](https://github.com/KrDimitrov/front-end/blob/cypress/login_registration/cypress/integration/login.spec.js). Not ready for a PR, as registration testing is not implemented yet. Would love some feedback, maybe some of the tests are repeated and unnecessary?

[2019-04-26 05:30] kylemh commented on #431
For duplicate logic, you could put

[code]

[2019-04-26 09:30] KrDimitrov commented on #431
Alright, login is done, but a zipcode [Test](https://github.com/KrDimitrov/front-end/blob/5a71276c0946444f53bff8f5cd08284aeb805b48/cypress/integration/register.spec.js#L147-L160) fails. (Zipcodes like 00010 are considered invalid).

It also appears that entering text in the zipcode field is not handled (manually tested, entering `ddadadad` as a zipcode triggers no error).

If thats not an issue th

[2019-04-26 16:24] kylemh commented on #431
That is expected. See our zipcode validation utility:

[code]

[2019-04-26 18:49] KrDimitrov commented on #431
All done. You are good to send me an invite. Ill try to keep contributing :)

[2019-04-26 22:01] greenkeeper[bot] opened #441 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.4.3` to `7.4.4`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.4.3` to `7.4.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:gre

[2019-04-27 02:34] #388 closed

[2019-04-27 20:30] KrDimitrov commented on #397
On it! Ill try at least..

[2019-04-27 20:50] kylemh commented on #397
Damn. This is a huge undertaking, good on ya!

Let me know if you need any help at all. I'm on Slack all weekend.

I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-04-28 02:49] #431 closed

[2019-04-28 04:26] #441 closed

[2019-04-28 04:40] kylemh opened #447 "Create pagination component"
# Feature request
**Is your feature request related to a problem? Please describe.**
We will eventually be creating a page for our resources API. In preparation, we can accomplish some work ahead of time before the API is ready to go.

**Describe the solution you'd like**
Create a pagination component to navigate multiple pages of results.

Here is the mock:
![Screen Shot 2019-04-27 at 9 33 10 PM]

[2019-04-28 04:49] kylemh opened #448 "Create ResourceCard component"
# Feature request
## Problem
We will eventually be creating a page for our resources API. In preparation, we can accomplish some work ahead of time before the API is ready to go.

## Solution
Create a ResourceCard component to showcase a resource item. It should use the exiting Card component and exist within `components/Cards`.

### Mock
![Screen Shot 2019-04-27 at 9 41 40 PM](https://user-images

[2019-04-28 22:41] jack-robs opened #449 "Move off Travis onto CircleCI"
# Chore
Move off of Travis onto CircleCI since Travis is barely a company anymore post-layoffs

[2019-04-29 18:05] VirgilHilts commented on #426
Thanks! I hate to make things overly simple, but I think this guy has the right idea: KISS.

https://medium.com/@JamesCridland/how-to-link-to-your-podcast-most-effectively-e15ecb1e1105

Don't add links to all the apps. Don't include all the episodes. Just have two big play buttons: one or Android & one for Apple.

Goal: two clicks and no decisions before you're actually listening to the latest epi

[2019-04-29 20:17] kylemh commented on #426
@LindaCBeall see above!

[2019-04-29 20:19] kylemh commented on #246
I'm gonna kick this to wont-do...

@Litodude lets confer after I've implemented the new registration flow, yes?

I advise watching #174 and hitting me up after!

[2019-04-29 20:19] #246 closed

[2019-04-29 22:48] VirgilHilts commented on #426
One more thing you might not think of at first: metrics!

What can/should we remember about people who come to the Podcast page?

1)  Were they on a mobile phone, or a desk browser? Details, e.g. Android / iOS?
  (maybe we already have this on the site metrics?)

2) Did they hit Play, or not?
  (we can do experiments on page design to see if they influence the # who hit Play)

[2019-04-29 22:53] kylemh commented on #426
We will be tracking that all automatically :)

[2019-05-03 08:56] greenkeeper[bot] opened #455 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `8.1.5` to `8.1.6`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Flint-staged-8.1.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDependency o

[2019-05-04 06:00] #455 closed

[2019-05-04 12:00] aasifkhan7 commented on #119
Hi. I am a newbie, so need some guidance.

So what essentially is required is this:
Use yarn should run for all branches that include "greenkeeper/" in the branch name and yarn --pure-lockfile --silent should run otherwise.

The only difference between #201 and the required change being removing a --silent flag?
Thanks!

[2019-05-04 17:37] #119 closed

[2019-05-06 08:42] greenkeeper[bot] opened #463 "An in-range update of react-svg-loader is breaking the build 🚨"
## The dependency [react-svg-loader](https://github.com/boopathi/react-svg-loader) was updated from `3.0.0` to `3.0.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-svg-loader-3.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-svg-loader i

[2019-05-07 04:35] kylemh commented on #390
Partially resolved! The work is still assigned.

[2019-05-08 09:51] KrDimitrov commented on #397
Welp, its seems im kinda stuck. Storybook starts with no errors, as well as `yarn dev`.

It seems, svg importing is not working in Storybook. Any other components are rendered properly, but those that import svgs show an `String contains an invalid character` error message (not in console, in browser).

![Screenshot](https://user-images.githubusercontent.com/29924708/57366605-91135e00-7187-11e9-95

[2019-05-08 15:45] kylemh commented on #397
Will you do me a favor and try upgrading your version of `react-svg-loader`?

[More context on my guess](https://github.com/OperationCode/front-end/pull/470).

[2019-05-08 16:57] kylemh commented on #397
@KrDimitrov I dove into your fork and have made a few changes that may get you farther:

1) Run `yarn upgrade-interactive --latest` and upgrade everything except `husky`, `lint-staged`, and `next-redux-wrapper`.

2) Change `.storybook/webpack.config.js` to:
[code]

3) Change `.storybook/backgrounds.js` to:
[code]

4) Remove `@storybook/addon-options` by running `yarn remove @storybook/addon-option

[2019-05-08 23:50] kylemh commented on #269
Blocked by needing a mock.

Gonna get info from David really quick and paste it here...

[2019-05-10 00:29] #390 closed

[2019-05-10 05:15] kylemh commented on #173
Page is nearly done! Just need some style polish.

[2019-05-10 10:46] KrDimitrov commented on #397
Still no results on my end. Did 1-5, I'm still getting the same error, `yarn dev` is broken, as well as commit test, but that is to be expected? I ran 1-5 twice, the first time I installed `file-loader`, still the same error.

Maybe my fork is not up to date with origin?
I'll update it and try again.

[2019-05-10 17:10] kylemh commented on #397
Let me know how it goes after updating to origin.

I can dive into your branch again - you’re so close! I’m excited.

[2019-05-10 19:00] kylemh opened #479 "Convert PropType imports to named"
# Feature request
**Is your feature request related to a problem? Please describe.**
`import PropTypes from 'prop-types';` has a worse developer experience than `import { specificPropType } from 'prop-types';`. For one, it's extra/unnecessary characters. Secondly, `.isRequired` only appears in intellisense when destructuring.

**Describe the solution you'd like**
Convert every `import PropTypes fr

[2019-05-10 20:06] Shobhit1 commented on #479
I can take this up if no one is working on it.

[2019-05-10 20:18] Shobhit1 commented on #479
Working on it. Will create a PR soon for this.

[2019-05-10 21:47] kylemh commented on #479
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-11 01:19] kylemh opened #481 "Convert .eslintrc to .eslintrc.js and add comments"
# Feature request
**Is your feature request related to a problem? Please describe.**
As a beginner-friendly project, we provide a lot of opinionation and good-practice guidance via our larger ESLint configuration. So large, in fact, that I have trouble quickly scanning all that it's doing 😅

**Describe the solution you'd like**
By converting the file to `.js`, sorting the rules first by plugin nam

[2019-05-11 01:23] juliantrueflynn commented on #430
@rmkubik Kyle just assigned me in Slack just because of high priority. Let me know if you already started.

[2019-05-11 01:26] kylemh commented on #430
Just reached out to Ryan, and he's good to go. You're all clear.

[2019-05-11 02:54] kylemh commented on #481
I am assigning myself to this issue as a placeholder for ryosts’s work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-11 05:04] kylemh commented on #481
Closed in #482

[2019-05-11 05:04] #481 closed

[2019-05-11 06:46] #430 closed

[2019-05-11 15:28] aasifkhan7 commented on #432
Hi! I do not understand what does the uncovered branches say. For instance, in `components/ErrorDisplay`  it shows in the column Branches 2/4. Does that mean that in 4 branches in which the particular code of interest is given, only 2 branches exist where there is also a corresponding test for the code? Thanks!

[2019-05-11 18:45] kylemh commented on #432
@aasifkhan7 yes!

One way I like to visualize which code is uncovered (with tests), is by running `yarn test` and then `open coverage/lcov-report/index.html`. This will open up an interactive viewer of your coverage report which shows you the exact spots in your code that are uncovered.

[2019-05-11 20:55] aasifkhan7 commented on #432
Running `yarn test` shows that 1 snapshot, 1 test, and 16 test suites failed. We should attempt to try to fix that?

[2019-05-11 22:10] kylemh commented on #432
They're not failing on master, so I imagine you have local dependencies affecting things. Unless you've made code changes?

[2019-05-11 23:17] aasifkhan7 commented on #432
Oh, my apologies. Looks like I had run `yarn test` on some other branch. I must have checked out to that branch in the process of checking which branches might contain the code of `components/ErrorDisplay` without corresponding tests, and then came back after a while and running `yarn test` thinking I was in master. :)
I had a question - is there any other way to check which branches might not hav

[2019-05-12 01:17] kylemh commented on #432
I would:
- fork the repository
- checkout the `master` branch
- run `yarn` (to install deps)
- use `git checkout -b your-branch-name-here`
- and then go from there!

[2019-05-12 01:53] kylemh opened #484 "Create /sponsorship page"
# Feature request
We need a page to describe to potential corporate sponsors how and why they should donate.

## Proposed solution
- Create a file in the `pages` folder called `sponsorship.js` using `yarn create-page sponsorship`
- There is no mock for this page, so please keep pages like `/get_involved` and `/about` and `/who_we_serve` as examples of the design we're trying to emulate. There's si

[2019-05-12 01:55] kylemh commented on #484
This project is assigned to the incubator.

[2019-05-12 02:39] kylemh opened #485 "Replace lodash usage with `lodash-es`"
# Feature request
We use direct function imports from `lodash` which [leads to shipping a larger-than-necessary bundle](https://www.blazemeter.com/blog/the-correct-way-to-import-lodash-libraries-a-benchmark).

## Proposed solution
- `yarn remove lodash`
- `yarn add lodash-es`
- Change every `lodash` import to properly import named exports from `lodash-es`.

[2019-05-12 09:56] kylemh commented on #269
Gonna close this for now, as the board is really happy with sticking to LGL foe the foreseeable future.

[2019-05-12 09:56] #269 closed

[2019-05-12 11:50] aasifkhan7 commented on #432
Okay. Thank you. I'd like to work on this issue. Could you please assign me on this? Thanks!

[2019-05-12 11:53] aasifkhan7 commented on #485
I would like to take up this issue. Thanks!

[2019-05-12 12:37] markchernov commented on #435
Kyle, I'd like to work on this one. Thanks, Mark

[2019-05-12 16:14] kylemh commented on #435
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-12 16:14] kylemh commented on #485
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-12 16:15] kylemh commented on #432
#
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-12 16:41] #435 closed

[2019-05-12 22:01] aasifkhan7 commented on #485
I am considering changing the lodash usages one-by-one. So, while trying to make a change in the file `pages/_app.js`, I replace `import debounce from 'lodash/debounce'` by `import { debounce } from 'lodash-es'`, and running `yarn dev` throws the error - [https://pastebin.com/VAf0S6Qe](url) Could you please help me through the stack trace? Thanks!
One additional thing, after this change if I renam

[2019-05-12 23:32] kylemh commented on #485
What version of node are you using?

[2019-05-12 23:49] aasifkhan7 commented on #485
I'm using `node v8.10.0`. And I tried this as well: `import debounce from 'lodash-es/debounce';` - it throws the same error again (do you think that my node version is the issue - as I remember travis failed on this too) - https://pastebin.com/VAf0S6Qe (My apologies - I just realised that I had made the link clickable the wrong way in the previous comment)

[2019-05-12 23:54] LindaCBeall opened #491 "#426"

[2019-05-12 23:56] #491 closed

[2019-05-13 00:23] kylemh commented on #485
I apologize for labeling this issue as `beginner friendly`. I didn't connect the dots concerning the fact that `lodash-es` is already transpiled to ES6 rather than commonJS. `node_module` items aren't typically transpiled, and - while this problem isn't related to Next.js - it turns out [they're trying to figure out an easy way to transpile modules in `node_modules`](https://github.com/zeit/next.j

[2019-05-13 00:23] #485 closed

[2019-05-13 00:28] aasifkhan7 commented on #485
Not a problem! I must have learnt something while working on it. :)

[2019-05-13 08:50] KrDimitrov commented on #397
Nope, no results sadly. I'm probably missing something small. I rebased and branched off of the updated master. `yarn dev` is not running, and storybook gives me the same error.

It is important to note that when I ran `yarn upgrade-interactive --latest` there were no updates for `lint-staged`

`yarn dev` errors

[code]
and then
[code]

Maybe it's related to recent commits on origin?

[2019-05-13 16:40] #479 closed

[2019-05-13 16:42] kylemh commented on #397
I'll dive in, and see if I can set you up for success. Perhaps sometime Sunday?

[2019-05-13 22:27] greenkeeper[bot] opened #496 "An in-range update of nuka-carousel is breaking the build 🚨"
## The dependency [nuka-carousel](https://github.com/kenwheeler/nuka-carousel) was updated from `4.5.5` to `4.5.6`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fnuka-carousel-4.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nuka-carousel is a direct

[2019-05-14 06:13] KrDimitrov commented on #397
Sure. I'll keep trying. Would start by making `yarn dev` run..

[2019-05-14 06:58] kylemh commented on #397
To be clear, I wouldn't worry about  getting `yarn dev` to work. I'm confident the reason is because the `css-loader` version requires a _weird_ version change for `next-css`.

https://github.com/zeit/next-plugins/pull/350#issuecomment-467656451

So we'd need to "upgrade" to 0.2.1-canary.4

[2019-05-15 22:57] kylemh commented on #447
Kevin asked to be unassigned so he can take a vacation before he starts his kick-ass new job!

I'm going to close his work-in-progress pull request, and open this issue back up to the public. Note that some good work was already ongoing:
https://github.com/OperationCode/front-end/pull/500/files

[2019-05-16 19:26] #496 closed

[2019-05-17 10:38] KrDimitrov commented on #397
# Success!

storybook appears to be working properly, as well as `yarn dev`!

cypress seems to fail though, with an `Uncaught SyntaxError: Unexpected token ...`, which is from the app, and the tests fail automatically... `This error originated from your application code, not from Cypress.`

[2019-05-17 17:28] kylemh commented on #397
Exciting!

`jsconfig.js` really shouldn’t have the ability to break anything, as it’s just a config file for VS Code. I’d prefer that stay in there, but let’s have a PR open up and see if I can offer any help.

[2019-05-17 17:37] KrDimitrov commented on #397
Yes, I am aware, but storybook was spitting out errors because of the `//` comment at line 1, PR is on the way

[2019-05-17 22:09] greenkeeper[bot] opened #509 "An in-range update of formik is breaking the build 🚨"
## The dependency [formik](https://github.com/jaredpalmer/formik) was updated from `1.5.5` to `1.5.6`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fformik-1.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

formik is a direct dependency of this project

[2019-05-18 21:28] kylemh opened #510 "Prop-type error in Select + Input component"
# Bug Report
## What is the current behavior?
I've duct-taped the behavior in https://github.com/OperationCode/front-end/pull/506 , but if you undo that PR and run forms with a Select where `isMulti` is true, you'll see a prop-type error where `form.touched.$fieldName` is an array and it should be a boolean.

**Error Stack**
[code]

**Implementation**
[code]
## What is the expected behavior?
Essen

[2019-05-19 02:00] #509 closed

[2019-05-19 23:04] #174 closed

[2019-05-20 05:10] #434 closed

[2019-05-20 05:42] #239 closed

[2019-05-21 01:13] LindaCBeall opened #516 "#513"

[2019-05-21 01:14] #516 closed

[2019-05-21 06:13] #484 closed

[2019-05-22 10:12] kylemh opened #521 "Improve form submission user experience"
# Feature request
When submitting the login and registration forms, as well as each step in the profile update form, we've used Formik's `setSubmitting` as a way to manage the state of the submit button being disabled or not. It seems, however, that the button will undisable _before_ the post-submit route transitions start, giving an opportunity for multiple submissions.

I'd like for it to stay d

[2019-05-22 10:13] #173 closed

[2019-05-22 10:14] #463 closed

[2019-05-22 10:22] kylemh opened #522 "Create <Image> component"
# Feature request
## Problem(s)
- **Inconsistency**: Some pages have scroll-based animations on images, but it’s not set as a universal paradigm.
- **Performance**: None of our images are lazy-loaded.

## Proposed solution
Create an `<Image>` component which automatically has buy-in for scroll-based lazy-loading AND animations.

## Additional context
Check out these libraries / implementations for

[2019-05-22 10:24] kylemh opened #523 "Integrate Cloudinary with <Image> component"
# Feature request
We don't want to manually generate multiple asset types to serve next-gen image formats to the right browser. For that reason, and many others discussed with Operation Code leadership, we'd like to integrate [Cloudinary](https://cloudinary.com/) for all our image purposes.

## Proposed solution
Integrate [Cloudinary](https://cloudinary.com/) to manage images (plug-in to `<Image>`

[2019-05-22 10:29] kylemh opened #524 "No close button on Code School card locations modal"
# Bug Report (not really a bug, but still...)
## What is the current behavior?
1) Go to `/code_schools`
2) Scroll down to the list of Code School cards
3) Click on the "view all" button of a card with multiple locations
4) Note that the modal which opens has no visible cue for closing itself

## What is the expected behavior?
The Code School card's "all locations" modal should use the `<CloseButto

[2019-05-22 10:35] kylemh opened #526 "Enable year-by-year navigation on /history"
# Feature request
Some years are beefier than others for Operation Code. It'd be nice for users to be able to skip across years, rather than scroll to the right position.

## Proposed solution
Design and implement an interface with which users can quickly navigate to a listed year on the history page.

[2019-05-22 10:37] kylemh opened #527 "Add a progress indicator to profile update form"
# Feature request
There are 3 mandatory steps to the profile update form and 1 that's conditionally rendered. Users are navigated to this form after registering, and it'd be very helpful and better for bounce-rates to give a progress indicator on the user's progress within that form.

## Proposed solution
Design and implement a progress indicator at the top of the update profile form view. I sugge

[2019-05-22 10:39] kylemh opened #528 "Prevent numbers in name fields of all forms with Yup validations"
# Feature request
A user is able to enter non-alphabetical characters into fields that typically would **only** contain them.

## Proposed solution
Use `yup` on all relevant forms to prevent the entering of numbers into the aforementioned fields. Add e2e and unit test coverage on the matter.

[2019-05-22 10:42] kylemh opened #529 "Conditionally render `login` and `join` views based upon auth"
# Feature request
Even when logged in, a user still sees the login and join items in the nav. Same with the `ReusableSections/JoinSection` component.

## Proposed solution
Conditionally render relevant items based upon when they're logged in. I recommend generating a list of spots you believe should be conditionally rendered, and confirming that list in this issue before writing code.

[2019-05-22 13:31] greenkeeper[bot] opened #530 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.5.1` to `22.6.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Feslint-plugin-jest-22.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-05-22 16:14] AllenAnthes commented on #529
I'm thinking we check the user's loggedIn status in `_app.js`, filter out the `Who We Serve` section if they're already logged in, and pass the filtered list to  `Nav` through `Layout`, as well as `MobileNav`?

Also realized we're missing a logout option while doing this.

We could alternatively dispatch a redux action in `_app.js` for it, since the `Nav` component is already connected to the stor

[2019-05-22 17:35] kylemh commented on #529
I think it's very valid to have `isLoggedIn` as a variable in the redux store. We could then export a connected version of the JoinSection which conditionally renders based off of that fact. Plus handle nav stuff the way you mentioned.

[2019-05-22 18:10] kylemh commented on #522
Gonna claim this cuz I'm selfish and this is cool.

Got some help from my old manager and the Next Slack team on implementing this.

It's important to understand React doesn't support SSR lazy-loading yet, so this Image component needs to be a mix of behavior on the client and server.

Here's an example usage I was just shown:
[code]

[2019-05-23 02:19] paulfox310 commented on #528
I can work on this one

[2019-05-23 02:24] michaelGerstner commented on #447
I can make this.

[2019-05-23 02:30] juliantrueflynn commented on #447
Cool, go for it @michaelGerstner. I will assign myself to show this is taken.

[2019-05-23 02:35] ainzacruz commented on #510
Hello new contributor here,

I can work on this

[2019-05-23 03:58] kylemh commented on #528
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-23 03:58] kylemh commented on #510
I am assigning myself to this issue as a placeholder for your work. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-23 03:59] #530 closed

[2019-05-24 08:43] nvwebd commented on #529
What about something like this: https://kentcdodds.com/blog/authentication-in-react-applications ? I follow Kents work and he has some good blog posts / tuts / advice. I also implemented this - kinda similar auth rendering myself.

[2019-05-24 16:51] kylemh commented on #529
We're not using hooks yet, so we can't just make a context hook like that. For what it's worth, what Allen proposed is very similar to how Kent would do it! Just with redux instead of context.

[2019-05-25 03:46] clsoar commented on #524
Can I knock this one out? If so, primary or secondary theme for the <CloseButton>?

[2019-05-25 09:03] kylemh commented on #524
Black!

I am assigning you to this issue. Thank you, and good luck! 😁

**Please note:**
If no activity is shared within two weeks, I will remove my assignment. At that point, the issue will be open for anybody to take.

[2019-05-26 02:48] kylemh commented on #432
Un-assigning myself from this issue, as no progress has been shared within 2 weeks.

[2019-05-26 02:50] kylemh commented on #529
Closed in #514

[2019-05-26 02:50] #529 closed

[2019-05-26 04:52] kylemh commented on #524
Closed in #535

[2019-05-26 04:52] #524 closed

[2019-05-26 20:20] greenkeeper[bot] opened #540 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.13.0` to `1.13.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fmonorep

[2019-05-27 01:46] kylemh commented on #432
Closed in #541 but we're always open to you adding more tests!

[2019-05-27 01:46] #432 closed

[2019-05-27 06:34] greenkeeper[bot] opened #546 "An in-range update of react-select is breaking the build 🚨"
## The dependency [react-select](https://github.com/JedWatson/react-select) was updated from `2.4.3` to `2.4.4`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-select-2.4.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-select is a direct depe

[2019-05-27 11:58] #546 closed

[2019-05-27 11:59] kylemh commented on #540
Closed in #542

[2019-05-27 11:59] #540 closed

[2019-05-28 20:48] #449 closed

[2019-06-01 15:56] juliantrueflynn commented on #447
@michaelGerstner Just following up to see if you are having any issues I could maybe help with. Typically we like to give ~2 weeks, which is approaching, before changing assignment to someone else unless it's being worked on.

[2019-06-06 23:15] greenkeeper[bot] opened #567 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.17.1` to `1.18.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fprettier-1.18.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this

[2019-06-08 10:58] greenkeeper[bot] opened #569 "An in-range update of query-string is breaking the build 🚨"
## The dependency [query-string](https://github.com/sindresorhus/query-string) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fquery-string-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

query-string is a direct d

[2019-06-08 21:04] #567 closed

[2019-06-08 21:04] #569 closed

[2019-06-08 22:01] kylemh commented on #528
Re-opening issue for claiming, as no activity has been shared.

[2019-06-08 22:02] kylemh commented on #510
Re-opening issue for claiming, as no activity has been shared.

[2019-06-09 01:13] juliantrueflynn commented on #447
@michaelGerstner Since I haven't heard back or seen any activity I'm going to take the assignment off myself and leave this open to anyone else to try. Let me know if you want to take another crack at it.

[2019-06-09 21:09] hollomancer opened #574 "Bug: Replace USMC with Army in success story section"
# Bug Report
## What is the current behavior?
Success story section is marked SEAN MCBRIDE, USMC, SOFTWARE ENGINEER

## What is the expected behavior?
Success story section is marked SEAN MCBRIDE, ARMY, SOFTWARE ENGINEER

front-end/common/constants/successStories.js

[2019-06-09 23:10] AllenAnthes opened #575 "Bug: Removing code school filter crashes page"
# Bug Report
## What is the current behavior?
Removing the final state in the code_school filter causes the page to crash if the "X" next to the state is clicked.

## What is the expected behavior?
All code schools should be displayed

[2019-06-09 23:49] AshTemp opened #577 "Remove Link to Medium Blog"
# Feature request
On the FAQ page there is a question that points people to the medium blog that has not been updated since 2016.
![image](https://user-images.githubusercontent.com/19790104/59165812-9ef23100-8aef-11e9-902d-00d70dfc68e9.png)

## Proposed solution

Remove the reference to Medium.

[2019-06-09 23:51] AshTemp opened #578 "Remove target="_blank" from all anchor tags where href starts with "mailto:""
# Bug Report
## What is the current behavior?
Clicking on the Find out How button on start your own meetup opens a blank page.
![image](https://user-images.githubusercontent.com/19790104/59165836-ed073480-8aef-11e9-8b0c-bc7c6b2e9d27.png)

## What is the expected behavior?
Page is not blank.

## What steps did you take to get this behavior?
Clicked on the button.

## Additional Info
### Operating S

[2019-06-09 23:53] AshTemp opened #579 "Sponsor a meetup button opens blank page."
# Bug Report
## What is the current behavior?
Clicking the button to Sponsor a meetup opens a blank page.

## What is the expected behavior?
The page is not blank!

## What steps did you take to get this behavior?
Clicked the button

## Additional Info
### Operating System
Windows 10
### Browser
Chrome

### Screenshots

![image](https://user-images.githubusercontent.com/19790104/59165857-440d0980-

[2019-06-10 00:03] AshTemp commented on #579
Dupe of 578

[2019-06-10 00:03] #579 closed

[2019-06-10 00:21] kylemh commented on #577
On it.

[2019-06-10 01:54] #575 closed

[2019-06-10 02:01] #577 closed

[2019-06-10 06:53] kylemh commented on #578
In this specific area, I think we can eventually create a form to handle the idea of proposing new meetups.

In regards to `mailto:` links in general... I added `target="_blank"` at the behest of [Chris Coyier](https://css-tricks.com/all-about-mailto-links/). Unfortunately, desktops where mail is handled by a native app (or Windows 10 by default) will first open a new tab. I think removing `target

[2019-06-10 07:08] kylemh opened #581 "Setup Sentry Release Version Tags"
# Feature request
Sentry has the ability to tag releases so that we can resolve issues on a release-by-release basis.

## Proposed solution
Something from here https://docs.sentry.io/workflow/releases/?platform=javascript#tag-errors

[2019-06-10 07:12] kylemh opened #582 "Use LogRocket Identify to better track repeat users' experiences"
# Feature request
LogRocket is cool.
Repeat users are cool.
Currently all users are anonymous.
Users could be tied to their login info so that we can gather repeat intel on repeat users helping us identify patterns (good and/or bad).

## Proposed solution
See example: ![Screen Shot 2019-06-10 at 12 10 12 AM](https://user-images.githubusercontent.com/9523719/59178560-2e114000-8b14-11e9-9215-5214b08

[2019-06-10 07:14] kylemh commented on #574
Resolved

![Screen Shot 2019-06-10 at 12 14 03 AM](https://user-images.githubusercontent.com/9523719/59178722-ac6de200-8b14-11e9-88e7-bff421ea34bf.png)

[2019-06-10 07:14] #574 closed

[2019-06-10 07:15] kylemh commented on #510
@AllenAnthes did you resolve this?

[2019-06-10 13:17] AllenAnthes commented on #510
Huh, maybe?  It does look like it's resolved.

[2019-06-10 14:20] hollomancer opened #584 "DISCUSSION: Contentful for headless CMS"
We're looking at leaving Medium and using Contentful to upload articles, news updates, podcasts and other content.

This thread is to discuss Contentful as a platform and whether we want to use it - and if so, how we use it.

[2019-06-10 15:58] #510 closed

[2019-06-10 17:33] kylemh commented on #584
I like Contentful.

I don't think we should worry about integrating it with the website's content _for now_

Now that the rerelease is out, we should focus on data to see what things should be changed, and given that structural changes are possible, it wouldn't make for a fun experience.

In terms of a BLOG. I don't think there's any reason that we can't also create a Gatsby app that uses Contentf

[2019-06-10 22:00] kylemh opened #585 "Use dynamic static export feature of Next.js"
# Feature request
@timneutkens reached out about the fact that our app is mostly static and that we can use an experimental feature to really speed things up 🚗💨

## Proposed solution
Add the following to `next.config.js`
[code]

Remove `getInitialProps` from `_app.js`

Move `isLoggedIn` logic of `_app.js` formerly within `getInitialProps` to be a part of `componentDidMount()`. Go off of client coo

[2019-06-11 23:26] kylemh commented on #585
Closed in #592

[2019-06-11 23:26] #585 closed

[2019-06-12 00:39] kylemh opened #595 "Dynamically generate sitemap.xml"
# Feature request
`sitemap.xml` is important for SEO reasons. It's not tightly coupled to any new pages created, so we could forget to update the file if we add pages. By automatically generating it when new pages are added, we'd be dong ourselves a big favor!

## Proposed solution
1) Create a script which dynamically generates `sitemap.xml`. [Here's a tutorial for that](https://dev.to/embiem/auto

[2019-06-12 08:32] kylemh opened #597 "Alert for social sign-ons is too big"
# Bug Report
## What is the current behavior?
When getting an error from social sign-ons (Facebook or Google), the Alert component renders too clumped up and too large.

## What is the expected behavior?
The alert that shows up is 1rem away from both the inputs and the social sign on buttons. It's also no wider than both the buttons combined (or 100% of the available space, whichever comes first)

[2019-06-12 08:36] kylemh opened #598 ""Logged out successfully" alert should go away after /login re-renders"
# Bug Report
## What is the current behavior?
If you logout, and then try to login again (but fail), the whole page re-renders, but the `loggedOut` query param still exists in the URL and the Alert still renders.

## What is the expected behavior?
After logging out and attempting to log back in, but getting an error (or refreshing the page), the Alert should go away and the URL should read: `https

[2019-06-12 08:43] kylemh opened #599 "Attempting to login w/ SSO w/ an existing email does not work"
# Bug Report
## What is the current behavior?
I registered `kylemh.email@gmail.com` thru the website's form.
When logged out, I tried to login to this email via the Google and Facebook SSO, but received the error: ```"User is already registered with this e-mail address"```.

## What is the expected behavior?
Either:
1) IDEAL: We authenticate the user as the originally created account. This seems f

[2019-06-12 08:43] kylemh commented on #599
@AllenAnthes 👀

[2019-06-12 08:51] kylemh opened #600 "Facebook SSO Login Doesn't Work On Mobile"
# Bug Report
## What is the current behavior?
When trying to use the Facebook login button on mobile via `www.operationcode.org/login`, I get the following view:
![Image from iOS](https://user-images.githubusercontent.com/9523719/59336933-5e8fe000-8cb4-11e9-940d-509d4f149a79.png)

## What is the expected behavior?
I should be directed to a Facebook login form

## What steps did you take to get thi

[2019-06-12 08:51] kylemh commented on #600
@AllenAnthes 👀

[2019-06-12 08:54] kylemh opened #601 "Facebook SSO on Desktop fails with unhelpful error"
# Bug Report
## What is the current behavior?
If a Facebook login fails (may or may not be because the email is tied to a form-registered user), we get an Alert that just says ```"Incorrect value"```

## What is the expected behavior?
Error should explain simply to a user what went wrong (and an action item if they can fix the issue themselves).

## What steps did you take to get this behavior?
-

[2019-06-12 08:54] kylemh commented on #601
@AllenAnthes  👀

[2019-06-12 12:58] AllenAnthes commented on #601
Looks like we've got a configuration mismatch somewhere.  The request from the BE to Facebook to verify the provided token is valid is failing.  When I use the development Facebook creds I get the correct error.
![image](https://user-images.githubusercontent.com/27715246/59353116-e04d3100-8ce7-11e9-9ca9-1a25b9be7247.png)

[2019-06-12 15:00] kylemh commented on #582
Blocked: https://github.com/OperationCode/back-end/issues/30

[2019-06-12 20:18] hollomancer opened #602 "Mobile browsing bug - logo disappears"
# Bug Report
## What is the current behavior?
The logo disappears when traversing the site
Pixel 2 - chrome.

## What is the expected behavior?
The logo does not disappear when traversing the site

## What steps did you take to get this behavior?
Reported on LinkedIn from Joseph Richardson

[2019-06-12 23:29] greenkeeper[bot] opened #603 "An in-range update of webpack is breaking the build 🚨"
## The dependency [webpack](https://github.com/webpack/webpack) was updated from `4.33.0` to `4.34.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fwebpack-4.34.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a direct dependency of this proj

[2019-06-13 02:58] osogrizz commented on #528
I can work on this, if it's open.

[2019-06-13 03:47] kylemh commented on #528
Feel free @osogrizz

We haven't updated documentation to reflect it yet, but we're no longer going to reserve issues.

Hit it if you can!

[2019-06-13 18:42] kylemh commented on #601
Resolved.

[2019-06-13 18:42] #601 closed

[2019-06-13 18:45] AllenAnthes commented on #599
We're not.  We send the confirmation email but it isn't actually required.  In order to make it required we'd have to rework the registration flow, since they'd have to confirm before they could access the `UpdateProfileForm`.

[2019-06-13 19:15] kylemh commented on #599
Can we do something corporeal that doesn't interrupt registration flow?

Example: User sees same flow, but is an "unverified" registrant. If they don't verify their email in X days, their account is deleted.

[2019-06-14 04:12] #600 closed

[2019-06-16 03:41] kylemh opened #608 "Forks Don't Record Cypress Videos"
# Bug Report
## What is the current behavior?
https://github.com/OperationCode/front-end/pull/606
https://circleci.com/gh/OperationCode/front-end/528?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

## What is the expected behavior?
All Cypress videos are recorded in CI

## What steps did you take to get this behavior?
Looked at logs

## Additional Info
### Is Th

[2019-06-16 03:42] kylemh commented on #602
If anybody reading this has a Pixel 2 w/ Chrome please attempt to replicate and report back!

[2019-06-16 09:55] #603 closed

[2019-06-16 18:56] ecaoile commented on #597
I'll take care of this.

[2019-06-16 21:20] #597 closed

[2019-06-16 22:51] kylemh commented on #582
https://github.com/OperationCode/back-end/issues/30

[2019-06-17 00:27] ecaoile opened #611 "Users can enter negative years of service in profile update form"
# Bug Report
## What is the current behavior?
Users are allowed to enter negative numbers for years of service. That's not physically possible.

## What is the expected behavior?
Users should only be able to enter positive numbers for years of service if they are claiming to be a military veteran.

## What steps did you take to get this behavior?
I logged into my account, went to the update profil

[2019-06-17 00:27] ecaoile commented on #611
I will take this issue. Just created the bug for reference.

[2019-06-17 19:35] AllenAnthes commented on #608
Fixed in circleCI configs

[2019-06-17 19:35] #608 closed

[2019-06-17 20:23] #528 closed

[2019-06-17 20:37] #611 closed

[2019-06-17 20:44] kylemh opened #614 "Create GitHub SSO button and integrate with endpoint"
# Feature request
We have the ability for users to register and login using Facebook and Google live. Now, we also have the ability to login and register using GitHub.

See 06/03/19 - deployed to test

See `/auth/social/github/` in [our API docs](https://api.operationcode.org/docs/)

## Proposed solution
- Create a GitHub SSO button (that is very similar in appearance to the existing SSO buttons)

[2019-06-17 20:46] kylemh commented on #581
Resolved #https://github.com/OperationCode/front-end/pull/596

[2019-06-17 20:46] #581 closed

[2019-06-17 20:56] #598 closed

[2019-06-18 13:56] AllenAnthes commented on #599
@kylemh Duct-tape implemented in backend.
![image](https://user-images.githubusercontent.com/27715246/59690290-ce1b3900-91a6-11e9-8fb3-75cb0636cd10.png)

[2019-06-18 18:32] #599 closed

[2019-06-18 18:32] kylemh commented on #599
ty

[2019-06-20 15:30] greenkeeper[bot] opened #617 "An in-range update of query-string is breaking the build 🚨"
## The dependency [query-string](https://github.com/sindresorhus/query-string) was updated from `6.7.0` to `6.8.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Fquery-string-6.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

query-string is a direct d

[2019-06-22 12:13] greenkeeper[bot] opened #621 "An in-range update of react-ga is breaking the build 🚨"
## The dependency [react-ga](https://github.com/react-ga/react-ga) was updated from `2.5.7` to `2.6.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Freact-ga-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-ga is a direct dependency of this pr

[2019-06-22 20:17] #617 closed

[2019-06-22 20:17] #621 closed

[2019-06-22 21:06] hollomancer commented on #584
Agreed. I think Gatsby would make a nice MVP.

So, breaking this down;
1. Design work for blog
2. Frontend implementation of Gatsby under /blog
3. Migration of content from Medium to Contentful

What else?

[2019-06-22 21:52] juliantrueflynn commented on #578
I'm doing this

[2019-06-22 22:38] kylemh commented on #584
In terms of researching a bit more, we could go [this route](https://medium.com/the-couch/preview-for-your-contentful-gatsby-site-with-next-js-1a871bc58c36) which seems a bit difficult to maintain.

Are we hoping for the SEO benefits that typically come with a blog, or is that just a nice bonus behind having a space for us to express ourselves?

- If we care about tying the content to our actual w

[2019-06-22 23:12] juliantrueflynn opened #625 ""Warning: React does not recognize the `trackerNames` prop on a DOM element.""
# Bug Report
## What is the current behavior?
Browser console error in title

## What steps did you take to get this behavior?
Opened /contact page and looked at browser console

## Additional Info
### Operating System
Ubuntu 16.04

### Browser
Chromium

### Is This A Third-Party Issue?

### Screenshots

[2019-06-22 23:12] #578 closed

[2019-06-22 23:13] kylemh commented on #625
saw this as well. This comes for the ReactGA lib. I didn’t spend time to see if I could prevent it.

[2019-06-22 23:52] juliantrueflynn commented on #625
@kylemh for sake of record: we talked on Slack and latest react-ga update caused this. Reverting to 2.5.7 seemed to remove console error and submitting PR.

I'm going to see if react-ga is open to a PR to fix this too.

[2019-06-23 19:48] #625 closed

[2019-06-23 23:32] juliantrueflynn commented on #582
We don't have to worry about any cross domain tracking, right? Everything is from operationcode.org?

[2019-06-24 04:46] kylemh commented on #582
as long as `www` subdomain is caught too!

[2019-06-24 11:47] greenkeeper[bot] opened #627 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

es

[2019-06-25 00:14] #627 closed

[2019-06-25 13:17] greenkeeper[bot] opened #630 "An in-range update of @testing-library/react is breaking the build 🚨"
## The devDependency [@testing-library/react](https://github.com/testing-library/react-testing-library) was updated from `8.0.2` to `8.0.3`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2F%40testing-library%2Freact-8.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the buil

[2019-06-25 16:39] #630 closed

[2019-06-26 04:39] kylemh opened #635 "Add names to all-contributors section"
Gonna have a conversation with a bot  ❤️

[2019-06-26 06:54] #635 closed

[2019-06-28 17:57] hollomancer commented on #176
Closing this for now - anonymous rating of code schools gets us into Course Report / Switchup territory and we won't have the capacity to do that just yet.

[2019-06-28 17:57] #176 closed

[2019-06-28 17:57] hollomancer opened #638 "Add ability to filter by VET-TEC on code schools page"
# Feature request
More coding bootcamps are being approved to accept VET-TEC as part of the new Forever GI Bill, and we should find a way to highlight them.

## Proposed solution
A way to view on our Code Schools page, which schools accept VET-TEC money.

## Additional context
List of approved schools is at https://benefits.va.gov/GIBILL/FGIB/VetTecTrainingProviders.asp

[2019-06-28 18:08] kylemh commented on #638
I don't think we'll need a design or mock. Should be simple enough to add another filtering mechanism.

The code schools page needs some polish anyways. I'll tackle this tonight.

[2019-06-28 18:09] kylemh commented on #638
Blocked by needing new field on back-end for code_schools endpoint... Making ticket on back-end.

I can do some, but not all the work needed for this!

[2019-06-28 18:20] kylemh commented on #638
Linked issue to blocking back-end ticket.

[2019-06-28 20:18] kylemh commented on #638
Unblocked. Field now exists as `isVetTecApproved`

[2019-06-28 21:09] hollomancer commented on #638
Do we need any design for an icon or something like that?

[2019-06-28 23:29] kylemh commented on #638
Gimme a shot, and lemme know what ya think?

[2019-06-30 10:40] SpaceGuru01 commented on #602
Seems to be working using the Chrome Dev Tools Device. I'll see if I can get my emulator to work.

[2019-06-30 22:32] kylemh commented on #602
Gonna go ahead and close this ticket. If somebody sees this issue, please include reproduction steps!

[2019-06-30 22:32] #602 closed

[2019-07-02 17:15] greenkeeper[bot] opened #642 "An in-range update of axios-mock-adapter is breaking the build 🚨"
## The devDependency [axios-mock-adapter](https://github.com/ctimmerm/axios-mock-adapter) was updated from `1.16.0` to `1.17.0`.

🚨 [View failing branch](https://github.com/OperationCode/front-end/compare/master...OperationCode:greenkeeper%2Faxios-mock-adapter-1.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

axios-

[2019-07-03 16:23] #642 closed

[2019-07-07 07:57] sumitparakh commented on #595
Hey, I wanna do this.

[2019-07-07 21:27] IAMOTZ commented on #14
Hi @kylemh
I would like to work on this.

[2019-07-08 01:05] kylemh commented on #14
@IAMOTZ feel free to dive in! I look forward to seeing your work.

[2019-07-08 01:05] kylemh commented on #595
@sumitparakh jump in!

[2019-07-09 20:01] Shobhit1 commented on #614
If no one takes this, I can give it a try. Please let me know what is the expected time span for this feature/issue?

[2019-07-09 20:11] kylemh commented on #614
No timespan, @Shobhit1 - feel free to grab it at your earliest convenience.

[2019-07-13 12:47] jack-robs opened #661 "Create /resources page"
# Feature request
Link for ResApi to front end, ResApi = project led by Aaron S.

## Proposed solution
Hi All! Here is the first draft to the Resources Page. Let me know what you think. The idea is for the landing page to show the featured resources as default (not shown here) and then allowing users to select by either resource type (books, videos) and/or narrow search by typing specific key word

[2019-07-13 12:47] jack-robs commented on #661
cc @aaron-suarez @kylemh

[2019-07-13 12:57] jack-robs opened #662 "Remove `Reserving Issues` Guidance"
# Feature request
Update FE docs to remove reserving issues

## Proposed solution
Edit this page, make pr: https://github.com/OperationCode/front-end/blob/master/CONTRIBUTING.md

## Potential alternative solutions
n/a

## Additional context
As a FOSS project with limited ability for oversight, we'd like to de-friction the user interest -> user PR process.

[2019-07-13 12:59] jack-robs opened #663 "Getting Data from Sessions for Analytics"
# Feature request
-Get data from sessions and use it for user-base analytics, and then build telemetry into Slack channel to support week-over-week goals.

## Proposed solution
Unk so far - Research

## Potential alternative solutions

## Additional context

[2019-07-13 13:03] jack-robs opened #664 "Accessibility: Navigation submenus should only have 1 open at any time"
# Feature request
for keyboard accessibiity is when another submenu opens, if another is already open, close the previously opened one so that if someone using a screenreader tabs backwards, they're aware of the current context.

## Proposed solution
Unk - research/propose one w/ PR as well

## Potential alternative solutions
n/a

## Additional context
A11Y audit

[2019-07-13 13:05] jack-robs opened #665 "Aria adjustment, related to submenu behavior"
# Feature request
`Aria` needs some tweaking

## Proposed solution
Currently you have `aria-expanded`, `aria-haspopup` on the links to main pages, such as _About_. But this isn't true. When you use a screenreader and tab to the link, your screenreader will indicate that it has a popup, so the user expects that when they hit <kbd>enter</kbd>, a menu will pop up, when in reality pressing <kbd>Enter<

[2019-07-14 01:11] kylemh commented on #426
Closed in #531

[2019-07-14 01:11] #426 closed

[2019-07-14 01:33] kylemh commented on #665
Resolved in #667

[2019-07-14 01:33] #665 closed

[2019-07-14 19:20] kylemh commented on #663
Assigning this one back to you!

[2019-07-14 19:20] kylemh commented on #662
On it

[2019-07-14 21:47] cbituin opened #674 "Update download behavior in /podcast"
# Bug Report
## What is the current behavior?
All media/.mp3 files download simultaneously.

## What is the expected behavior?
After navigating to the page, the media file should only download after the user clicks the "play" button.

## What steps did you take to get this behavior?
Navigate to https://operationcode.org/podcast

[2019-07-15 17:08] jack-robs commented on #663
haha I wish I had the tech chops to implement... I can track down some resources though

[2019-07-15 17:24] kylemh commented on #663
Sorry. I was confused by this ticket. We do track a lot of data from sessions. What would you like to see specifically in Slack?

[2019-07-15 18:15] cbituin opened #681 "Navigating to /podcast page broken for Safari and Edge"
# Bug Report
## What is the current behavior?
Users reporting 404 error when refreshing page or navigating to page from footer.

## What is the expected behavior?
The /podcast page should load regardless

## What steps did you take to get this behavior?
Navigate to operationcode.org, click "Podcast" link under "Deploy the Future" or within footer.

## Additional Info
### Operating System

### Brow

[2019-07-15 18:19] rsupak commented on #681
<img width="1267" alt="Screen Shot 2019-07-15 at 1 56 20 PM" src="https://user-images.githubusercontent.com/28311826/61238851-8509c680-a70b-11e9-95dd-efc8b3f1cfaa.png">

[2019-07-15 18:20] kylemh commented on #661
Blocked by #448 and #447

[2019-07-15 18:21] kylemh commented on #681
Appended to OP @rsupak

[2019-07-15 18:27] #595 closed

[2019-07-15 18:32] sumitparakh commented on #397
Is this issue still open for all?

[2019-07-15 18:34] kylemh commented on #397
Yes. I wouldn't recommend taking it on. @KrDimitrov got as far as we can possibly go without changing the source code of dependencies we rely on.

`next-css` simply needs to be changed a lot.

[2019-07-15 18:55] IAMOTZ commented on #14
Hi @kylemh
I just finished creating the first version of the Github app. Since its a whole project on its own and I don't know where to fit it in this repository, I've pushed it to a repository [here](https://github.com/IAMOTZ/pr-bot). I have installed and tested it out on some of my repos and it works fine.
You can test it out by creating a PR that affects the files in the `common` or `components

[2019-07-15 19:08] kylemh commented on #14
Very cool idea to separate the project into it's own repo!

I made a test PR in that repo, but the PR didn't receive a comment.

One way you can abstract this bot better is to allow the message itself to be customizable. You can do it in the way that you allowed for customization of the file paths, but perhaps somebody wants to have different messages depending on what files are changed!

In that

[2019-07-15 19:46] IAMOTZ commented on #14
Thanks a lot for the feedback @kylemh, the suggestions are definitely something I would work on.

About the PR you created that did not receive a comment, it's because the project is deployed on my local machine and my machine was not active when you tested it. I would try to deploy the project to Heroku ASAP so as to make it easier to test. I would let you know as soon as I'm done with this.

How

[2019-07-15 20:23] kylemh commented on #14
Would you like to integrate this bot as part of OperationCode?

I have no qualms about that, but I figured that you might want control of the repository, being its creator.

[2019-07-17 20:06] #681 closed

[2019-07-17 20:10] kylemh opened #688 "Remove rss-parser in exchange for fast-xml-parser"
# Feature request
`rss-parser` is big and isn't even working correctly for us. See #681

`axios` can handle XML responses provided we use a parsing library:
https://github.com/axios/axios/issues/667

This will decrease the bundle of the podcasts page substantially and we can better control the downloading behavior of the individual podcasts later on down the line for #674

## Proposed solution
- [

[2019-07-18 16:48] #688 closed

[2019-07-18 21:03] kylemh opened #690 "Upgrade node version"
# Feature request
We're currently referencing Node 8 in `.nvmrc`, our CircleCI image, and our documentation. Let's bump that up to v10@latest since 8 is in extended support now.

## Proposed solution
- [ ] Change `.nvmrc` to 10.16.0
- [ ] Change CircleCI node version to 10.16.0
- [ ] (may not be required) Change documentation to point to `.nvmrc` if a version is hard-coded.

[2019-07-19 00:42] kylemh commented on #674
At a high level, we simply don't want podcasts to download until _after_ somebody clicks the play button. This can be accomplished a number of ways, but the **best** way would be to communicate with the `react-player` GitHub repo on how to achieve the functionality.

The **easiest** way might be to ditch the player and create our own. Note: I don't mean to imply it's easy, but that it's easier tha

[2019-07-21 19:59] #690 closed

[2019-07-21 20:42] #522 closed

[2019-07-21 21:23] #674 closed

[2019-07-21 23:36] tfquirk commented on #614
I would be happy to work on these three deliverables

[2019-07-22 00:26] kylemh commented on #614
You'll wanna message @AllenAnthes and work on the [back-end](https://github.com/OperationCode/back-end) first

[2019-07-22 17:34] rsupak opened #700 "Navigating to Update Profile page broken for Safari and Edge"
# Bug Report
## What is the current behavior?
When clicking on the Update Profile button, the 404 Error page is displaying. However, if you reload the page I am taken to the correct site.

## What is the expected behavior?

## What steps did you take to get this behavior?
I logged in and pressed the Update Profile button

## Additional Info
### Operating System
Mac OSX, Windows 10
### Browser
Safa

[2019-07-22 23:41] #638 closed

[2019-07-23 18:30] kylemh opened #703 "IntersectionObserver requires a polyfill for some browsers"
# Bug Report
## What is the current behavior?
We're using IntersectionObserver since #691, but I forgot to ship a polyfill with it for Safari, Edge, and IE11. The Images likely will break in those browsers 😞

## What is the expected behavior?
The new image component work in all browsers.

## What to do:
https://github.com/w3c/IntersectionObserver/tree/master/polyfill

`yarn add intersection-observ

[2019-07-27 08:28] #703 closed

[2019-07-28 16:10] #700 closed

[2019-07-28 20:31] aaron-suarez commented on #661
We're in the process of adding a new endpoint to the Resources API for bulk creation of resources. If possible, we'd like the resource create form to have an options to add additional resources before clicking submit. @Brantron had a few comments regarding this:

[2019-07-29 02:56] Brantron commented on #661
I've done something like this before, the way we did it was to manually set a key on the component that held the form and it's state. Then when we got a 200 the key would change. This means the entire form, including internal state, was reset.

[2019-07-29 03:14] kylemh commented on #661
@aaron-suarez if you have the fields you expect from a resource creation documented, I can create a ticket for the creation of _at least_ the single resource add form, and we could talk about bulk later.

[2019-07-29 03:20] kylemh opened #712 "Add LogRocket as a sponsor"
# Feature request
We advertise every organization that supports us. LogRocket is giving us 2,500 recorded sessions a month instead of the usual 1,000 for OSS plans. ❤️ We have to add them to the sponsors section!

## Proposed solution
Add them!

[2019-07-29 10:00] Lianis-OperationCode opened #713 "Add Leadership Circle recognition to website"
# Bug Report
## What is the current behavior?
No recognition on [the leadership circle page](www.operationcode.org/leadership_circle), when there should be.

## What is the expected behavior?
Recognition of all donors in the following shape, underneath the first section on www.operationcode.org/leadership_circle

### Simple mock
![Screen Shot 2019-08-08 at 2 21 26 PM](https://user-images.githubuse

[2019-07-29 10:03] Lianis-OperationCode opened #714 "Update list of Corporate Sponsors on website"
# Bug Report
## What is the current behavior?
Cash and in kind sponsors are listed together, when this isn't fair to folks who paid.

## What is the expected behavior?
Distinguish between paying and in kind sponsors by making paid logos larger and group together, while listing others in a separate manner with smaller logos. Paid sponsors are US Bank, Threatstack and Slack.

[2019-07-29 20:02] kylemh commented on #523
Unblocked by #691

[2019-07-29 20:12] kylemh commented on #714
Would love to get a mock of this from design @jack-robs

[2019-07-29 20:14] kylemh commented on #713
@Lianis-OperationCode

Obviously this list is pretty dynamic... Unless we're storing this information somehow, the best way may be to create a public google doc (read-only) and that way David (or whoever) can update the list and rest assured people seeing the list from the website will be kept in sync.

Thoughts?

[2019-07-30 13:40] IAMOTZ commented on #14
Hi @kylemh
Sorry for the late response, my days have been pretty busy.
I've tried implementing your feedback by making the file paths and messages the app uses customizable. Now, you can have multiple file paths with different messages attached to them.

I also utilized the [Github App Manifest](https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/)  to make

[2019-07-30 13:57] Lianis-OperationCode commented on #713
Hi Kyle,

I created the list like you suggested. Let me know if something like
this works.

https://docs.google.com/spreadsheets/d/14KWiUCOyKnxBh9q992WbFLDCrpyAcH2zeeQevUhrKus/edit?usp=sharing

Thanks,

Lianis

On Mon, Jul 29, 2019 at 4:14 PM Kyle Holmberg <notifications@github.com>
wrote:

[2019-07-31 10:31] IAMOTZ commented on #712
Hi @kylemh
I would like to work on this.

[2019-07-31 10:52] IAMOTZ commented on #712
It seems the logo for this sponsor has to be hosted in an s3 bucket, please can you help with the link(or path) to the logo? Thanks.

[2019-07-31 11:52] IAMOTZ commented on #527
Hi @kylemh
I would like to claim this issue

[2019-07-31 15:37] kylemh commented on #527
We're no longer dealing with claiming issues, so feel free to tackle it without attempting to reserve it!

[2019-07-31 15:41] kylemh commented on #712
Added!

```https://operation-code-assets.s3.us-east-2.amazonaws.com/partnerLogos/logrocket.png```

[2019-08-02 18:02] IAMOTZ commented on #712
Hi there!
I noticed all the other sponsor logos are of the dimension 100x100, however, the LogRocket logo you posted above has a dimension of about 459x100, this really affects the layout of the logos. Do you want me to add it like that or you are going to resize the image?

[2019-08-02 18:13] kylemh commented on #712
I'll fix the image for you. Apologies.

[2019-08-02 18:19] kylemh commented on #712
Done 💥

[2019-08-02 18:28] IAMOTZ commented on #712
Cool. I've got the PR here: https://github.com/OperationCode/front-end/pull/715

[2019-08-02 18:49] #712 closed

[2019-08-05 11:35] IAMOTZ commented on #527
Hi @kylemh
I was able to prepare something, please check it out and let me know what you think:

The form with a progress indicator bar and a text stating how much of the form is completed and how much is left:
![Screen Shot 2019-08-05 at 12 23 28 PM](https://user-images.githubusercontent.com/26048536/62461445-b7439c80-b77c-11e9-903b-d23a640287d2.png)

Assuming one part of the form is already fill

[2019-08-05 21:20] kylemh commented on #527
Just waiting on @Wimsy113 to provide feedback.

For the code: however you implement this, I'd prefer it not to have too tight of an integration with the MultiStepForm component. If it does, I'd prefer it be a render prop at most.

[2019-08-07 10:51] IAMOTZ commented on #447
I would like to work on this issue.

[2019-08-08 01:44] bdJohnson72 commented on #448
I would like to take this one as part of the Front End incubator.

[2019-08-08 20:59] kylemh opened #726 "Mobile navigation is not scrollable"
# Bug Report
## What is the current behavior?
When on mobile, a hamburger menu is shown on the page header which - when clicked - reveals the **mobile navigation** (`NavMobile`). That view is not able to scroll; not all items are visible.

## What is the expected behavior?
When a mobile user attempts to scroll within the `NavMobile` it should scroll the list of navigation links - not the rest of t

[2019-08-08 21:49] kylemh opened #727 "LinkedIn meta images are inconsistent and incorrect"
# Bug Report
## What is the current behavior?
Sharing links on LinkedIn reveals inconsistent images, and they're all either incorrect or revealed as a bad ratio.

## What is the expected behavior?
It looks perty

## What steps did you take to get this behavior?
Shared `https://www.operationcode.org/` on LinkedIn

## Additional Info
- [Info on reqs from LinkedIn](https://www.linkedin.com/help/linke

[2019-08-08 21:51] kylemh opened #728 "Make the `Heading` component act as scroll anchor"
# Feature request
As a user, I'd love to be able to scroll to specific sections of our pages and link people to that exact section.

https://css-tricks.com/essential-meta-tags-social-media/#article-header-id-1

is different scroll position, but same page as

https://css-tricks.com/essential-meta-tags-social-media

## Proposed solution

## Potential alternative solutions

## Additional context

[2019-08-08 21:51] kylemh opened #729 "Make the `Heading` component act as scroll anchor"
# Feature request
As a user, I'd love to be able to scroll to specific sections of our pages and link people to that exact section.

**Example:**
https://scrollmagic.io/examples/advanced/anchor_link_scrolling.html#middle

## Proposed solution
Make edits to the `Heading` component to render a link icon (use [this icon from FontAwesome](https://fontawesome.com/icons/link?style=solid)), but condition

[2019-08-08 22:01] #728 closed

[2019-08-10 18:27] walleyyang commented on #729
I'll work on this.

[2019-08-10 19:10] danielasannino commented on #664
Will tackle this one.

[2019-08-12 07:43] #662 closed

[2019-08-12 17:42] cbituin commented on #713
@kylemh @Lianis-OperationCode I've taken the list a step further - if we use a Google Form for intake (very user friendly and can be updated from any device), the updates automatically feed into a Google Sheet (similar to the previous Sheet created above). If you're good with that, perhaps we can use Google's Sheets API to dynamically update /leadership_circle.

Example of Google Form used:
![imag

[2019-08-12 18:10] kylemh commented on #713
I appreciate the effort, but we've actually elected to simply hard-code the benefactors until the dynamacy of their number becomes a problem. We've had the program going for over a year, and have fewer than 15 people.

[2019-08-13 10:23] kevinkiklee commented on #727
Posting this for reference to whoever is tackling this:  https://ogp.me/

This isn't just for LinkedIn, but for every time the website is shared.  It needs to follow the OG protocol for OpCode site to not look like ass everywhere.

[2019-08-23 13:18] Austinmoore1492 commented on #726
I don't have a way to test it out right now but just messing with the inspect element on Chrome and FireFox if I removed the positon: fixed; from the NavMobile class and removing the 100vh height on the dropdown class it allows to scroll but it does make everything scroll-able. So you can scroll down with the menu still open. May not be the ideal fix but I can look more when I have access to VS Co

[2019-08-23 17:16] kylemh commented on #726
For the styles applied to the `ul` in the `NavMobile` component, you simply need to add: `height: 100%;` and `overflow-y: auto;`

[2019-08-23 17:21] jmayergit commented on #726
I've used the [body-scroll-lock](https://www.google.com/search?q=body+scroll+lock&rlz=1C5CHFA_enUS782US782&oq=body+scroll+lock&aqs=chrome..69i57j0l2j69i60l3.3913j1j7&sourceid=chrome&ie=UTF-8) package to prevent scrolling

[2019-08-23 17:51] Austinmoore1492 commented on #726
Easy enough.
I think the ul already has overflow-y set to auto, so you should only have to add the height: 100%;

[2019-08-23 17:54] Austinmoore1492 commented on #726
I need something like body-scroll-lock for project, thank you for mentioning it @jmayergit

[2019-09-04 17:33] sumitparakh opened #766 "Migration to typescript"
# Feature request

I see that we are using prop-types for basic type checking. But instead of prop-types, why don't we use typescript and experience better type safety environment? Is there any
future plan for migrating to typescript?

## Proposed solution

If there is any migration plan, I would love to contribute.

## Potential alternative solutions

## Additional context

[2019-09-04 17:36] kylemh commented on #766
I have no plans for that, but am interested in hearing from existing contributors on whether or not it's something they desire.

While PropTypes are often considered fragile, we have a Jest plugin that throws an error if there’s ever a PropType error/warning so it’s a bit of a stricter system. I - personally - have not seen issues in this project which TS would resolve.

[2019-09-04 17:40] ksmacleod99 opened #767 "Copy Update: Who Do We Serve page"
# Feature request
Update the current copy on the first full paragraph of https://operationcode.org/who_we_serve to the provided copy below (exclude quotation marks, please).

## Proposed solution
"We work closely with military veterans, service members, and spouses who are passionate about transitioning into the tech industry. We work with over 5,000 members who are all working towards relevant go

[2019-09-04 17:44] ksmacleod99 opened #768 "Add Copy: Join page"
# Feature request
Add the same copy from the _Who Do We Serve_ page to the _Join_ page (https://operationcode.org/join), just in case someone bypasses the information. Everything but the quotation marks, please.
Related issue: #767

## Proposed solution
"We work closely with military veterans, service members, and spouses who are passionate about transitioning into the tech industry. We work with

[2019-09-04 17:48] ksmacleod99 opened #769 "Add Copy: Profile Page"
# Feature request
Please add the following paragraph to the Profile page (https://operationcode.org/profile) - everything but the quotation marks.

## Proposed solution
"The information we collect is to help us personalize your experience on our Slack community. We do not sell your information to anyone. "

[2019-09-04 17:50] ksmacleod99 opened #770 "Add Copy: Military Status in registration workflow"
# Feature request
Please add the following paragraph to the Military Status component in the registration workflow. Add everything but the quotation marks.

## Proposed solution
"We welcome anyone to join Operation Code! But many of our services are only for veterans or spouses."

[2019-09-04 17:59] ksmacleod99 opened #771 "Registration success page"
# Feature request
In order to improve the on-boarding/registration workflow, could we create a 'Registration Success' page before the user is redirected to their profile?

## Proposed solution
A page that has next steps such as:
"Check your email for an invitation to our Slack Community (or click here)"
"What is Slack?"
"Go to your profile page"
"Check out some resources"

## Potential alternative

[2019-09-08 07:58] sumitparakh commented on #614
Hey, is back-end ready? If yes, i wanna implement the front end part.

[2019-09-08 17:15] kylemh commented on #614
@AllenAnthes

[2019-09-09 18:25] kylemh commented on #770
Suggest: `Please note that many...` instead of starting a sentence with `But`.